<div class="page-header-band-search search-ht-color">
        <div class="page-header-band-search-div">
                <div class="col-lg-12 search-header-inner">
                        <div class="col-md-3 div-search ">
                                <div class="search-block">
                                        <div class="form-input-icon form-input-icon-right">
                                                <i class="icmn-search"></i>
                                                <form>
                                                        <input type="text" [(ngModel)]="searchParam" name="searchParam" class="form-control form-control-sm search-input" name="search"
                                                                maxlength="35" id="textsearch" placeholder="Search" (keyup.enter)="searchData()">
                                                        <a type="button" [routerLink]="['/',module,'search','search-results']" [queryParams]="{keyword:(searchParam != undefined) ? searchParam : ''}"
                                                                routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
                                                                class="search-block-submit "></a>
                                                </form>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-9 aplhabets-div  ">
                                <ul class="categoryList  font-white">
                                        <li><a type="button" popover="Total Records : {{all}}" placement="bottom" triggers="mouseenter:mouseleave" container="body" class="btn-info categoryButton all" (click)="searchParam=''"
                                                        value="All"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'all'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">All</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['a']}}" placement="bottom" triggers="mouseenter:mouseleave" container="body" class="btn-info categoryButton a"  (click)="searchParam=''"
                                                        value="A"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'A'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">A</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['b']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton b"  (click)="searchParam=''"
                                                        value="B"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'B'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">B</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['c']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton c"  (click)="searchParam=''"
                                                        value="C"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'C'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">C</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['d']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton d"  (click)="searchParam=''"
                                                        value="D"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'D'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">D</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['e']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton e"  (click)="searchParam=''"
                                                        value="E"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'E'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">E</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['f']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton f"  (click)="searchParam=''"
                                                        value="F"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'F'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">F</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['g']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton g"  (click)="searchParam=''"
                                                        value="G" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'G'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">G</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['h']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton h"  (click)="searchParam=''"
                                                        value="H" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'H'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">H</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['i']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton i"  (click)="searchParam=''"
                                                        value="I"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'I'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">I</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['j']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton j"  (click)="searchParam=''"
                                                        value="J"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'J'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">J</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['k']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton k"  (click)="searchParam=''"
                                                        value="K"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'K'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">K</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['l']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton l"  (click)="searchParam=''"
                                                        value="L"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'L'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">L</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['m']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton m"  (click)="searchParam=''"
                                                        value="M"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'M'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">M</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['n']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton n"  (click)="searchParam=''"
                                                        value="N" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'N'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">N</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['o']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton o"  (click)="searchParam=''"
                                                        value="O" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'O'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">O</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['p']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton p"  (click)="searchParam=''"
                                                        value="P"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'P'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">P</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['q']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton q"  (click)="searchParam=''"
                                                        value="Q" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'Q'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Q</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['r']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton r"  (click)="searchParam=''"
                                                        value="R"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'R'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">R</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['s']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body"class="btn-info categoryButton s"  (click)="searchParam=''"
                                                        value="S"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'S'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">S</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['t']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton t"  (click)="searchParam=''"
                                                        value="T"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'T'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">T</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['u']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton u"  (click)="searchParam=''"
                                                        value="U"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'U'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">U</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['v']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton v"  (click)="searchParam=''"
                                                        value="V" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'V'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">V</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['w']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton w"  (click)="searchParam=''"
                                                        value="W"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'W'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">W</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['x']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton x"  (click)="searchParam=''"
                                                        value="X"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'X'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">X</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['y']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton y"  (click)="searchParam=''"
                                                        value="Y"  [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'Y'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Y</a></li>
                                        <li><a type="button" popover="Total Records : {{popupArray['z']}}" placement="bottom" triggers="mouseenter:mouseleave"  container="body" class="btn-info categoryButton z"  (click)="searchParam=''"
                                                        value="Z" [routerLink]="['/',module,'search','search-results']"
                                                        [queryParams]="{key:'Z'}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Z</a></li>
                                        <li><a type="button"  class="btn-info categoryButton num" value="#" (click)="searchParam=''"
                                                        [routerLink]="['/',module,'search','search-results']" [queryParams]="{key:'#'}"
                                                        routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">#</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>