  @media (max-width: 1079px) {
      .page-header-band-search {
          padding-bottom: 0px;
          padding-top: 0px;
      }
  }
  
  @media (max-width: 1200px) {
      .page-header-band-search {
          left: 0px !important;
          z-index: 100;
          width: 100%;
      }
  }

.client-search-band>.page-header-band-search{
    top:115px;
    border: 1px solid #dfe4ed;
}

.popover {
    width: 158px !important;
    border-color: #13a9cc !important;
}

.popover.popover-bottom .popover-arrow {
    top: -8px;
    margin-left: -2px;
}
.popover-content {
    font-size: 15px;
    color: #13a9cc;
    padding: 5px 14px;
}