<!--  View For Lookup screen-->
<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer" [routerLink]="['/admin/summary']">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Products</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<!--  Container Start-->
<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12 border-ddd  width-100">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <ul class="list-unstyled breadcrumb header-breadcrumb">
                        <li>
                            <a href="javascript: void(0);">Master Data</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">Products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-xs-6 pull-right" align="right" style="padding: 14px 5px;">
                    <a class="btn  btn-modal-blue" role="button" (click)="newProduct()"><i class="fa fa-plus"></i>  &nbsp;Add Product</a>
                </div>
            </div>
            <div class="row panel">
                <caption class="datatable-caption">Manage Products</caption>
                <div class="form-inline">
                    <div class="form-group pull-right padding-10">
                        <label for="email"><b>Search:</b></label>
                        <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
                    </div>
                </div>
                <table class="table table-hover table-bordered table-striped" [mfData]="products | productsFilter : filterQuery" #prod="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

                    <thead>
                        <tr class="tr-blue-grid-head">
                            <th class="text-center">
                                <mfDefaultSorter by="product_name">Product Full Name</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="product_name">Product Name</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="product_type">Product Type</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="account_manager">Requires Account Manager</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="applicable_year">Applicable Year</mfDefaultSorter>
                            </th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="prod.data?.length">
                            <tr *ngFor="let product of prod.data">
                                <td class="text-center"><a (click)="updateProduct(product)" class="tbl-col-link">{{product.product_full_name}}</a></td>
                                <td *ngIf="!product.product_full_name" class="text-center"><a (click)="updateProduct(product)" class="tbl-col-link">{{product.product_name}}</a></td>
                                <td *ngIf="product.product_full_name" class="text-center">{{product.product_name}}</td>
                                <td class="text-center">{{(product.product_type) == 1 ? "Full Service" : ((product.product_type) == 2 ? "Self Service" : ((product.product_type)== 3 ? "Enhanced" : ""))}}</td>
                                <td class="text-center"><a class="color-blue-link" (click)="accountManagerStatus(product)">{{(product.account_manager) == 1 ? "Yes" : "No"}}</a></td>
                                <td class="text-center">{{product.applicable_year}}</td>
                                <td class="text-center product-delete-action">
                                    <a title="delete" (click)="deleteProduct(product)" style="cursor: pointer;color:red;">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                        <tr class="tr-text-center" *ngIf=!prod.data?.length>
                            <td colspan="7">
                                No records are found
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Container End-->

<!-- Add product Modal -->
<div class="modal fade" bsModal #ProductsModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="closeModal()">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    {{modalTitle}}
                </h4>
            </div>
            <form [formGroup]="_productForm" (ngSubmit)="onSubmit()">
                <div class="modal-body row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="form-control-label">Applicable Year <span class="red">*</span></label>
                            <div class="form-group required" [ngClass]="{'has-danger': !_isValid('applicable_year')}">
                                <select class="form-control" [formControl]="_productForm.controls['applicable_year']" [(ngModel)]="productSelected.applicable_year" [ngClass]="{'form-control-danger': !_isValid('applicable_year')}">
                                   <option  disabled [value]="null">Select</option>
                                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                                </select>
                                <span class="help-block help-block-error" *ngIf="!_formErrors.applicable_year.valid">{{_formErrors.applicable_year.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-label">Product Name <span class="red">*</span></label>
                            <div class="form-group required" [ngClass]="{'has-danger': !_isValid('product_name')}">
                                <input type="text" inputFilter="true" class="form-control" [formControl]="_productForm.controls['product_name']" [(ngModel)]="productSelected.product_name" [ngClass]="{'form-control-danger': !_isValid('product_name')}">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.product_name.valid">{{_formErrors.product_name.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="form-control-label">Product Type <span class="red">*</span></label>
                            <div class="form-group required" [ngClass]="{'has-danger': !_isValid('product_type')}">
                                <select class="form-control" [formControl]="_productForm.controls['product_type']" [(ngModel)]="productSelected.product_type" [ngClass]="{'form-control-danger': !_isValid('product_type')}">
                                <option disabled [value]="null">Select</option>
                                <option *ngFor="let productType of productTypes" [value]="productType.id">{{productType.service}}</option>
                            </select>
                                <span class="help-block help-block-error" *ngIf="!_formErrors.product_type.valid">{{_formErrors.product_type.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-label">Requires Account Manager <span class="red">*</span></label>
                            <div class="form-group" [ngClass]="{'has-danger': !_isValid('account_manager')}">
                                <label class="radio-inline">
                            <input type="radio" [value]="1" [formControl]="_productForm.controls['account_manager']" [(ngModel)]="productSelected.account_manager" [ngClass]="{'form-control-danger': !_isValid('account_manager')}">Yes
                            </label>
                                <label class="radio-inline">
                            <input type="radio" [value]="0" [formControl]="_productForm.controls['account_manager']" [(ngModel)]="productSelected.account_manager" [ngClass]="{'form-control-danger': !_isValid('account_manager')}">No
                            </label>
                                <span class="help-block help-block-error" *ngIf="!_formErrors.account_manager.valid">{{_formErrors.account_manager.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer footer-background">
                    <button type="submit" class="btn btn-primary btn-blue" [disabled]="!_productForm.valid || _submitted == true">
				  Save</button>
                    <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
                </div>
            </form>
        </div>

    </div>

</div>
<!-- ./Add Product Modal -->
<app-delete-confirmation #deleteModal (confirmed)="okDelete()"></app-delete-confirmation>