<!--  View For Lookup screen-->
<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Home</a>
            </li>
            <li>
                <a href="javascript: void(0);">Profile</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<div class="page-content col-md-12 dashboard-page-content">
    <div class="container">
        <!--  <div class="form-group" align="right">
        <a class="btn  btn-modal-blue" [routerLink]="['/admin/profile/add-admin-user']"><i class="fa fa-plus" aria-hidden="true"></i> Add Admin User</a>
    </div> -->
        <div class="col-md-12  padding-0 alert-div">
        </div>
        <form [formGroup]="_currentUserForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 border-ddd widget padding-15">
                <div class="col-md-12 padding-0">
                    <div class="col-md-4">
                        <div class="">
                            <label class="form-control-label">First Name*</label>
                            <div class="form-group required" [ngClass]="{'has-danger': !_isValid('first_name')}">
                                <input type="text" class="form-control" [formControl]="_currentUserForm.controls['first_name']" [(ngModel)]="currentProfile.first_name" [ngClass]="{'form-control-danger': !_isValid('first_name')}" maxlength="34">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.first_name.valid">{{_formErrors.first_name.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label class="form-control-label">Last Name*</label>
                            <div class="form-group field-adminusers-last_name required" [ngClass]="{'has-danger': !_isValid('last_name')}">
                                <input type="text" id="adminusers-last_name" class="form-control" [formControl]="_currentUserForm.controls['last_name']" [(ngModel)]="currentProfile.last_name" [ngClass]="{'form-control-danger': !_isValid('last_name')}" maxlength="34">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.last_name.valid">{{_formErrors.last_name.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label class="form-control-label">Status</label>
                            <div class="form-group field-adminusers-last_name required">
                                <span id="adminusers-status" class="form-control" readonly>{{(currentProfile.is_active) == 1 ? "Active" : "Inactive"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-0">
                    <div class="col-md-4">
                        <label class="form-control-label" for="user-username">Email Address <span class="red">*</span></label>
                        <div class="form-group field-user-username">
                            <span id="adminusers-email" class="form-control" aria-required="true" readonly>{{currentProfile.username}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label">Phone*</label>
                        <div class="form-group field-adminusers-phone required" [ngClass]="{'has-danger': !_isValid('mobile')}">
                            <input type="text" [textMask]="{mask: mask}" id="adminusers-phone" class="form-control" [formControl]="_currentUserForm.controls['mobile']" [(ngModel)]="currentProfile.mobile" [ngClass]="{'form-control-danger': !_isValid('mobile')}" aria-required="true"
                                placeholder="(___) ___-____">
                            <span class="help-block help-block-error" *ngIf="!_formErrors.mobile.valid">{{_formErrors.mobile.message}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label">Extension</label>
                        <div class="form-group field-adminusers-extension" [ngClass]="{'has-danger': !_isValid('phone_extension')}">
                            <input type="text" id="adminusers-extension" class="form-control numbers" [formControl]="_currentUserForm.controls['phone_extension']" [(ngModel)]="currentProfile.phone_extension" [ngClass]="{'form-control-danger': !_isValid('phone_extension')}" value=""
                                maxlength="6">
                            <span class="help-block help-block-error" *ngIf="!_formErrors.phone_extension.valid">{{_formErrors.phone_extension.message}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-top-5  padding-left-0">
                    <div class="col-md-4">
                        <h6 class="action_head">
                            Permissions: <span class="fa fa-info-circle information-icon" popover="Select if you would like for the user to have super administrator privileges in the system to performing all functions including changing the access level of other administrative users.
										Next, select if this user should be able to access financial
										performance of theentireapplication." popoverTitle="Access Privileges" placement="right" triggers="mouseenter:mouseleave"></span>
                        </h6>
                        <div class="md-checkbox-list ">
                            <div class="width-100 pull-left" *ngFor="let permission of PermissionsSet">
                                <label class="mt-checkbox mt-checkbox-outline margin-bottom-10  ">
                                             {{permission.permission_name}}
                                         <input type="checkbox" [disabled]="true" [checked]="currentProfile.permissions[permission.permission_id]">
                                <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-0 bg-sky-blue border-ddd" align="right" style="border-top: none;">
                    <div class="modal-footer-btn padding-15">
                        <button type="submit" class="btn btn-primary" [disabled]="!_currentUserForm.valid">Save</button> <a class="btn btn-default"> Cancel </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>