<!-- company info -->
<client-company-info [companyData]="companyDetails"></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
<client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<!-- Sub Tabs -->
<div class="col-xs-12 client-reporting-subTabs-band-fixed">
    <div class="col-md-12 padding-10 ul-block">
        <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs">
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info']">
                    <div class="inner-block-digits pull-left">1</div>
                    <span class="inner-block-text">Basic Info</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','emp-status-tracking']">
                    <div class="inner-block-digits pull-left">2</div>
                    <span class="inner-block-text">Large Emp. Status & Tracking</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-3">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','plan-offering-criteria']">
                    <div class="inner-block-digits pull-left ">3</div>
                    <span class="inner-block-text">Plan Offering Criteria 
                    </span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-4">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','designated-govt-entity']">
                    <div class="inner-block-digits pull-left ">4</div>
                    <span class="inner-block-text">Designated Govt. Entity </span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-5">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','aggregated-group']">
                    <div class="inner-block-digits pull-left ">5</div>
                    <span class="inner-block-text">Aggregated Group</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-5">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','anything-else']">
                    <div class="inner-block-digits pull-left ">6</div>
                    <span class="inner-block-text">Anything Else</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- ./Sub Tabs -->

<div class="product-container-with-sub-tabs col-md-12">
    <div class="col-md-12 padding-0">
        <form>
            <div class="col-md-12 padding-0 emp-info-font" style="margin-bottom:10px;">
                <div id="employer_info_container" [style.width.px]="employer_info_container_width">
                    <!-- form content -->
                    <div class="col-md-12">
                        <!-- <div class="form-group row margin-top-10" style="margin-bottom: 20px;"> -->
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[0].element_serial_id"></label>
                            </div>
                            <div class="tabSpace">
                                <label class="control-label span-label">{{labelsData[0].element_label}}<span *ngIf="labelsData[0].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[0].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>
                                <div>
                                    <label class="radio-inline">
                                    <input type="radio" [(ngModel)]="aggregatedGroupData.is_authoritative_transmittal" name="is_authoritative_transmittal" value="1"><span class="control-checkbox">Yes</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="aggregatedGroupData.is_authoritative_transmittal" name="is_authoritative_transmittal" value="2"><span class="control-checkbox">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="aggregatedGroupData.is_authoritative_transmittal == 2" class="form-group row is-authoritative-transmittal-no" style="margin-top: 10px; margin-bottom: 20px;">
                            <div class="col-sm-12 inl-q-a">
                                <div>
                                    <label class="control-label span-label">5.1.1</label>
                                </div>
                                <div class="tabSpace">
                                    <label class="control-label span-label">Each EIN must have their own authoritative transmittal, contact support for any further clarification.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[1].element_serial_id"></label>
                            </div>
                            <div class="tabSpace">
                                <label class="control-label span-label">{{labelsData[1].element_label}}<span *ngIf="labelsData[1].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[1].element_popup_text}}" placement="left" triggers="mouseenter:mouseleave"></span>
                                </label>
                                <div>
                                    <label class="radio-inline">
                                            <input type="radio" (change)="handleChange(1)" [(ngModel)]="aggregatedGroupData.is_ale_member" name="is_ale_member" value="1"> Yes
                                        </label>
                                    <label class="radio-inline">
                                            <input type="radio" (change)="handleChange(0)"  [(ngModel)]="aggregatedGroupData.is_ale_member" name="is_ale_member" value="0"> No
                                        </label>
                                </div>





                                <div class="col-xs-12 filling_forms padding-top-15" *ngIf="aggregatedGroupData.is_ale_member == 1">
                                    <div class="col-xs-12" style="border: 1px solid #ddd;">
                                        <div class="form-group inl-q-a" style="margin-top:20px;">
                                            <div>
                                                <label class="control-label span-label" [innerHTML]="labelsData[2].element_serial_id"></label>
                                            </div>
                                            <div class="tabSpace">
                                                <label class="control-label span-label">{{labelsData[2].element_label}}<span *ngIf="labelsData[2].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[2].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                                </label>
                                                <div>
                                                    <label class="radio-inline">
                                                                <input type="radio" (change)="isOtherEntityChange(1)" [(ngModel)]="aggregatedGroupData.is_other_entity" name="is_other_entity" class="aggregate-clear-radio" value="1"><span class="control-checkbox">Yes</span>
                                                            </label>
                                                    <label class="radio-inline">
                                                                <input type="radio"(change)="isOtherEntityChange(0)"  [(ngModel)]="aggregatedGroupData.is_other_entity" name="is_other_entity" value="0" class="aggregate-clear-radio"><span class="control-checkbox">No</span>
                                                            </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 row other_entity_filling_yes" *ngIf="aggregatedGroupData.is_other_entity == 1">
                                            <div class="form-group inl-q-a">
                                                <div>
                                                    <label class="control-label span-label" [innerHTML]="labelsData[3].element_serial_id"></label>
                                                </div>
                                                <div class="tabSpace">
                                                    <label class="control-label span-label">{{labelsData[3].element_label}}<span *ngIf="labelsData[3].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[3].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                                    </label>
                                                    <div class="field-tblacaaggregatedgroup-total_1095_forms">
                                                        <input type="text" OnlyNumber="true" class="form-control form-height aggregate-clear" [(ngModel)]="aggregatedGroupData.total_1095_forms" name="total_1095_forms" maxlength="5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 row">
                                            <div class="form-group inl-q-a">
                                                <div>
                                                    <label class="control-label span-label" [innerHTML]="labelsData[4].element_serial_id"></label>
                                                </div>
                                                <div class="tabSpace">
                                                    <label class="control-label span-label">{{labelsData[4].element_label}}<span *ngIf="labelsData[4].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[4].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                                    </label>
                                                    <div>
                                                        <div class="col-sm-5" style="display:grid;">
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" name="entireYear"  (ngModelChange)="isEntireYear($event)"  [(ngModel)]="aggregatedGroupData.entireYear" value="1"><span class="control-checkbox">Entire Year</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[1]" name="total_aggregated_grp_months[1]" value="1"><span class="control-checkbox">January</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[2]" name="total_aggregated_grp_months[2]"  value="2"><span class="control-checkbox">February</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()"  [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[3]" name="total_aggregated_grp_months[3]" value="3"><span class="control-checkbox">March</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[4]" name="total_aggregated_grp_months[4]"  value="4"><span class="control-checkbox">April</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[5]" name="total_aggregated_grp_months[5]"  value="5"><span class="control-checkbox">May</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[6]" name="total_aggregated_grp_months[6]"  value="6"><span class="control-checkbox">June</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5" style="display:grid;">
                                                            <div class="checkbox">
                                                                <label></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[7]" name="total_aggregated_grp_months[7]"  value="7"><span class="control-checkbox">July</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()"  [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[8]" name="total_aggregated_grp_months[8]"  value="8"><span class="control-checkbox">August</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[9]" name="total_aggregated_grp_months[9]"  value="9"><span class="control-checkbox">September</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[10]" name="total_aggregated_grp_months[10]"  value="10"><span class="control-checkbox">October</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[11]" name="total_aggregated_grp_months[11]"  value="11"><span class="control-checkbox">November</span></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox"  class="specific_year"  (change)="getMonthsCount()" [(ngModel)]="aggregatedGroupData.total_aggregated_grp_months[12]" name="total_aggregated_grp_months[12]"  value="12"><span class="control-checkbox">December</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 row">
                                            <div class="form-group inl-q-a">
                                                <div>
                                                    <label class="control-label span-label" [innerHTML]="labelsData[5].element_serial_id"></label>
                                                </div>
                                                <div class="tabSpace">
                                                    <label class="control-label span-label">{{labelsData[5].element_label}}<span *ngIf="labelsData[5].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[5].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                                    </label>
                                                    <div class="col-md-12 padding-0" id="group_div" *ngFor="let input of inputs; let i = index">

                                                        <div class="row" id="row_1" style="margin-bottom: 10px;">
                                                            <div class="col-sm-3 padding-right-0">
                                                                <p>Group Name</p>
                                                                <input type="text" groupNames="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="input.name" class="form-control aggregate-clear" maxlength="34">
                                                            </div>
                                                            <div class="col-sm-3 padding-right-0 padding_left_30">
                                                                <p>Group EIN</p>
                                                                <input type="text" [textMask]="{mask: ein_mask}" [ngModelOptions]="{standalone: true}" [(ngModel)]="input.ein" class="form-control aggregate-clear">
                                                            </div>
                                                            <div class="col-sm-2 padding-left-5" *ngIf="(lengb-1 == i)? true : false">
                                                                <p>&nbsp;&nbsp;</p>
                                                                <button class="btn btn-primary no-wrap" type="button" style="height: 34px;padding-top: 4px;" (click)="addInput()">Add more</button>
                                                            </div>
                                                            <div class="col-sm-2 padding-left-5" *ngIf="(lengb-1 == i)? false : true">
                                                                <p>&nbsp;&nbsp;</p>
                                                                <button class="btn btn-danger no-wrap" type="button" style="height: 34px;padding-top: 4px;" (click)="remove(i)">Remove</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./form content -->
                </div>
            </div>
            <div align="right" class="col-md-12 padding-0 bg-sky-blue " style="border-top: none;">
                <div class="modal-footer-btn padding-15">
                    <a class="btn btn-default check-changed" (click)="redirectToDashboard()" type="button">Cancel</a> &nbsp;
                    <a class="btn btn-warning check-changed" (click)="redirectToPrevious()" type="button">Previous</a> &nbsp;
                    <button type="button" class="btn btn-modal-blue" (click)="formSubmit('exit')">Save & Exit</button> &nbsp;
                    <button type="button" class="btn btn-modal-blue  pull-right " (click)="formSubmit('next')">Save & Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>