<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Email Templates</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>
<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <form [formGroup]="_emailTemplatesForm" (ngSubmit)="onSubmit()">

            <div class="col-md-12 border-ddd widget padding-15">
                <div class="table-caption-div-email">
                    <h5 class="table-caption-email">Email Templates</h5>
                </div>
               <div class="col-md-12">
                    <div class="col-md-6 padding-0">
                        <div class="form-group required" [ngClass]="{'has-danger': !_isValid('email_type')}">
                            <label class="form-control-label">Email Type</label>
                            <select class="form-control" [formControl]="_emailTemplatesForm.controls['email_type']"  [(ngModel)]="temp_email_type" [ngClass]="{'form-control-danger': !_isValid('email_type')}" (ngModelChange)="updateEmailTemplates()">
                                <option value="">Select</option>
                                <option *ngFor="let et of emailTemplates" [ngValue]="et.email_type" >{{et.email_type}}</option>
                            </select>
                           <control-messages [control]="_emailTemplatesForm.controls.email_type"></control-messages>
                            <span class="help-block help-block-error" *ngIf="!_formErrors.email_type.valid">{{_formErrors.email_type.message}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 padding-0">
                        <div class="form-group required" [ngClass]="{'has-danger': !_isValid('subject')}">
                            <label class="form-control-label" for="user-username">Email Subject</label>
                            <input type="text" class="form-control" [formControl]="_emailTemplatesForm.controls['subject']"  [(ngModel)]="emailTemplateSelected.subject" [ngClass]="{'form-control-danger': !_isValid('subject')}">
                            <control-messages [control]="_emailTemplatesForm.controls.subject"></control-messages>
                            <span class="help-block help-block-error" *ngIf="!_formErrors.subject.valid">{{_formErrors.subject.message}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-top-5">
                    <div class="form-group required" [ngClass]="{'has-danger': !_isValid('body')}">
                        <label class="form-control-label" for="l0">Email Body</label>
                        <textarea id="email_description" [formControl]="_emailTemplatesForm.controls['body']" [(ngModel)]="emailTemplateSelected.body" [ngClass]="{'form-control-danger': !_isValid('body')}"></textarea>
                        <control-messages [control]="_emailTemplatesForm.controls.body"></control-messages>
                        <span class="help-block help-block-error" *ngIf="!_formErrors.body.valid">{{_formErrors.body.message}}</span>
                    </div>
                    <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                        <div class="alert alert-danger">{{_errorMessage}}</div>
                    </div>
                </div>
                <div class="col-md-12 padding-0 bg-sky-blue border-ddd" align="right" style="border-top: none;">
                    <div class="modal-footer-btn padding-15">
                        <button type="submit" class="btn btn-primary" [disabled]="!_emailTemplatesForm.valid || _submitted == true">Save</button> 
                        <button class="btn btn-default" (click)="onReset()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>