 <div class="search-header padding-10">
                <ul class="nav nav-pills col-xs-12 main-pills" id="main_tab">
                    <!--<li class="col-xs-1" href="#home" data-toggle="tab">c</li>-->
                    <li align="center" aria-expanded="true" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'trends']"><img class="avatar" id="main-anchor-1" src="assets/images/client/employer-info/bri_default.png">
                        <p class="font-white margin-0">Trends</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'payroll','edit']"><img class="avatar" id="main-anchor-2" src="assets/images/client/employer-info/cost_projectionsl.png">
                        <p class="font-white margin-0">Payroll</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employees']"><img class="avatar" id="main-anchor-3" src="assets/images/client/employer-info/monthly_inputs.png">
                        <p class="font-white margin-0">Employees</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'actions']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Actions</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','companydetails']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Setup</p>
                    </li>
                    <li class="col-xs-1"></li> 
                </ul>

            </div>
