        <div class="col-xs-12 client-reporting-band-fixed">
            <div class="search-header padding-10">
                <ul class="nav nav-pills col-md-12 main-pills" id="main_tab">
                    <li class="col-md-1"></li>
                    <li align="center" aria-expanded="true" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info']"><img class="avatar" id="main-anchor-1" src="assets/images/client/employer-info/account_setup_sel.png">
                        <p class="font-white margin-0">Basic Reporting Info</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','benefit-plan-info']"><img class="avatar" id="main-anchor-2" src="assets/images/client/employer-info/cost_projectionsl.png">
                        <p class="font-white margin-0">Benefit Plan Info</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','plan-classes']"><img class="avatar" id="main-anchor-3" src="assets/images/client/employer-info/monthly_inputs.png">
                        <p class="font-white margin-0">Plan Classes</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','payroll']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Payroll</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','enrollments']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Enrollments</p>
                    </li>
                    <li class="col-md-1"></li>
                </ul>
            </div>
        </div>