<div class="col-sm-12 page-header-band-search">
    <div class="col-xs-12 dashboard-links">
        <ul class="top-sub-navigation">
            <li [routerLink]="['/admin/master-data/manage-brands']" [routerLinkActive]="['active']"><a>Brands</a></li>
            <li [routerLink]="['/admin/master-data/products']" [routerLinkActive]="['active']"><a>Products</a></li>
            <li [routerLink]="['/admin/master-data/lookup-options']" [routerLinkActive]="['active']"><a>Lookup Options</a></li>
            <li [routerLink]="['/admin/master-data/account-settings']" [routerLinkActive]="['active']"><a>Account Settings</a></li>
            <li [routerLink]="['/admin/master-data/element-master']" [routerLinkActive]="['active']"><a>Element Master</a></li>
            <li [routerLink]="['/admin/master-data/code-calculator']" [routerLinkActive]="['active']"><a>Code Calculator</a></li>
            <li [routerLink]="['/admin/master-data/error-master']" [routerLinkActive]="['active']"><a class="color-red">Error Master</a></li>
            <li [routerLink]="['/admin/master-data/form-pricing']" [routerLinkActive]="['active']"><a class="color-red">Form Pricing</a></li>
            <li [routerLink]="['/admin/master-data/email-templates']" [routerLinkActive]="['active']"><a>Email Templates</a></li>
            <li [routerLink]="['/admin/master-data/videos']" [routerLinkActive]="['active']"><a class="color-red">Videos</a></li>
        </ul>
    </div>
</div>