<!--  View For Pricing screen-->
<!--  View For Pricing screen-->
<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Element Master</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<!--  Container Start-->
<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12  border-ddd  width-100">
            <div class="row" style="padding:13px 0px">
                <div class="col-md-3">
                    <h5 class="table-caption">Element Master</h5>
                </div>
                <div class="col-md-9">
                    <!-- <form> -->
                    <div class="col-md-4 col-md-offset-3">
                        <div class="form-group">
                            <label for="pwd">Product:</label>
                            <select class="form-control" [ngModel]="selectedProduct" (ngModelChange)="onChangeProduct($event)" name="sel2">
                                <option disabled [value]="null">Select</option>
                                <option [value]="product.id" *ngFor="let product of products">{{product.product_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group" style="padding-right: 15px;">
                            <label for="email">Element Section:</label>
                            <select class="form-control" [ngModel]="selectedSection" (ngModelChange)="onChangeSection($event)" name="sel2">
                                <option disabled [value]="null">Select</option>
                                <option [value]="section.id" *ngFor="let section of sections">{{section.section}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- </form> -->
                </div>
            </div>
            <div id="w1-container" class="row">
                <ng-container *ngIf="selectedSectionElements?.length">
                    <!--<caption class="datatable-caption">Element Master</caption>-->
                    <table class="table table-hover table-bordered table-striped" [mfData]="selectedSectionElements" #elem="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr class="tr-blue-grid-head">
                                <th class="text-center">
                                    <mfDefaultSorter by="element_id">Element ID</mfDefaultSorter>
                                </th>
                                <th class="text-center">
                                    <mfDefaultSorter by="section_id">Element Section</mfDefaultSorter>
                                </th>
                                <th class="text-center">
                                    <mfDefaultSorter by="element_label">Element Label</mfDefaultSorter>
                                </th>
                                <th class="text-center">
                                    <mfDefaultSorter>Update</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="elem.data?.length">
                                <tr *ngFor="let element of elem.data">
                                    <td style="text-align:center;">{{element.element_serial_id}}</td>
                                    <td>
                                        {{ (element.section_id) == 1 ? "Basic Information" : ( (element.section_id) == 2 ? "Large Emplpoyee Status" : ( (element.section_id)== 3 ? "Plan Offering Criteria" : "" ))}}
                                    </td>
                                    <td style="width: 50%;">
                                        <input type="text" class="form-control" #model="ngModel" [(ngModel)]="element.element_label" style="width: 93%;" required>
                                        <div *ngIf="model.invalid" style="color: red">Required</div>
                                    </td>
                                    <td style="text-align: center;"><button [disabled]="!model.valid" [ngClass]="!model.valid ?'disabled-btn' : ''" (click)="updateProduct(element)" class="updateBtn"><i class="fa fa-floppy-o"></i></button></td>
                                </tr>
                            </ng-container>
                            <tr class="tr-text-center" *ngIf=!elem.data?.length>
                                <td colspan="4">
                                    No records are found
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </ng-container>
                <div class="text-center padding-20 bordorTop" *ngIf=!selectedSectionElements?.length>
                    <h5>To view the records, please select Product and Section.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Container End-->