<!-- left scroll menu start(in tab size)-->
<div *ngIf="loaderService.loaderState" class="loading"></div>
{{loaderService.loaderState}}
<nav class="left-menu media-hide" left-menu>
    <!--logo image start -->
    <div class="logo-container">
        <img [src]="dashBoardService.clientLogo" alt="Benefits Client Template" style="height:44px;" />
    </div>
    <!--logo image end -->

    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li>
                <a class="disable-hover home" [routerLinkActive]="['home-page-active']" [routerLink]="dashBoardService.clientHomeUrl"><b><i class="fa fa-home" aria-hidden="true"></i></b></a>
            </li>
            <!-- <li>
                <a class="disable-hover color-red" id="search_link" [routerLinkActive]="['page-active']" [routerLink]="['/client/search']"><b>Search</b></a>
            </li> -->
        </ul>
    </div>
</nav>
<!-- left scroll menu start(in tab size)-->
<!-- left end header start-->

<nav class="top-menu transistion top-nav">
    <div class="menu-icon-container items-class hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
        </div>
    </div>
    <div class="menu-icon-container image-class hidden-md-up margin-15">
        <div class="">
            <img [src]="dashBoardService.clientLogo" class="max-width-140" alt="Benefits Client Template">
        </div>
    </div>
    <div class="menu transistion-menu header-top col-md-10 masterhead padding-left-0  media-hide-header">
        <div class="logo-container col-md-2  media-hide-header">

            <img [src]="dashBoardService.clientLogo" style="height:44px;" class="width-198 img-transistion" alt="Benefits Client Template"
            />

        </div>
        <ul class="actions  media-hide-header">

            <li>
                <a class="disable-hover home" [routerLinkActive]="['home-page-active']" [routerLink]="dashBoardService.clientHomeUrl">
                    <b><i class="fa fa-home" aria-hidden="true"></i></b>
                </a>
            </li>
            <!-- <li>
                <a class="disable-hover color-red" id="search_link" [routerLinkActive]="['page-active']" [routerLink]="['/client/search']">
                    <b>Search</b>
                </a>
            </li> -->
        </ul>
    </div>

    <div class="menu transistion-menu header-top profile col-md-2 back-color masterhead padding-left-0 pull-right back-color-profile"
        id="profile_details">
        <div class="menu-user-block col-md-12">
            <div class="dropdown dropdown-avatar pull-right">
                <a href="javascript: void(0);" class="dropdown-toggle profile-icon" data-toggle="dropdown" aria-expanded="false">
                    <span class="header-name media-hide-profilename">
                         <span class="font-14">Welcome</span> {{userFirstName}}<span class="font-14"></span></span>
                </a>
                <ul *ngIf="(userType==3 || userType==4 )" class="dropdown-menu arrow-icon dropdown-menu-left arrow padding-0 margin-0" aria-labelledby=""
                    role="menu" style="margin-top:16px !important;">
                    <a class="dropdown-item dropdown-a color-white" [routerLink]="['/client/profile']">
                        <i class="dropdown-icon icmn-user"></i> Profile</a>
                    <!-- <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/client/messages']">
                        <i class="dropdown-icon fa fa-comments-o"></i> Messages</a> -->
                    <!-- <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/client/purchases']">
                        <i class="dropdown-icon fa fa-shopping-cart"></i> Purchases</a> -->
                    <!-- <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/client/activity-log']">
                        <i class="dropdown-icon fa fa-list"></i> Activity Log</a> -->
                    <a class="dropdown-item dropdown-a color-white" href="#change_password_modal" role="button" data-toggle="modal">
                        <i class="dropdown-icon fa fa-repeat"></i> Change Password</a>
                    <div class="dropdown-divider margin-0"></div>
                    <a class="dropdown-item dropdown-a color-white" href="#">
                        <i class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
                <ul *ngIf="(userType==1 || userType==2 )" class="dropdown-menu arrow-icon dropdown-menu-left arrow padding-0 margin-0" aria-labelledby=""
                    role="menu" style="margin-top:16px !important;">
                    <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/dashboard']">
                        <i class="dropdown-icon fa fa-home">
                            </i> Admin Dashboard</a>
                    <a class="dropdown-item dropdown-a color-white" href="#">
                        <i class="dropdown-icon icmn-exit">
                            </i> Logout</a>
                </ul>
            </div>
        </div>
    </div>

</nav>
<section class="page-content-lg page-content-0-lg padding-0">
    <div class="page-content-inner">
        <div class="col-md-12 blue-breadcrumb-plans" align="center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-initial">
                <div class="nav-tabs-horizontal">
                    <ul class="nav nav-tabs border-bottom display-inblock" role="tablist">
                        <li *ngIf="vhtStatus" class="nav-item hover">
                            <a class="nav-link plan-link color-white no-wrap " [ngClass]='dashBoardService.vht' (click)="setInformation(productsData.vht)"
                                [routerLink]="productsData.vht">Variable Hour Tracking</a>
                        </li>
                        <li *ngIf="aca16Status" class="nav-item hover">
                            <a class="nav-link plan-link color-white no-wrap " [ngClass]='dashBoardService.aca16' (click)="setInformation(productsData.aca16)"
                                [routerLink]='productsData.aca16'>2016 ACA Reporting</a>
                        </li>
                        <li *ngIf="aca17Status" class="nav-item hover">
                            <a class="nav-link plan-link color-white dropdown-icon-li no-wrap " [ngClass]='dashBoardService.aca17' (click)="setInformation(productsData.aca17)"
                                [routerLink]="productsData.aca17">2017 ACA Reporting</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>

<!-- change password modal -->

<div class="modal fade" id="change_password_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Change Password
                </h4>
            </div>
            <div class="modal-body row">
                <div class="form-group col-md-12">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">Email:</label>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-control">alex@gmail.com</span>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">Current Password:<span class="red">*</span></label>
                    </div>
                    <div class="col-sm-8">

                        <input type="password" class="form-control add-member-input" placeholder="Current Password.." id="current-password" name="oldpass">                        <span class="error-msg red" id="current-password-error"></span>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">New Password:<span class="red">*</span></label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control add-member-input" placeholder="New Password.." id="new-password" name="newpass">                        <span class="error-msg red" id="new-password-error"></span>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">Confirm Password:<span class="red">*</span></label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control add-member-input" placeholder="Confirm Password.." id="new-confirm-password" name="repeatnewpass">                        <span class="error-msg red" id="confirm-password-error"></span> <label class="error-msg" id="display-password-error"></label>
                    </div>
                </div>

            </div>
            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Save  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>
            </div>
        </div>
    </div>
</div>
<!-- ./change password modal -->