<!--  View For Pricing screen-->
<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Account Settings</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<!--  Container Start-->
<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12 border-ddd  width-100">
            <div class="table-caption-div">
            </div>
            <div class="row">
                <caption class="datatable-caption">Account Settings</caption>
                <table class="table table-hover table-bordered table-striped" [mfData]="settings" #settingsData="mfDataTable">
                    <thead>
                        <tr>
                            <th class="blue-grid-head" data-col-seq="0" style="width: 7.0%;"><a>Sl. No</a></th>
                            <th class="blue-grid-head" data-col-seq="1" style="width: 26.24%;"><a>Title</a></th>
                            <th class="blue-grid-head" data-col-seq="2" style="width: 25.95%;"><a>Details</a></th>
                            <th class="blue-grid-head" data-col-seq="3" style="width: 28.91%;"><a>Current Value</a></th>
                            <th class="blue-grid-head" data-col-seq="3" style="width: 28.91%;"><a>Revised Value</a></th>
                            <th class="blue-grid-head" data-col-seq="3" style="width: 28.91%;"><a>Update</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="settingsData.data?.length">
                            <tr *ngFor="let setting of settingsData.data; let i=index;">
                                <td class="text-center">{{setting.setting_id}}</td>
                                <td class="text-center">{{setting.setting_name}}</td>
                                <td class="text-center">{{setting.setting_description}}</td>
                                <td class="text-center">{{setting.setting_value}}</td>
                                <ng-container [ngSwitch]="setting.setting_field_type">
                                    <td *ngSwitchCase="'text'">
                                        <div *ngIf="setting.setting_validation == 'email'">
                                            <input type="text" maxlength="50" class="form-control" id="changed_value_{{setting.setting_id}}" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" [(ngModel)]="setting.setting_revised_value" #settingModel="ngModel" required>
                                            <span *ngIf="settingModel.invalid && (settingModel.dirty || settingModel.touched)" class="help-block help-block-error">
                                                    Please Enter valid {{setting.setting_name}} value
                                            </span>
                                        </div>
                                        <div *ngIf="setting.setting_validation == ''">
                                            <input type="text" maxlength="50" class="form-control" id="changed_value_{{setting.setting_id}}" [(ngModel)]="setting.setting_revised_value" #settingModel="ngModel" required>
                                            <span *ngIf="settingModel.invalid && (settingModel.dirty || settingModel.touched)" class="help-block help-block-error">
                                                    Please Enter valid {{setting.setting_name}} value
                                            </span>
                                        </div>
                                    </td>
                                    <td *ngSwitchCase="'textarea'">
                                        <div class="input-group ">
                                            <textarea [(ngModel)]="setting.setting_revised_value" maxlength="250" #settingModel="ngModel" id="changed_value_{{setting.setting_id}}" rows="8" cols="30" required></textarea>
                                        </div>
                                        <span *ngIf="settingModel.invalid && (settingModel.dirty || settingModel.touched)" class="help-block help-block-error">
                                                Please Enter valid {{setting.setting_name}} value
                                        </span>
                                    </td>
                                    <td *ngSwitchCase="'date'">
                                        <input [(ngModel)]="setting.setting_revised_value" [min]="getMinDate(setting)" #settingModel="ngModel" type="date" class="form-control " id="changed_value_{{setting.setting_id}}" required>
                                        <span *ngIf="settingModel.invalid && (settingModel.dirty || settingModel.touched)" class="help-block help-block-error">
                                                Please Enter valid {{setting.setting_name}} value
                                        </span>
                                    </td>
                                    <td *ngSwitchCase="'select'">
                                        <select [(ngModel)]="setting.setting_revised_value" #settingModel="ngModel" class="form-control" id="changed_value_{{setting.setting_id}}" required>
                                               <option *ngFor="let optionsData of setting.setting_options" [value]="optionsData.id">{{optionsData.value}}</option>
                                        </select>
                                        <span *ngIf="settingModel.invalid && (settingModel.dirty || settingModel.touched)" class="help-block help-block-error">
                                                Please Enter valid {{setting.setting_name}} value
                                        </span>
                                    </td>
                                    <td *ngSwitchDefault>
                                        <input [(ngModel)]="setting.setting_revised_value" #settingModel="ngModel" type="text" class="form-control" id="changed_value_{{setting.setting_id}}" required>
                                        <span *ngIf="settingModel.invalid && (settingModel.dirty || settingModel.touched)" class="help-block help-block-error">
                                                Please Enter valid {{setting.setting_name}} value
                                        </span>
                                    </td>

                                </ng-container>
                                <td style="text-align:center">
                                    <a (click)="updateSettings(setting)" class="tbl-col-link">
                                        <i class="fa fa-save" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Click to update {{setting.setting_name}}">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--  Container End-->