<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12 widget widget-two no-padding">
            <div class="widget-header-11">
                <strong>Purchases</strong>
            </div>
            <div class="clearfix1">
                <table class="table table-bordered table-hover" id="">
                    <thead>
                        <tr class="tr-grid-header">
                            <th class="blue-grid-head">Date</th>
                            <th class="blue-grid-head">Purchaser First Name</th>
                            <th class="blue-grid-head">Purchaser Last Name</th>
                            <th class="blue-grid-head">Email</th>
                            <th class="blue-grid-head">Phone</th>
                            <th class="blue-grid-head">Product</th>
                            <th class="blue-grid-head">Invoice paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/9/2017</td>
                            <td>Mark</td>
                            <td>Combs</td>
                            <td>Mark@sky.com</td>
                            <td>888-778-7478</td>
                            <td>Variable Hour Tracking</td>
                            <td>N/A (Credit card)</td>
                        </tr>
                        <tr>
                            <td>6/9/2017</td>
                            <td>Mark</td>
                            <td>Combs</td>
                            <td>Mark@sky.com</td>
                            <td>888-778-7478</td>
                            <td>2016 ACA Reporting</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>7/9/2017</td>
                            <td>Alex</td>
                            <td>Combs</td>
                            <td>alex@sky.com</td>
                            <td>888-778-7478</td>
                            <td>2016 ACA Reporting</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>6/6/2017</td>
                            <td>John</td>
                            <td>Combs</td>
                            <td>john@sky.com</td>
                            <td>888-778-7478</td>
                            <td>2016 ACA Reporting</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 padding10">
                    <div aria-live="polite" class="dataTables_info" id="example3_info" role="status">Showing 1 to 4 of 48 entries</div>
                </div>
                <div class="col-md-9 text-right">

                    <ul class="pagination">
                        <li class="first disabled"><span>first</span></li>
                        <li class="prev disabled"><span>previous</span></li>
                        <li class="active"><a data-page="0">1</a></li>
                        <li><a data-page="1">2</a></li>
                        <li><a data-page="2">3</a></li>
                        <li><a data-page="3">4</a></li>
                        <li><a data-page="4">5</a></li>
                        <li class="next"><a data-page="1">next</a></li>
                        <li class="last"><a data-page="8">last</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>