<!-- company info -->
<client-company-info [companyData]="companyDetails"></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
<client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<!-- Sub Tabs -->
<div class="col-xs-12 client-reporting-subTabs-band-fixed">
    <div class="col-md-12 padding-10 ul-block">
        <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs">
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info']">
                    <div class="inner-block-digits pull-left">1</div>
                    <span class="inner-block-text">Basic Info</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','emp-status-tracking']">
                    <div class="inner-block-digits pull-left">2</div>
                    <span class="inner-block-text">Large Emp. Status & Tracking</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-3">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','plan-offering-criteria']">
                    <div class="inner-block-digits pull-left ">3</div>
                    <span class="inner-block-text">Plan Offering Criteria <i class="fa fa-info-circle margin-left-5" data-container="body" data-content="Select the various types of claims you want to track on this plan, each month." data-original-title="Claim Types to Track" data-placement="bottom" data-toggle="popover-hover"></i>
                    </span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-4">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','designated-govt-entity']">
                    <div class="inner-block-digits pull-left ">4</div>
                    <span class="inner-block-text">Designated Govt. Entity </span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-5">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','aggregated-group']">
                    <div class="inner-block-digits pull-left ">5</div>
                    <span class="inner-block-text">Aggregated Group</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-5">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','anything-else']">
                    <div class="inner-block-digits pull-left ">6</div>
                    <span class="inner-block-text">Anything Else</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- ./Sub Tabs -->


<div class="product-container-with-sub-tabs col-md-12">
    <div class="col-md-12 padding-0">
        <form>
            <div class="col-md-12 padding-0">
                <div class="container margin-top-30 margin-bottom-10">
                    <!-- form content -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[0]}}</label>
                                        <input type="text" class="form-control" AlphanFewChar="true" [(ngModel)]="basicInfoData.contact_first_name" name="contact_first_name" maxlength="20">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[1]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" AlphanFewChar="true" [(ngModel)]="basicInfoData.contact_middle_name" name="contact_middle_name" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[2]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" AlphanFewChar="true" [(ngModel)]="basicInfoData.contact_last_name" name="contact_last_name" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[3]}}</label>
                                        <select class="form-control" [(ngModel)]="basicInfoData.contact_person_suffix" name="contact_person_suffix">
                                            <option value="">Select Suffix</option>
                                            <option value="1">Jr</option>
                                            <option value="2">Sr</option>
                                            <option value="3">I</option>
                                            <option value="4">II</option>
                                            <option value="5">III</option>
                                            <option value="6">IV</option>
                                            <option value="7">V</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[4]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" AlphanFewChar="true" [(ngModel)]="basicInfoData.contact_person_title" name="contact_person_title" maxlength="10">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[5]}}</label>
                                        <div class="form-group">
                                            <input type="text" id="personEmail" #personEmail="ngModel" class="form-control" [(ngModel)]="basicInfoData.contact_person_email" name="contact_person_email" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        </div>
                                        <div class="md-errors-spacer" [hidden]="personEmail.valid || personEmail.untouched">
                                            <span class="help-block help-block-error" *ngIf="personEmail.errors && personEmail.errors.pattern">
                                                Email is invalid
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[6]}}</label>
                                        <input type="text" id="contactPhone" #contactPhone="ngModel" class="form-control" minlength="14" [textMask]="{mask: mask,guide: false, modelClean: true}" [(ngModel)]="basicInfoData.contact_phone_number" name="contact_phone_number">
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="contactPhone.valid || contactPhone.untouched">
                                        <span class="help-block help-block-error" *ngIf="contactPhone.errors && contactPhone.errors.minlength">
                                            Phone should be 10 digit length.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[7]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="basicInfoData.street_address_1" name="street_address_1" maxlength="200" inputFilter="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[8]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="basicInfoData.street_address_2" name="street_address_2" maxlength="200" inputFilter="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[9]}}</label>
                                        <select class="form-control form-height" [(ngModel)]="basicInfoData.contact_country" name="contact_country">
                                            <option value="1">United States</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[10]}}</label>
                                        <div class="form-group">
                                            <select class="form-control form-height" [(ngModel)]="basicInfoData.contact_state" name="contact_state">
                                                        <option  value="null">Select State</option>
                                                        <option [ngValue]="state.state_id" *ngFor="let state of states">{{state.state_code}}</option>
                                                    </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[11]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="basicInfoData.contact_city" name="contact_city" maxlength="50" AlphanMoreChar="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[12]}}</label>
                                        <input type="text" class="form-control" [(ngModel)]="basicInfoData.contact_zip" name="contact_zip" maxlength="5" OnlyNumber="true">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[13]}}</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="basicInfoData.emp_benefit_broker_name" name="emp_benefit_broker_name" maxlength="34" AlphanFewChar="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[14]}}</label>
                                        <div class="form-group">
                                            <input type="text" id="brokerEmail" #brokerEmail="ngModel" class="form-control" [(ngModel)]="basicInfoData.emp_benefit_broker_email" name="emp_benefit_broker_email" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        </div>
                                        <div class="md-errors-spacer" [hidden]="brokerEmail.valid || brokerEmail.untouched">
                                            <span class="help-block help-block-error" *ngIf="brokerEmail.errors && brokerEmail.errors.pattern">
                                                Email is invalid
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="l0">{{labels[15]}}</label>
                                        <input type="text" id="brokerPhone" #brokerPhone="ngModel" minlength="14" class="form-control" [textMask]="{mask: mask,guide: false, modelClean: true}" [(ngModel)]="basicInfoData.emp_benefit_phone_number" name="emp_benefit_phone_number">
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="brokerPhone.valid || brokerPhone.untouched">
                                        <span class="help-block help-block-error" *ngIf="brokerPhone.errors && brokerPhone.errors.minlength">
                                            Phone should be 10 digit length.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./form content -->
                </div>
            </div>
            <div align="right" class="col-md-12 padding-0 bg-sky-blue " style="border-top: none;">
                <div class="modal-footer-btn padding-15">
                    <a class="btn btn-default check-changed" (click)="redirectToDashboard()" type="button">Cancel</a> &nbsp;
                    <button class="btn btn-modal-blue" (click)="formSubmit('exit')" [disabled]="!personEmail.valid || !brokerEmail.valid || !contactPhone.valid || !brokerPhone.valid">Save & Exit</button> &nbsp;
                    <button class="btn btn-modal-blue  pull-right " (click)="formSubmit('next')" [disabled]="!personEmail.valid || !brokerEmail.valid || !contactPhone.valid || !brokerPhone.valid"> Save & Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>