<search-band></search-band>

<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12 width-100 border-ddd">
            <div class="clearfix">
                <div class="table-caption-div">
                </div>
                <caption class="datatable-caption">Manage E Files</caption>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="blue-grid-head">Company Name</th>
                            <th class="blue-grid-head">Company ID</th>
                            <th class="blue-grid-head">E-File Approved By</th>
                            <th class="blue-grid-head">E-File Status</th>
                            <th class="blue-grid-head">Csv</th>
                            <th class="blue-grid-head">Original E-File Date</th>
                            <th class="blue-grid-head">E-File Receipt #</th>
                            <th class="blue-grid-head">Ack file</th>
                            <th class="blue-grid-head">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-key="143">
                            <td>New Reporting 23</td>
                            <td>ACA-10281-1</td>
                            <td>Win Diesel (04-03-2017, 15:16 PM) </td>
                            <td>
                                <div class="form-group field-status_value_143">

                                    <select id="status_value_143" class="form-control " name="TblAcaForms[efile_status]">
                        <option value="Approved" selected="">Approved</option>
                        <option value="IRS Processing">IRS Processing</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Accepted with Errors">Accepted with Errors</option>
                        <option value="Rejected">Rejected</option>
                        </select>
                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td></td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_143" class="form-control datepicker" value=""></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_143" class="form-control" value="Amanda" onkeypress="return companyname(event);"></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-6">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement"></span></a></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class=""><a><span class="fa fa-download pointer acknowledgement-file"  placement="top" tooltip="Download Acknowledgement" ></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o" tooltip="Update" placement="top"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-key="241">
                            <td>Tom Company Two Form test</td>
                            <td>SKY-10291-2</td>
                            <td>Tom Insure (03-30-2017, 09:17 AM) </td>
                            <td>
                                <div class="form-group field-status_value_241">
                                    <select id="status_value_241" class="form-control " name="TblAcaForms[efile_status]">
                        <option value="Approved">Approved</option>
                        <option value="IRS Processing">IRS Processing</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Accepted with Errors">Accepted with Errors</option>
                        <option value="Rejected" selected="">Rejected</option>
                    </select>
                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td>
                                <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download csv"></span></a></h5>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_241" class="form-control datepicker" value="03/29/2017"></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_241" class="form-control" value=""></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-12">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o"  placement="top" tooltip="Update"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-key="275">
                            <td>Sunray Insure Two</td>
                            <td>SKY-10294-2</td>
                            <td>Sunray Insure (03-30-2017, 09:17 AM) </td>
                            <td>
                                <div class="form-group field-status_value_275">

                                    <select id="status_value_275" class="form-control " name="TblAcaForms[efile_status]">
                        <option value="Approved">Approved</option>
                        <option value="IRS Processing">IRS Processing</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Accepted with Errors">Accepted with Errors</option>
                        <option value="Rejected" selected="">Rejected</option>
                   </select>

                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td>
                                <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download csv"></span></a></h5>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_275" class="form-control datepicker" value="01/30/2017"></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_275" class="form-control" value="456546546546555" onkeypress="return companyname(event);"></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-12">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement" ></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o"  placement="top" tooltip="Update"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-key="285">
                            <td>Sunray CSV test one</td>
                            <td>SKY-10294-7</td>
                            <td>Sunray Insure (03-29-2017, 13:05 PM) </td>
                            <td>
                                <div class="form-group field-status_value_285">

                                    <select id="status_value_285" class="form-control " name="TblAcaForms[efile_status]">
<option value="Approved" selected="">Approved</option>
<option value="IRS Processing">IRS Processing</option>
<option value="Accepted">Accepted</option>
<option value="Accepted with Errors">Accepted with Errors</option>
<option value="Rejected">Rejected</option>
</select>

                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td>
                                <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download csv"></span></a></h5>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_285" class="form-control datepicker" value="03/07/2017"></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_285" class="form-control" value="6546" onkeypress="return companyname(event);"></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-12">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement" ></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o"  placement="top" tooltip="Update"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-key="287">
                            <td>Sunray CSV test two</td>
                            <td>SKY-10294-8</td>
                            <td>Sunray Insure (03-29-2017, 13:06 PM) </td>
                            <td>
                                <div class="form-group field-status_value_287">

                                    <select id="status_value_287" class="form-control " name="TblAcaForms[efile_status]">
<option value="Approved" selected="">Approved</option>
<option value="IRS Processing">IRS Processing</option>
<option value="Accepted">Accepted</option>
<option value="Accepted with Errors">Accepted with Errors</option>
<option value="Rejected">Rejected</option>
</select>

                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td>
                                <h5 class="pointer"><a><span class="fa fa-download"  placement="top" data-original-title="" tooltip="Download csv"></span></a></h5>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_287" class="form-control datepicker" value="03/29/2017"></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_287" class="form-control" value="" onkeypress="return companyname(event);"></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-12">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o"  placement="top" tooltip="Update"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-key="293">
                            <td>Reporting Company Two</td>
                            <td>ACA-10281-2</td>
                            <td>Win Diesel (03-29-2017, 13:06 PM) </td>
                            <td>
                                <div class="form-group field-status_value_293">

                                    <select id="status_value_293" class="form-control " name="TblAcaForms[efile_status]">
<option value="Approved" selected="">Approved</option>
<option value="IRS Processing">IRS Processing</option>
<option value="Accepted">Accepted</option>
<option value="Accepted with Errors">Accepted with Errors</option>
<option value="Rejected">Rejected</option>
</select>

                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td></td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_293" class="form-control datepicker" value="03/21/2017"></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_293" class="form-control" value="" onkeypress="return companyname(event);"></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-6">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement"></span></a></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class=""><a><span class="fa fa-download pointer acknowledgement-file"  placement="top" tooltip="Download Acknowledgement"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o"  placement="top" tooltip="Update"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-key="299">
                            <td>test csv invalid 1</td>
                            <td>STA-10303-3</td>
                            <td>Test Csv Two (03-30-2017, 10:48 AM) </td>
                            <td>
                                <div class="form-group field-status_value_299">

                                    <select id="status_value_299" class="form-control " name="TblAcaForms[efile_status]">
<option value="Approved" selected="">Approved</option>
<option value="IRS Processing">IRS Processing</option>
<option value="Accepted">Accepted</option>
<option value="Accepted with Errors">Accepted with Errors</option>
<option value="Rejected">Rejected</option>
</select>

                                    <div class="help-block"></div>
                                </div>
                            </td>
                            <td></td>
                            <td class="text-center">
                                <p class="pointer"><input maxlength="15" id="date_number_299" class="form-control datepicker" value=""></p>
                            </td>
                            <td class="text-center">
                                <p class="pointer"><input type="text" maxlength="15" id="receipt_number_299" class="form-control" value="-089080"></p>
                            </td>
                            <td>
                                <div class="" style="width:100px;">
                                    <div class="col-md-6">
                                        <h5 class=""><a><span class="fa fa-upload pointer acknowledgement-file"  placement="top" tooltip="Upload Acknowledgement"></span></a></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class=""><a><span class="fa fa-download pointer acknowledgement-file"  placement="top" tooltip="Download Acknowledgement" ></span></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="" style="width:100px;">
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-floppy-o"  placement="top" tooltip="Update"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-download"  placement="top" tooltip="Download XML"></span></a></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="pointer"><a><span class="fa fa-refresh"  placement="top" tooltip="Regenerate"></span></a></h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 padding10">
                    <div class="dataTables_info" id="example3_info" role="status" aria-live="polite">Showing 1 to 4 of 48 entries</div>
                </div>
                <div class="col-md-9 text-right">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                <span>First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                <span aria-hidden="true">
                                            <i class="fa fa-arrow-left"></i>
                                        </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                <span aria-hidden="true">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                <span>Last</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>