<div class="page-header-band-breadcrumbs">
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i aria-hidden="true" class="fa fa-angle-left"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Actions</a>
            </li>
            <li>
                <a href="javascript: void(0);">Orders</a>
            </li>
        </ul>
    </div>
</div>