body.body-blue nav.top-menu+.page-content-0-lg {
    margin-top: 64px !important;
}

nav.left-menu+*+.page-content-lg {
    margin-left: 0px;
}

.page-content-lg {
    padding: 25px;
    -webkit-transition: opacity 0s ease-in-out;
    -o-transition: opacity 0s ease-in-out;
    transition: opacity 0s ease-in-out;
    opacity: 1;
}

.blue-breadcrumb-plans {
    background-color: #13a9cc;
    height: 51px;
    z-index: 90;
    position: fixed;
    width: 100%;
}

.nav-tabs-horizontal .nav-tabs .nav-item .plan-link.active {
    background: none !important;
}

body.body-blue .plan-link.active,
.plan-link:hover {
    color: white !important;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.active:hover {
    border-bottom-color: #FFF !important;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link:hover {
    color: #FFF !important;
}

.page-header-band-search-client {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 115px;
    z-index: 99;
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px;
    padding-top: 12px;
}

.categoryButton-client {
    display: inline-block;
    font: 13.3333px Arial;
    letter-spacing: .3px !important;
}

.categoryButton-client {
    font-size: 13px !important;
    line-height: 26px !important;
    height: 27px !important;
    width: 29px !important;
    min-width: 29px !important;
    border-radius: 2px !important;
    text-align: center !important;
    cursor: pointer !important;
    margin: 1px;
    border: none;
    background-color: #13a9cc!important;
}

.categoryButton-client:hover {
    background-color: #003083 !important;
}

app-client-layout.section-container {
    position: relative;
    top: 73px;
    width: 100%;
    margin: 0px auto;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.active,
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link:focus {
    border-bottom-color: #FFF !important;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.padding41 {
    padding: 23px 0px 39px 18px;
}

app-client-layout .section-container .left-small-box p {
    font-size: 14px;
}

.paddingTopBottom35 {
    padding: 35px 0px 35px 0px;
}

.paddingTopBottom10 {
    padding: 10px 0px 10px 0px;
}

.padding-left-10 {
    padding-left: 10px;
}

.mar-top-bottom {
    margin-top: 10px;
    margin-bottom: 20px;
}

.plan-div-margin {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.select2 .select2-selection--multiple {
    height: 34px;
    min-height: 35px;
}

.reporting-checklist-content {
    width: 70%;
    margin: 0px auto;
    background: #FFF;
    padding: 19px;
}

.header-border-btm-blue {
    height: 10px;
    background-color: #13a9cc;
    margin-bottom: 12px;
    border-radius: 16px;
}

.setupImg {
    width: 25%;
    margin: 0px auto;
    display: block;
    margin-bottom: 5px;
    padding: 20px 0px;
}

.setup-text-band {
    background: #13a9cc;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 12px;
}

.gray-text {
    color: #7f8286;
}

.btn-blue {
    border-color: #13a9cc!important;
    background: #13a9cc !important;
}

.client-section-container {
    position: relative;
    top: 103px;
    width: 100%;
    min-height: 100%;
    margin: 0px auto;
    background: #ECEFF4;
}

.company-section-container {
    position: relative;
    top: 48px;
    width: 100%;
    min-height: 100%;
    margin: 0px auto;
    background: #ECEFF4;
}

.setup-no-option-div {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border: none !important;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.ul-inline {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.ul-inline li {
    display: inline-block;
}

.previous-link {
    margin: 11px 5px;
}

.ul-inline li:first-child a {
    color: #13a9cc;
    font-size: 14px;
}

.circle-icon {
    background: #13a9cc;
    color: white;
    font-size: 22px;
    border-radius: 50%;
}

.dark-blue-text {
    color: #13a9cc;
}

.margin-left-right-pull {
    margin-left: -15px;
    margin-right: -15px;
}

.addres-block p {
    margin-bottom: 1px;
}

.confirmation-box {
    font-size: 13px;
    padding: 3px 6px;
    cursor: pointer;
    color: white;
}

.table-company-dashboard thead {
  display: block;
}

.table-company-dashboard tbody {
  display: block;
  overflow: auto;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-company-dashboard th, td {
  font-size: 12px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.company-search .glyphicon {
  position: absolute;
  padding: 65px 0px 0px 21px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { 
    left:  0px;
}

.company-search-text-box{
    background-color: #f2f4f8
}

.status-btn {
    margin-top: 14px;
    padding: 5px 0px;
    width: 100%;
}

.upload-download-block {
    padding: 29px;
    text-align: center;
}

.download-upload-ul li:nth-child(1) img {
    width: 40px;
    height: 40xp;
}

.download-upload-ul li:nth-child(2) {
    position: relative;
    top: 11px;
}

.download-upload-ul li:nth-child(2) h6 {
    font-size: 14px;
    color: white;
    margin-bottom: 0px;
}

.margin-top-42 {
    margin-top: 42px;
}

.table-company-dashboard th {
    border-bottom: none !important;
}

.table-company-dashboard th a {
    color: black;
}

.table-company-dashboard tbody tr td {
    padding: 3px;
    border: none;
}

.no-border,
.no-border:hover,
.no-border:focus,
.no-border:active {
    border: none !important;
    border-bottom: none !important;
    cursor: default;
}
.confirmation-modal-sm {
    width: 38%;
    vertical-align: top !important;
}

.delete-modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.delete-modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}