<div class="row company-section-container">
    <div class="col-md-12" style="margin-top:25px;">
        <div class="col-lg-10 col-lg-offset-1 padding-bottom-30">
            <div class="col-md-6 padding-right-12">
                <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">SEARCH & SUPPORT</h2>
                <div class="header-border-btm-blue"></div>
                <div class="col-md-6 padding-left-0 padding-right-12">
                    <div class="widget col-md-12 padding-15 block-one comp-dash-divs">

                        <div class="content-header dark-blue-text">
                            <div class="content-header-image">
                                <img src='../src/assets/images/client-dashboard/companies list-icon.png' class="dashboard-images">
                            </div>
                            <div class="content-header-text">
                                <h4 class="font-weight-300 dark-blue-text">&nbsp; COMPANIES LIST</h4>
                            </div>
                        </div>
                        <div class="company-search left-addon">
                            <!-- 
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" placeholder="Search for Companies" class="form-control company-search-text-box margin-bottom-15" [(ngModel)]="filterQuery"
                                    />
                                </div>
                                 -->
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" placeholder="Search for Companies" class="form-control company-search-text-box margin-bottom-15" [(ngModel)]="filterQuery"
                            />
                        </div>
                        <div class="content-div">
                            <table class="table table-fixed table-hover table-striped table-company-dashboard color-ash">
                                <thead>
                                    <tr>
                                        <th class="text-center padding-left-15 col-xs-6">
                                            <a>Companies</a>
                                        </th>
                                        <th class="text-center padding-left-15 col-xs-6">
                                            <a>EIN</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style=" cursor: pointer;" (click)="selectCompany();">
                                        <td class="padding-left-30 col-xs-6"><span>Cargo Force-1</span></td>
                                        <td class="text-center col-xs-6">15-8976547</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-right-0">
                    <div class="widget col-md-12  padding-15 block-one comp-dash-divs">
                        <div class="content-header dark-blue-text">
                            <div class="content-header-image">
                                <img src='../src/assets/images/client-dashboard/contact us-icon.png' class="dashboard-images">
                            </div>
                            <div class="content-header-text ">
                                <h3 class="font-weight-300 dark-blue-text">&nbsp; &nbsp; CONTACT US</h3>
                            </div>
                        </div>
                        <p class=" setup-text-band">Managed Account - Assigned Agent</p>

                        <div class="content-div-managed-account addres-block color-ash">

                            <span class="account-manager-name">
                                <b>Amanda Combs</b>, <i>Account Manager</i>
                                </span>

                            <div class="padding-top-5">
                                <span class="account-manager-number">
                                        <p>Direct: 888-663-6503</p>
                                    </span>
                                <p>Email: <span>amanda@skyinsurancetech.com</span></p>
                                <p>Support Line: <span>888-663-6503</span></p>
                                <a href="mailto: amanda@skyinsurancetech.com" target="_top" class="link-blue"> Contact My Manager</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">DEADLINES & DATA</h2>
                <div class="header-border-btm-blue"></div>
                <div class="col-md-6 padding-left-0 padding-right-12">
                    <div class="widget col-md-12  padding-15 block-one comp-dash-divs">
                        <div class="content-header dark-blue-text">
                            <div class="content-header-image">
                                <img src='../src/assets/images/client-dashboard/irs deadlines.png' class="dashboard-images">
                            </div>
                            <div class="content-header-text">
                                <h3 class="font-weight-300 dark-blue-text">&nbsp; IRS DEADLINES</h3>
                            </div>
                        </div>
                        <p class=" setup-text-band">Please note these important dates</p>
                        <div class="content-div-dead-line">
                            <div class="col-md-6">
                                <span class="employee-inner-text"> 
                                        <span class = "span-1095">COMPLIANCE</span>
                                <span class="employee-span-compliance"> ITEM</span>
                                </span>

                                <div class="employees-count compliance-count">
                                    183
                                </div>
                                <div class="employees-text compliance-text">
                                    Days Remaining
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span class="irs-inner-text efile-inner-text">
                                        <span class = "efile-span efile-span-efile">E-FILE </span>
                                <span class="efile-span-irs">TO IRS</span>
                                </span>
                                <div class="employees-count efile-count">
                                    212
                                </div>
                                <div class="employees-text efile-text">
                                    Days Remaining
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-right-0">
                    <div class="widget col-md-12  irs-main-block padding-15 comp-dash-divs">
                        <div (click)="redirectToEmployeeData('uploadfiles')" class="btn-primary upload-download-block cursor-pointer upload-datafiles-media"
                            style="padding:23px; background-color:#13a9cc">
                            <ul class="ul-inline download-upload-ul">
                                <li class="download-ul-li">
                                    <img src='../src/assets/images/upload.png'>
                                </li>
                                <li>
                                    <h6 class="upload-margin font-weight-300">UPLOAD</h6>
                                    <h6 class="font-weight-300">DATAFILES</h6>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div (click)="redirectToEmployeeData('uploadfiles')" class="btn-default upload-download-block cursor-pointer upload-datafiles-media"
                            style="padding:23px;background-color:#5ad1ed">
                            <ul class="ul-inline download-upload-ul">
                                <li class="upload-ul-li">
                                    <img src='../src/assets/images/download.png'>
                                </li>
                                <li>
                                    <h6 class="document-margin font-weight-300">DOCUMENT</h6>
                                    <h6 class="history-margin font-weight-300">HISTORY</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1" *ngIf="companySelected">
            <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">PROJECT STEPS & STATUS</h2>
            <div class="header-border-btm-blue"></div>
            <div class="col-md-4 padding-left-0 padding-right-12">
                <div class="widget col-md-12  padding-15 comp-dash-divs">
                    <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">1</span></h4>
                    <p class=" setup-text-band">On-boarding</p>
                    <table class="col-xs-12">
                        <tbody>
                            <tr class="steps-tr-class">
                                <td>Invoice</td>
                                <td class="padding-5">
                                    <span class="step-status-flag step-failed cursor-not-allowed">Not Paid</span>
                                </td>
                            </tr>
                            <tr class="steps-tr-class">
                                <td>Client Agreement</td>
                                <td class="padding-5">
                                    <span class="step-status-flag step-failed cursor-not-allowed">Needed</span>
                                </td>
                            </tr>
                            <tr class="steps-tr-class">
                                <td>Discovery Session</td>
                                <td class="padding-5">
                                    <span class="step-status-flag step-failed cursor-not-allowed">Needed</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger status-btn cursor-not-allowed" *ngIf="onBoarding === false">Incomplete</button>
                    <button class="btn btn-success status-btn cursor-not-allowed" *ngIf="onBoarding === true">Up to date</button>
                </div>
            </div>
            <div class="col-md-8 padding-right-0">
                <div class="widget col-md-12  view-manage-div padding-15">
                    <h3 class="font-weight-300 dark-blue-text text-center"> View & Manage Tracking</h3>
                    <div class="col-md-12 setup-text-band padding-20">

                        <div class="col-md-offset-1 col-md-2 padding-10">
                            <a [routerLink]="['/client/vht/test/trends']">
                            <img class="avatar" id="main-anchor-1" src="assets/images/client/employer-info/bri_default.png">
                             <h5 class="font-white margin-0 padding-10">Trends</h5>
                        </a>
                        </div>
                        <div class="col-md-2  padding-10">
                            <a [routerLink]="['/client/vht/test/payroll/submit']">
                            <img class="avatar"   id="main-anchor-1" src="assets/images/client/employer-info/cost_projectionsl.png">
                              <h5 class="font-white margin-0 padding-10">Payroll</h5>
                           </a>
                        </div>
                        <div class="col-md-2  padding-10">
                            <a [routerLink]="['/client/vht/test/employees']">
                            <img class="avatar"  id="main-anchor-1" src="assets/images/client/employer-info/monthly_inputs.png">
                              <h5 class="font-white margin-0 padding-10">Employees</h5>
                               </a>
                        </div>
                        <div class="col-md-2  padding-10">
                            <a [routerLink]="['/client/vht/test/actions']">
                            <img class="avatar"  id="main-anchor-1" src="assets/images/client/employer-info/reports.png">
                            <h5 class="font-white margin-0 padding-10 ">Actions</h5>
                             </a>
                        </div>
                        <div class="col-md-2  padding-10">
                            <a [routerLink]="['/client/vht/test/setup/users']">
                            <img class="avatar"  id="main-anchor-1" src="assets/images/client/employer-info/reports.png">
                             <h5 class="font-white margin-0 padding-10">Setup</h5>
                              </a>
                        </div>
                        <!--<ul>
                   
                    <li align="center" aria-expanded="true" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'trends']"><img class="avatar" id="main-anchor-1" src="assets/images/client/employer-info/account_setup_sel.png">
                        <p class="font-white margin-0">Trends</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'payroll','submit']"><img class="avatar" id="main-anchor-2" src="assets/images/client/employer-info/cost_projectionsl.png">
                        <p class="font-white margin-0">payroll</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employees']"><img class="avatar" id="main-anchor-3" src="assets/images/client/employer-info/monthly_inputs.png">
                        <p class="font-white margin-0">Employees</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'actions']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Actions</p>
                    </li>
                    <li align="center" class="col-xs-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','users']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Setup</p>
                    </li>
                 

                </ul></div>-->


                    </div>
                </div>


            </div>
        </div>

        <!-- Edit Company Details Modal -->