<section class="page-content page-content-0 padding-0 back-lightblue">
    <div class="page-content-inner single-page-login-alpha" style="background-image: url(/assets/images/Login_bg2.jpg)">

        <!-- Login Alpha Page -->
        <div class="col-md-11 margin-top-20 alert-div">

        </div>
        <div class="single-page-block login padding-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-md-12 padding-left-30 padding-top-10">
                            <img class="sir-logo" src="./assets/images/acars_logo.png" alt="Benefit Client Template">
                        </div>
                    </div>

                    <!--  starting block for login block-->
                    <div class="single-page-block-inner">
                        <div class="single-page-block-form">
                            <div class="logo" style="max-width: none;" align="center">
                                <a> <img class="login-logo" src="./assets/images/acars.png" alt="Benefit Client Template">
                                </a>
                            </div>

                            <div class="col-md-12 padding-0 margin-top-50">
                                <form id="email-form-validation" action="/login" method="post">
                                    <div class="form-group field-validation-email required has-success">
                                        <label class="form-label" for="validation-email">New Password</label>
                                        <input type="password" id="validation-email" class="form-control" name="LoginForm[username]" placeholder="Email or Username" aria-required="true" aria-invalid="false">

                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div class="form-group field-validation-password required has-success">
                                        <label class="form-label" for="validation-password">Confirm Password</label>
                                        <input type="password" id="validation-password" class="form-control password" name="LoginForm[password]" placeholder="Password" data-validation="[L&gt;=6]" aria-required="true" aria-invalid="false">

                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div class="form-group">
                                        <!-- <button type="submit" id="login_button" class="btn btn-primary col-xs-12 login-button" name="login-button">Sign In</button>-->
                                        <a id="login_button" style="color:#fff !important;" class="btn btn-primary col-xs-12 login-button" name="login-button" routerLink="/admin">Save</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--  starting block for login block-->
                </div>
            </div>
        </div>

        <div class="single-page-desc">
            <span class="single-page-desc-text">ACA Reporting and Tracking Made Simple</span>
        </div>
        <div class="single-page-block-footer text-center">
            <ul class="list-unstyled list-inline">
                <li><a href="javascript: void(0);">18 Interchange Blvd, Greenville SC 29615</a></li>
                <li><a href="javascript: void(0);">User Agreement</a></li>
                <li><a href="javascript: void(0);">Privacy Policy</a></li>
                <li><a href="javascript: void(0);">Contact Us</a></li>
                <li><a href="javascript: void(0);">Help</a></li>
                <li><a href="javascript: void(0);">Subscribe</a></li>
            </ul>
            <div class="single-page-copyright">
                Copyright © 2017 Sky Tech Analytics
            </div>
        </div>
    </div>

    <!-- End Login Alpha Page -->
    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header modal-header-color">
                    <h4 class="modal-title pull-left color-white">Forgot Password</h4>
                    <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="staticModal.hide()" aria-hidden="true">×</button>
                </div>
                <div class="modal-body row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class=" form-group ">
                            <label class="form-control-label" for="l0">Enter your Username / Email Address*</label>
                            <input type="text" class="form-control" placeholder="Username/Email Address" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <button type="button" class="btn btn-primary" id="chng_pwd_btn">Submit</button>
                    <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot password ends -->

    <!-- End Page Scripts -->
</section>