<section class="page-content page-content-0 padding-0 back-lightblue">
    <div class="page-content-inner single-page-login-alpha" style="background-image: url(/assets/images/Login_bg2.jpg)">

        <!-- Login Alpha Page -->
        <div class="col-md-11 margin-top-20 alert-div">

        </div>
        <div class="single-page-block login padding-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-md-12 padding-left-30 padding-top-10">
                            <img class="sir-logo" src="./assets/images/acars_logo.png" alt="Benefit Client Template">
                        </div>
                    </div>

                    <!--  starting block for login block-->
                    <div class="single-page-block-inner">
                        <div class="">
                            <div class="logo" style="max-width: none;" align="center">
                                <a> <img class="login-logo" src="./assets/images/acars.png" alt="Benefit Client Template">
                                </a>
                            </div>

                            <div class="col-md-12 padding-0 margin-top-50">
                                <form [formGroup]="setPwdForm" (submit)="onSetPwdFormSubmit()" novalidate *ngIf="_isValidToken">
                                    <div class="form-group required" [ngClass]="{'has-danger': !_isValid('setPwdForm','newPassword')}">
                                        <label class="form-label">New Password</label>
                                        <input type="password" class="form-control" placeholder="New Password" id="new-password" name="newPassword" formControlName="newPassword" [ngClass]="{'form-control-danger': !_isValid('setPwdForm','newPassword')}">
                                        <control-messages [control]="setPwdForm.controls.newPassword"></control-messages>
                                        <span class="help-block help-block-error" *ngIf="!_formErrors.newPassword.valid">{{_formErrors.newPassword.message}}</span>
                                    </div>
                                    <div class="form-group required" [ngClass]="{'has-danger': !_isValid('setPwdForm','retypePassword')}">
                                        <label class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-password" name="retypePassword" formControlName="retypePassword" [ngClass]="{'form-control-danger': !_isValid('setPwdForm','retypePassword')}">
                                        <control-messages [control]="setPwdForm.controls.retypePassword"></control-messages>                            
                                        <span class="help-block help-block-error" *ngIf="!_formErrors.retypePassword.valid">{{_formErrors.retypePassword.message}}</span>
                                        <span *ngIf="_errorMessageSetPwd" class="help-block help-block-error">{{_errorMessageSetPwd}}</span>                    
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" style="margin-top: 20px;color:#fff" class="btn btn-primary col-xs-12 login-btn" [disabled]="!setPwdForm.valid || _submitted == true">Submit</button>
                                        <div class="spinner mt-4" *ngIf="_submitted"></div>
                                    </div>
                                </form>
                                <div *ngIf="!_isValidToken" class="alert alert-danger">Invalid Token has been passed or token has been expired. Please request for a new password token again through the <a routerLink='/login' class="link-blue-underline">login page</a>.</div>
                            </div>
                        </div>
                    </div>
                    <!--  starting block for login block-->
                </div>
            </div>
        </div>

        <div class="single-page-desc">
            <span class="single-page-desc-text">ACA Reporting and Tracking Made Simple</span>
        </div>
        <div class="single-page-block-footer text-center">
            <div class="single-page-copyright">
                Copyright © 2017 Sky Tech Analytics
            </div>
        </div>
    </div>

    <!-- End Login Alpha Page -->
    <!-- End Page Scripts -->
</section>