<div class="page-content col-md-12 dashboard-page-content">
    <div class="container">
        <div class="col-md-12 border-ddd widget padding-15">
            <form [formGroup]="_currentUserForm" (ngSubmit)="onSubmit()">
                <div class="col-md-12 border-ddd widget padding-15">
                    <div class="col-md-12 padding-0">
                        <div class="col-md-4">
                            <div class="">
                                <label class="form-control-label">First Name <span class="red">*</span></label>
                                <div class="form-group required" [ngClass]="{'has-danger': !_isValid('first_name')}">
                                    <input type="text" oninput="this.value=this.value.replace(/[^A-Za-z ]/g, '')" class="form-control" [formControl]="_currentUserForm.controls['first_name']" [(ngModel)]="currentProfile.first_name" [ngClass]="{'form-control-danger': !_isValid('first_name')}" maxlength="34">
                                    <span class="help-block help-block-error" *ngIf="!_formErrors.first_name.valid">{{_formErrors.first_name.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="">
                                <label class="form-control-label">Last Name <span class="red">*</span></label>
                                <div class="form-group field-adminusers-last_name required" [ngClass]="{'has-danger': !_isValid('last_name')}">
                                    <input type="text" oninput="this.value=this.value.replace(/[^A-Za-z ]/g, '')" id="adminusers-last_name" class="form-control" [formControl]="_currentUserForm.controls['last_name']" [(ngModel)]="currentProfile.last_name" [ngClass]="{'form-control-danger': !_isValid('last_name')}" maxlength="34">
                                    <span class="help-block help-block-error" *ngIf="!_formErrors.last_name.valid">{{_formErrors.last_name.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="">
                                <label class="form-control-label">Status</label>
                                <div class="form-group field-adminusers-last_name required">
                                    <span id="adminusers-status" class="form-control" readonly>{{(currentProfile.is_active) == 1 ? "Active" : "Inactive"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 padding-0">                        
                        <div class="col-md-4">
                            <label class="form-control-label">Email Address <span class="red">*</span></label>
                            <div class="form-group field-adminusers-username required" [ngClass]="{'has-danger': !_isValid('username')}">
                                <input type="text" id="adminusers-username" class="form-control" [formControl]="_currentUserForm.controls['username']" [(ngModel)]="currentProfile.username" [ngClass]="{'form-control-danger': !_isValid('username')}" aria-required="true">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.username.valid">{{_formErrors.username.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label">Phone <span class="red">*</span></label>
                            <div class="form-group field-adminusers-phone required" [ngClass]="{'has-danger': !_isValid('mobile')}">
                                <input type="text" [textMask]="{mask: mask,guide: false, modelClean: true}" id="adminusers-phone" class="form-control" [formControl]="_currentUserForm.controls['mobile']" [(ngModel)]="currentProfile.mobile" [ngClass]="{'form-control-danger': !_isValid('mobile')}" aria-required="true"
                                    placeholder="(___) ___-____">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.mobile.valid">{{_formErrors.mobile.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label">Extension</label>
                            <div class="form-group field-adminusers-extension" [ngClass]="{'has-danger': !_isValid('phone_extension')}">
                                <input type="text" id="adminusers-extension" OnlyNumber="true" class="form-control numbers" [formControl]="_currentUserForm.controls['phone_extension']" [(ngModel)]="currentProfile.phone_extension" [ngClass]="{'form-control-danger': !_isValid('phone_extension')}"
                                    value="" maxlength="6">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.phone_extension.valid">{{_formErrors.phone_extension.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 padding-0 bg-sky-blue border-ddd" align="right" style="border-top: none;">
                        <div class="modal-footer-btn padding-15">
                            <button type="submit" class="btn btn-primary" [disabled]="!_currentUserForm.valid || _submitted==true">Save</button> <a [routerLink]="dashBoardService.clientHomeUrl" class="btn btn-default"> Cancel </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>