<div class="row section-container">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="fontcolor-blue margin-bottom-5 text-center">WELCOME</h3>
        <div class="row header-border-btm-blue"></div>
        <div class="row border-ddd widget box-shadow widget-six">
            <img src='../src/assets/images/client-dashboard/4-agree-terms.png' class="setupImg">
            <p class="setup-text-band">Please help us setup your account:</p>
            <div align="center">
                <p class="gray-text">Do you Agree to the Software Terms & Conditions?</p>
            </div>
            <div class="padding-15">
                <ul class="ul-inline">
                    <li class="previous-link">
                        <a [routerLink]="" (click)="backToPrimaryContract()">&nbsp;<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Previous</a>
                    </li>
                    <li style="padding-left: 23%;">
                        <a [routerLink]="" (click)="finalStep()" class="btn btn-primary btn-blue">Yes</a>
                        <a class="btn btn-default">No</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>