<div class="row section-container">
    <div class="col-md-8 col-md-offset-2 border-ddd widget padding41 box-shadow widget-six">
        <h3 class="text-center"> 
            <label class="mt-checkbox mt-checkbox-outline color-black">
            <input type="hidden" name="LoginForm[rememberMe]" value="0"><input type="checkbox" id="loginform-rememberme" name="LoginForm[rememberMe]" value="1" checked="" aria-invalid="false">
            <span></span>
            </label><u>Agree to Software Terms & Conditions</u></h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="pull-right">
            <button class="btn btn-primary btn-blue" [routerLink]="['/client/setup/primary-contract']"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous</button>
            <button class="btn btn-primary btn-blue" [routerLink]="['/client/aca16/companies']"><i class="fa fa-check" aria-hidden="true"></i> Finish </button>
        </div>
    </div>
</div>