<div class="product-container col-md-12 pull-left width-100">

    <!-- company info -->
    <nav class="col-xs-12 cat__core__top-sidebar cat__core__top-sidebar--bg" style="margin-bottom: 12px;">
        <div class="pull-right">
            <a class="btn btn-sm btn-outline-primary ladda-button" [routerLink]="['/client/',product,company,'reporting-check-list']" data-style="expand-right"><i class="fa fa-dashboard"></i> <span class="ladda-label">Company<span class="hidden-sm-down"> Dashboard</span></span><span class="ladda-spinner"></span></a>
        </div>
        <h5 class="cat__core__title d-block mb-0 pt-3">
            <span> Name: <span class="text-muted">Cargo Force</span></span>
            <span style="padding-left:10px;">EIN: <span class="text-muted">15-90010</span></span>
            <span style="padding-left:10px;"> Reporting Year: <span class="text-muted">2016</span></span>
        </h5>
    </nav>
    <!-- ./company info -->

    <div class="col-xs-12">
        <div class="col-xs-12 widget widget-two no-padding">
            <div class="col-xs-12 widget-header-11">
                <div class="col-xs-5 no-padding">
                    <div style="padding-top:10px;"><strong>Users</strong></div>
                </div>
                <div class="col-xs-7">
                    <div class="pull-right">
                        <a class="btn  btn-modal-blue" data-toggle="modal" href="#add_admin_user_modal" role="button">Add User</a>
                    </div>
                </div>
            </div>
            <div class="clearfix">

                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr class="tr-blue-grid-head">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Extension</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>
                        <tr class="tr-text-center">
                            <td class="link-blue-underline" data-toggle="modal" href="#add_admin_user_modal">Mark</td>
                            <td>Combs</td>
                            <td><a class="link-blue-underline" href="mailto:john@combs.com">John@combs.com</a></td>
                            <td>(888) 9895645</td>
                            <td>234</td>
                            <td><a class="link-blue-underline" data-toggle="modal" href="#user_activity_modal">View</a></td>

                        </tr>


                    </tbody>

                </table>


                <div class="col-md-12">
                    <div class="col-md-3 padding10">
                        <div aria-live="polite" class="dataTables_info" id="example3_info" role="status">Showing 1 to 4 of 48 entries</div>
                    </div>
                    <div class="col-md-9 text-right">

                        <ul class="pagination">
                            <li class="first disabled"><span>first</span></li>
                            <li class="prev disabled"><span>previous</span></li>
                            <li class="active"><a data-page="0">1</a></li>
                            <li><a data-page="1">2</a></li>
                            <li><a data-page="2">3</a></li>
                            <li><a data-page="3">4</a></li>
                            <li><a data-page="4">5</a></li>
                            <li class="next"><a data-page="1">next</a></li>
                            <li class="last"><a data-page="8">last</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Add Admin User Modal -->
<div class="modal fade" id="add_admin_user_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Add User
                </h4>
            </div>
            <div class="modal-body row">
                <form id="w0" method="post" enctype="multipart/form-data">
                    <div class="col-md-12 border-ddd widget padding-15">
                        <div class="col-md-12 padding-0">
                            <div class="col-md-4">
                                <div class="">
                                    <label class="form-control-label">First Name <span class="red">*</span></label>
                                    <div class="form-group field-adminusers-first_name required">

                                        <input type="text" id="adminusers-first_name" class="form-control" name="AdminUsers[first_name]" maxlength="15" onkeypress="return username(event);" aria-required="true">

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label class="form-control-label">Last Name <span class="red">*</span></label>
                                    <div class="form-group field-adminusers-last_name required">
                                        <input type="text" id="adminusers-last_name" class="form-control" name="AdminUsers[last_name]" maxlength="15" aria-required="true">

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-4">
                                <div class="form-group field-user-username">
                                    <label class="form-control-label" for="user-username">Email Address <span class="red">*</span></label>
                                    <input type="text" id="adminusers-email" class="form-control" aria-required="true">
                                </div>
                            </div>


                        </div>
                        <div class="col-md-12 padding-0">
                            <div class="col-md-4">
                                <label class="form-control-label">Phone <span class="red">*</span></label>
                                <div class="form-group field-adminusers-phone required">
                                    <input type="text" id="adminusers-phone" class="form-control" name="mobile" [(ngModel)]="model.mobile" PhoneMask="(999) 999-9999" placeholder="(___) ___-____">
                                    <div class="help-block"></div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <label class="form-control-label">Extension</label>
                                <div class="form-group field-adminusers-extension">
                                    <input type="text" id="adminusers-extension" class="form-control numbers" name="AdminUsers[extension]" value="" maxlength="6">
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Save  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>

            </div>
        </div>

    </div>

</div>
<!-- ./Add Admin User Modal -->

<!-- User Activity Modal -->
<div class="modal fade" id="user_activity_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Activity
                </h4>
            </div>
            <div class="modal-body row">
                <div class="clearfix1">
                    <table class="table table-bordered table-hover" id="">
                        <thead>
                            <tr class="tr-grid-header">
                                <th class="blue-grid-head">User Name</th>
                                <th class="blue-grid-head">Visited URL</th>
                                <th class="blue-grid-head">Visited Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alex Mark</td>
                                <td>www.acareporting.com/admin/manage-e-files</td>
                                <td>08-02-2017 10:25:34 A.M</td>
                            </tr>
                            <tr>
                                <td>Alex Mark</td>
                                <td>www.acareporting.com/client/dashboard</td>
                                <td>08-02-2017 10:25:34 A.M</td>
                            </tr>
                            <tr>
                                <td>Alex Mark</td>
                                <td>www.acareporting.com/admin/manage-e-files</td>
                                <td>08-02-2017 10:25:34 A.M</td>
                            </tr>
                            <tr>
                                <td>Alex Mark</td>
                                <td>www.acareporting.com/admin/manage-e-files</td>
                                <td>08-02-2017 10:25:34 A.M</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 padding10">
                        <div aria-live="polite" class="dataTables_info" id="example3_info" role="status">Showing 1 to 4 of 48 entries</div>
                    </div>
                    <div class="col-md-9 text-right">

                        <ul class="pagination">
                            <li class="first disabled"><span>first</span></li>
                            <li class="prev disabled"><span>previous</span></li>
                            <li class="active"><a data-page="0">1</a></li>
                            <li><a data-page="1">2</a></li>
                            <li><a data-page="2">3</a></li>
                            <li><a data-page="3">4</a></li>
                            <li><a data-page="4">5</a></li>
                            <li class="next"><a data-page="1">next</a></li>
                            <li class="last"><a data-page="8">last</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Save  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>

            </div>
        </div>

    </div>

</div>