<div *ngIf="loaderService.loaderState" class="loading"></div>
<nav class="top-menu transistion top-nav admin-nav">
    <div class="menu-icon-container items-class hidden-md-up">
        <div class="animate-menu-button left-menu-toggle" [class.active]="isLinkActive" (click)="toggleClass()">
            <div>
            </div>
        </div>
    </div>
    <div class="menu-icon-container image-class hidden-md-up margin-15">
        <div class="">
            <img src="/assets/images/ACA-Reporting-Logo.png" class="max-width-140" alt="">
        </div>
    </div>

    <div class="menu transistion-menu header-top col-md-10 masterhead padding-left-0  media-hide-header">
        <div class="logo-container col-md-2  media-hide-header">

            <img src="/assets/images/ACA-Reporting-Logo.png" style="height:44px;" class="width-198 img-transistion" alt="" />

        </div>
        <ul class="actions media-hide-header">
            <li>
                <a class="disable-hover home" *ngIf=globalService.financial_permission [routerLinkActive]="['home-page-active']" [routerLink]="['/admin/summary']"><b><i class="fa fa-home" aria-hidden="true"></i></b></a>
                <a class="disable-hover home" *ngIf=!globalService.financial_permission [routerLinkActive]="['home-page-active']" [routerLink]="['/admin/dashboard']"><b><i class="fa fa-home" aria-hidden="true"></i></b></a>
            </li>
            <li>
                <a class="disable-hover" id="search_link" [routerLinkActive]="['page-active']" [routerLink]="['/admin/search']"><b>Search</b></a>
            </li>
            <li>
                <div class="menu-user-block" [routerLinkActive]="['dropdown-menu-active']">
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle disable-hover" data-toggle="dropdown" aria-expanded="false"><b>Actions</b>
				         </a>

                        <ul class="dropdown-menu arrow-icon dropdown-menu-left arrow padding-0" aria-labelledby="" role="menu">
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/orders']" [routerLinkActive]="['page-active']">
                           Orders
                        </a>
                            <!-- <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/admin/manage-e-files']" [routerLinkActive]="['page-active']">
                            Manage E-files
                        </a> -->
                            <!-- <a class="dropdown-item dropdown-a color-white color-red" *ngIf=globalService.systemAdmin_permission [routerLink]="['/admin/jobs']"
                                [routerLinkActive]="['page-active']">
                            Scheduled Jobs
                        </a> -->
                            <a class="dropdown-item dropdown-a color-white" *ngIf=globalService.systemAdmin_permission [routerLink]="['/admin/error-log']" [routerLinkActive]="['page-active']">
                            Error Log
                        </a>
                            <!-- <a class="dropdown-item dropdown-a color-white color-red" *ngIf=globalService.systemAdmin_permission [routerLink]="['/admin/activity-log']"
                                [routerLinkActive]="['page-active']">
                            Activity Log
                        </a> -->

                        </ul>
                    </div>
                </div>
            </li>
            <li *ngIf=globalService.masterData_permission>
                <a class="disable-hover" id="search_link" [routerLinkActive]="['page-active']" [routerLink]="['/admin/master-data/manage-brands']"><b>Master Data</b></a>
            </li>
            <!-- <li *ngIf=globalService.masterData_permission>
                <div class="menu-user-block" [routerLinkActive]="['dropdown-menu-active']">
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle disable-hover" data-toggle="dropdown" aria-expanded="false"><b> Master Data</b>
				         </a>

                        <ul class="dropdown-menu arrow-icon dropdown-menu-left arrow padding-0" aria-labelledby="" role="menu">
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/manage-brands']" [routerLinkActive]="['page-active']">
                           Manage Brands
                        </a>
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/products']" [routerLinkActive]="['page-active']">
                            Manage Products
                        </a>
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/lookup-options']" [routerLinkActive]="['page-active']">
                            Lookup Options
                        </a>
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/account-settings']" [routerLinkActive]="['page-active']">
                           Account Settings
                        </a>
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/element-master']" [routerLinkActive]="['page-active']">
                         Element Master
                        </a>

                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/code-calculator']" [routerLink]="['/admin/master-data/form-pricing']"
                                [routerLinkActive]="['page-active']">
                         Code Calculator
                        </a>
                            <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/admin/master-data/error-master']" [routerLinkActive]="['page-active']">
                      Error Master
                       </a>


                            <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/admin/master-data/form-pricing']" [routerLinkActive]="['page-active']">

                          Form Pricing
                        </a>
                            <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/master-data/email-templates']" [routerLinkActive]="['page-active']">
                            Email Templates
                        </a>
                            <a class="dropdown-item dropdown-a color-white color-red" [routerLink]="['/admin/master-data/videos']" [routerLinkActive]="['page-active']">
                       Videos
                        </a>
                        </ul>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>

    <div class="menu transistion-menu header-top profile col-md-2 back-color masterhead padding-left-0 pull-right back-color-profile admin-profile" id="profile_details">
        <div class="menu-user-block col-md-12">
            <div class="dropdown dropdown-avatar pull-right">
                <a href="javascript: void(0);" class="dropdown-toggle profile-icon" data-toggle="dropdown" aria-expanded="false">
                    <span class="header-name media-hide-profilename">
                        <span class="font-14">Welcome</span> {{userFirstName}}
                    <span class="font-14"></span>
                    </span>
                </a>
                <ul class="dropdown-menu arrow-icon dropdown-menu-left arrow padding-0 margin-0" aria-labelledby="" role="menu" style="margin-top:0px !important;">
                    <a class="dropdown-item dropdown-a color-white" [routerLink]="['/admin/profile']"><i
						class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider margin-0"></div>
                    <a class="dropdown-item dropdown-a color-white cursor-pointer" (click)="chngPwdModal.show()"><i
						class="dropdown-icon fa fa-repeat"></i> Change Password</a>
                    <div class="dropdown-divider margin-0"></div>
                    <a class="dropdown-item dropdown-a color-white border-btm-dd" href="#"><i
                        class="dropdown-icon icmn-exit"></i> Logout</a>
                    <div class="termsNCondition-div">
                        <span> <a  class="termsNCondition-link">Terms & Conditions</a></span> &nbsp;&nbsp;&nbsp;&nbsp;<span><a  class="termsNCondition-link"> Privacy Policy</a></span>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</nav>
<section class="page-content page-content-0 padding-0 back-lightblue">
    <div class="page-content-inner">
        <router-outlet></router-outlet>
    </div>
</section>
<div class="modal fade" bsModal #chngPwdModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">
                <h4 class="modal-title pull-left color-white">Change Password</h4>
                <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="chngPwdModal.hide()" aria-hidden="true">×</button>
                <!--<button type="button" class="close pull-right" aria-label="Close" (click)="chngPwdModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>-->
            </div>
            <form [formGroup]="chngPwdForm" (submit)="onChngPwdFormSubmit()" novalidate>
                <div class="modal-body row">
                    <div class="form-group col-md-12">
                        <div class="col-sm-4 add-mem">
                            <label class="add-member-label">Email:</label>
                        </div>
                        <div class="col-sm-8">
                            <span class="form-control">{{useremail}}</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12" [ngClass]="{'has-danger': !_isValid('chngPwdForm','currentPassword')}">
                        <div class="col-sm-4 add-mem">
                            <label class="add-member-label">Current Password:<span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" placeholder="Current Password" id="current-password" name="currentPassword" formControlName="currentPassword" [ngClass]="{'form-control-danger': !_isValid('chngPwdForm','currentPassword')}">
                            <control-messages [control]="chngPwdForm.controls.currentPassword"></control-messages>
                            <span class="help-block help-block-error" *ngIf="!_formErrors.currentPassword.valid">{{_formErrors.currentPassword.message}}</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12" [ngClass]="{'has-danger': !_isValid('chngPwdForm','newPassword')}">
                        <div class="col-sm-4 add-mem">
                            <label class="add-member-label">New Password:<span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" placeholder="New Password" id="new-password" name="newPassword" formControlName="newPassword" [ngClass]="{'form-control-danger': !_isValid('chngPwdForm','newPassword')}">
                            <control-messages [control]="chngPwdForm.controls.newPassword"></control-messages>
                            <span class="help-block help-block-error" *ngIf="!_formErrors.newPassword.valid">{{_formErrors.newPassword.message}}</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12" [ngClass]="{'has-danger': !_isValid('chngPwdForm','retypePassword')}">
                        <div class="col-sm-4 add-mem">
                            <label class="add-member-label">Confirm Password:<span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" placeholder="Confirm Password" id="new-confirm-password" name="retypePassword" formControlName="retypePassword" [ngClass]="{'form-control-danger': !_isValid('chngPwdForm','retypePassword')}">
                            <control-messages [control]="chngPwdForm.controls.retypePassword"></control-messages>
                            <span class="help-block help-block-error" *ngIf="!_formErrors.retypePassword.valid">{{_formErrors.retypePassword.message}}</span>
                            <span *ngIf="_errorMessageChngPwd" class="help-block help-block-error">{{_errorMessageChngPwd}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <button type="submit" [disabled]="!chngPwdForm.valid" class="btn btn-primary" id="chng_pwd_btn">Save Changes</button>
                    <button type="button" class="btn btn-default" (click)="chngPwdModalDismiss()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>