.form-control {
    height: 34px;
}

.panel .left-panel-body {
    padding: 15px;
}

.menu-dropdown-active>a {
    background-color: #f7971e;
    font-size: 14px;
    border-color: #f7971e;
    padding: 4px 11px;
    outline: none !important;
    line-height: 1.7;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    color: white !important;
}

.menu-dropdown-active.dropdown.dropdown-avatar .dropdown-toggle:after {
    color: #fff;
}


/* tables css */

tr.tr-text-center {
    text-align: center
}

tr.tr-blue-grid-head {
    background-color: #13a9cc;
    color: #fff !important;
}

tr.tr-blue-grid-head>th {
    text-align: center;
}


/* ./tables css */

.widget-two .widget-header-11 {
    padding: 11px 25px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #eceff4;
}

.widget-tools {
    padding-top: 3px;
}

.widget-tools i:focus,
.widget-tools i:hover {
    font-size: 21px !important;
    width: unset !important;
    color: #31B3D1 !important;
}

.link-blue {
    color: #31B3D1;
    cursor: pointer;
}

.link-blue-underline {
    color: #31B3D1;
    text-decoration: underline;
    cursor: pointer;
}

.login a.link-blue-underline {
    color: #0275d8;
    text-decoration: underline;
    cursor: pointer;
}

.login a.old-acars-link {
    color: #0275d8;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

/* icons */

.excel-icon {
    background: url(../images/icons/applications/ms-excel.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    display: block;
}

.pdf-icon {
    background: url(../images/icons/applications/pdf.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    display: block;
}


/* ./icons */


/* header */

.media-hide-header i.fa-home,
.media-hide-header i.fa-home:hover,
.media-hide-header i.fa-home:active {
    font-size: 33px !important;
}

.home-page-active .fa-home {
    color: #f7971e;
}

.menu-user-block.dropdown-menu-active>div>a {
    background-color: #f7971e;
    font-size: 14px;
    border-color: #f7971e;
    padding: 4px 11px;
    outline: none !important;
    line-height: 1.7;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    /* text-align: center; */
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    color: white !important;
}

body.body-blue .dropdown-menu .dropdown-item.page-active {
    background: #f7971e;
    color: #fdfdfd;
    border: 1px solid #ddd;
}

.color-red{
    color: red !important;
}
/* ./header */

/* select */
.has-danger .form-control-danger {
    background-position: 96% 7px;
}
/* ./select */
/* header menu */
ul.actions.media-hide-header{
    text-align: center;
}
ul.actions.media-hide-header > li:nth-child(1) {
    width: 60px;
}
ul.actions.media-hide-header > li:nth-child(2) {
    width: 80px;
}
ul.actions.media-hide-header > li:nth-child(3) {
    width: 102px;
}
ul.actions.media-hide-header > li:nth-child(4) {
    width: 114px;
}
nav.top-menu .menu .menu-user-block{
    float: unset;
}
body.body-blue .actions>li{
    margin-right: 0px !important;
}
/* ./header menu */
/* client employer-info font*/
.emp-info-font{
    font-size: 16px;
}
.emp-info-font input[type=radio]{
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 6px !important;
}

.emp-info-font input[type=checkbox]{
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 5px !important;
}
.emp-info-font .checkbox-inline+.checkbox-inline{
    padding-left: 30px;
}
.emp-info-font .radio-inline+.radio-inline{
    padding-left: 30px;
}
/* client employer-info font*/
#employer_info_container{
    margin: 0 auto;
    padding-top: 30px;
}
#employer_info_container > div{
    padding: 0;
}

.tabSpace{
    padding-left: 30px;
}

.emp-info-font .form-group{
    margin-bottom: 2.5rem;
}
.emp-info-font .inl-q-a{
    display: flex;
}

.box-head {
    font-size: 1.6286rem !important;
}

.pad-top-btm-0{
    padding-top: 0px;
    padding-bottom: 0px;
}

.file-review-btn-actions{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right:5px;
    height: 33px;
}

.file-review-btn-actions img{
    height: 24px;
}

.file-review-btn-actions img.folder {
    height: 33px;
}

.admin-review-block, .admin-reply-block{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    margin-top:0px;
    margin-bottom:0px;
}

.admin-review-block > .review-title, .admin-reply-block > .review-title{
    font-weight: 600;
}

.admin-review-block{
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.history-brk{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom: 1px solid blue;
}