<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12 widget widget-two no-padding">
            <div class="widget-header-11">
                <strong>Messages</strong>
            </div>
            <div class="clearfix1">
                <table class="table table-bordered table-hover" id="">
                    <thead>
                        <tr class="tr-grid-header">
                            <th class="blue-grid-head">Date Time</th>
                            <th class="blue-grid-head">Subject</th>
                            <th class="blue-grid-head">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/9/2017 12:00:00</td>
                            <td>Purchases</td>
                            <td>It is description of message.</td>
                        </tr>
                        <tr>
                            <td>6/9/2017 1:10:00</td>
                            <td>Client</td>
                            <td>It is description of message.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 padding10">
                    <div aria-live="polite" class="dataTables_info" id="example3_info" role="status">Showing 1 to 4 of 48 entries</div>
                </div>
                <div class="col-md-9 text-right">

                    <ul class="pagination">
                        <li class="first disabled"><span>first</span></li>
                        <li class="prev disabled"><span>previous</span></li>
                        <li class="active"><a data-page="0">1</a></li>
                        <li><a data-page="1">2</a></li>
                        <li><a data-page="2">3</a></li>
                        <li><a data-page="3">4</a></li>
                        <li><a data-page="4">5</a></li>
                        <li class="next"><a data-page="1">next</a></li>
                        <li class="last"><a data-page="8">last</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>