
<div class="section-container" style="top:45px !important">
<div class="col-md-12 ">    
 <app-vht-band ></app-vht-band>
<div class="col-md-9 col-xs-12">
 <app-vht-actions></app-vht-actions>
<!-- Continer starts Here -->
  <div class="col-md-12 widget padding-40  ">
            <h4 class="dark-blue-text">Compliance Actions</h4>
                   <table class="table table-hover table-bordered table-striped " [mfData]="csvData " #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr class="tr-blue-grid-head">
                               <th> <mfDefaultSorter by="0">First Name</mfDefaultSorter></th>
                             <th> <mfDefaultSorter by="1">Last Name</mfDefaultSorter></th>
                              <th> <mfDefaultSorter by="2">Division</mfDefaultSorter></th>
                               <th> <mfDefaultSorter by="3">ID</mfDefaultSorter></th>
                                <th> <mfDefaultSorter by="4">Measurement Type</mfDefaultSorter></th>
                                 <th> <mfDefaultSorter by="5">Admin Start</mfDefaultSorter></th>
                                  <th> <mfDefaultSorter by="6">Admin End</mfDefaultSorter></th>
                                   <th> <mfDefaultSorter by="7">Stability Start</mfDefaultSorter></th>
                                   <th> <mfDefaultSorter by="8">Stability End</mfDefaultSorter></th>
                                     <th> <mfDefaultSorter by="9">Completed</mfDefaultSorter></th>
                        </tr>
                    </thead>
                    <tbody>
                       <ng-container *ngIf="mf.data?.length">
                         <tr class="tr-text-center"  *ngFor="let x of mf.data; let i = index">
                             
                           <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>                           
                            <td>{{x[2]}}</td>
                            <td>{{x[3]}}</td> 
                             <td>{{x[4]}}</td> 
                              <td>{{x[5]}}</td> 
                               <td>{{x[6]}}</td> 
                                <td>{{x[7]}}</td> 
                                 <td>{{x[8]}}</td> 
                                  
                                   <td>
                                    <a class="link-blue-underline" (click)="togglecompleted(i,x[9]);" title="Click to toggle" >{{x[9]}}</a>
                                   <!--<a class="link-blue-underline" (click)="togglecompleted();"*ngIf="isCompleted === false" title="Click to toggle" >No</a>-->
                                   </td>                           
                           
                        </tr>
             </ng-container>
                      <tr class="tr-text-center" *ngIf=!mf.data?.length>
                            <td colspan="10">
                                No records are found
                            </td>
                        </tr>

                     


                    </tbody>
                     <tfoot>
                            <tr>
                                <td colspan="10">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot> 
                </table>        
                      


 </div> 
<!-- Continer Ends Here -->
  </div>
  </div>
</div>
