<ng-container *ngIf="clientDashBoardService.dashBoard">

    <div class="row company-section-container">

        <div class="col-md-12" style="margin-top:25px;">
            <div class="container padding-bottom-30">
                <div class="col-md-6 padding-right-12">
                    <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">SEARCH & SUPPORT</h2>
                    <div class="header-border-btm-blue"></div>
                    <div class="companies-media-div padding-left-0 padding-right-12">
                        <div id="companies_list_div" class="client-dash-first-row-widgets widget col-md-12 padding-15 block-one comp-dash-divs">

                            <div class="content-header dark-blue-text">
                                <div class="content-header-image">
                                    <img src='../src/assets/images/client-dashboard/companies list-icon.png' class="dashboard-images">
                                </div>
                                <div class="content-header-text">
                                    <h4 class="white-space font-weight-300 dark-blue-text">&nbsp; COMPANIES LIST</h4>
                                </div>
                            </div>

                            <div class="company-search left-addon">
                                <!-- 
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" placeholder="Search for Companies" class="form-control company-search-text-box margin-bottom-15" [(ngModel)]="filterQuery"
                                    />
                                </div>
                                 -->
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" placeholder="Search for Companies" class="form-control company-search-text-box margin-bottom-15" [(ngModel)]="filterQuery"
                                />
                            </div>
                            <!-- <div class="add-company-ein-div">
                                <button (click)="createCompany()" class="add-company-ein btn btn-primary btn-blue">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> 
                                    Add EIN
                                </button>
                            </div> -->
                            <div id="company_list_table" class="content-div">
                                <table class="table table-fixed table-hover table-striped table-company-dashboard color-ash" [mfData]="clientDashBoardService.companies | companiesFilter : filterQuery"
                                    #mf="mfDataTable" [mfRowsOnPage]="clientDashBoardService.rowsOnPage" [(mfSortBy)]="sortBy"
                                    [(mfSortOrder)]="sortOrder">
                                    <thead>
                                        <tr>
                                            <th class="padding-left-15 col-xs-6">
                                                <mfDefaultSorter by="company">Company Name</mfDefaultSorter>
                                            </th>
                                            <th class="padding-left-15 col-xs-6">
                                                <mfDefaultSorter by="companyId">Company ID</mfDefaultSorter>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="mf.data?.length">
                                            <tr (click)="setCompany(company)" class="flex" *ngFor="let company of mf.data" [class.active-company]="company.company_id == clientDashBoardService.selectedCompanyRow">
                                                <td *ngIf="company.company_name" class="padding-left-20 col-xs-6">{{company.company_name}}</td>
                                                <td *ngIf="!company.company_name" class="padding-left-20 col-xs-6">
                                                    <a (click)="updateCompanyInfo(company,true)" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li no-wrap ">Add EIN</a></td>
                                                <td class="text-center padding-left-30 col-xs-6">
                                                    {{company.company_client_number}}
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <tr class="tr-text-center" *ngIf=!mf.data?.length>
                                            <td colspan="2">
                                                No records are found
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="contact-us-media-div padding-right-0">
                        <div id="contact_us_div" class="client-dash-first-row-widgets widget col-md-12  padding-15 block-one comp-dash-divs">

                            <div class="content-header dark-blue-text">
                                <div class="content-header-image">
                                    <img src='../src/assets/images/client-dashboard/contact us-icon.png' class="dashboard-images">
                                </div>
                                <div class="content-header-text ">
                                    <h3 class="white-space font-weight-300 dark-blue-text">&nbsp; &nbsp; CONTACT US</h3>
                                </div>
                            </div>

                            <p class=" setup-text-band">Managed Account - Assigned Agent</p>

                            <div class="content-div-managed-account addres-block color-ash">

                                <span class="account-manager-name" *ngIf="clientDashBoardService.accountManager">
                                <b>{{clientDashBoardService.accountManager}}</b>, <i>Account Manager</i>
                                </span>

                                <div class="padding-top-5">
                                    <span class="account-manager-number" *ngIf="clientDashBoardService.accountManagerNumber">
                                <p>Direct: {{clientDashBoardService.accountManagerNumber}}</p>
                                </span>
                                    <p>Email: <span>{{clientDashBoardService.brandInformation.support_email}}</span></p>
                                    <p>Support Line: <span>{{clientDashBoardService.brandInformation.support_phone}}</span></p>
                                    <a *ngIf="clientDashBoardService.accountManager" href="mailto:{{clientDashBoardService.accountManagerMail}}" target="_top"
                                        class="link-blue"> Contact My Manager</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">DEADLINES & DATA</h2>
                    <div class="header-border-btm-blue"></div>
                    <div class="irs-media-div padding-left-0 padding-right-12">
                        <div id="irs-div" class="client-dash-first-row-widgets widget col-md-12  padding-15 block-one comp-dash-divs">
                            <div class="content-header dark-blue-text">
                                <div class="content-header-image">
                                    <img src='../src/assets/images/client-dashboard/irs deadlines.png' class="dashboard-images">
                                </div>
                                <div class="content-header-text">
                                    <h3 class="white-space font-weight-300 dark-blue-text">&nbsp; IRS DEADLINES</h3>
                                </div>
                            </div>

                            <p class=" setup-text-band">Please note these important dates</p>
                            <div class="content-div-dead-line">
                                <div class="col-md-6">
                                    <span class="employee-inner-text"> 
                                        <span class = "span-1095">1095C TO </span>
                                    <span class="employee-span"> EMPLOYEES</span>
                                    </span>

                                    <div class="employees-count">
                                        {{settingsService.employees1095Days}}
                                    </div>
                                    <div class="employees-text">
                                        Days Remaining
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span class="irs-inner-text">
                                        <span class = "efile-span">E-FILE </span>
                                    <span class="irs-span">DATA TO IRS</span>
                                    </span>
                                    <div class="irs-count">
                                        {{settingsService.irsDays}}
                                    </div>
                                    <div class="irs-text">
                                        Days Remaining
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="upload-media-div padding-right-0">
                        <div id="upload-div" class="client-dash-first-row-widgets widget col-md-12  irs-main-block padding-15 comp-dash-divs">
                            <div (click)="redirectToEmployeeData('uploadfiles')" class="btn-primary upload-download-block cursor-pointer upload-datafiles-media"
                                style="padding:3%; background-color:#13a9cc">
                                <ul class="ul-inline download-upload-ul">
                                    <li class="download-ul-li">
                                        <img src='../src/assets/images/upload.png'>
                                    </li>
                                    <li>
                                        <h6 class="upload-margin font-weight-300">UPLOAD</h6>
                                        <h6 class="font-weight-300">DATA FILES</h6>
                                    </li>
                                </ul>
                                <div class="upload-help-text">
                                    Upload any payroll/enrollment data
                                </div>
                            </div>
                            <br>
                            <div (click)="redirectToEmployeeData('uploadfiles')" class="btn-default upload-download-block cursor-pointer upload-datafiles-media"
                                style="padding:3%;background-color:#5ad1ed">
                                <ul class="ul-inline download-upload-ul">
                                    <li class="upload-ul-li">
                                        <img src='../src/assets/images/download.png'>
                                    </li>
                                    <li>
                                        <h6 class="document-margin font-weight-300">DOCUMENT</h6>
                                        <h6 class="history-margin font-weight-300">HISTORY</h6>
                                    </li>
                                </ul>
                                <div class="download-help-text">
                                    You can download any uploaded files
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container padding-bottom-30">
                <div class="col-lg-6 col-md-12 padding-right-12">
                    <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">COMPANY DETAILS</h2>
                    <div class="header-border-btm-blue"></div>
                    <div class="col-md-12 padding-left-0 padding-right-0">
                        <div class="widget col-md-12 company-details-main-block padding-10 comp-dash-divs">
                            <div class="col-md-7 ">
                                <h4 class="font-weight-300 dark-blue-text client-name-header"> Client : &nbsp;{{clientDashBoardService.client.client_name}}</h4>
                            </div>
                            <div class="col-md-5">
                                <h4 class="pull-right font-weight-300 dark-blue-text company-client-number-header">
                                    ID: {{clientDashBoardService.company.company_client_number}}
                                </h4>
                            </div>

                            <div class="col-md-12 company-details-display color-ash">
                                <div class="company-name-div">{{clientDashBoardService.company.company_name}}</div>
                                <span class="company-eins-block">
                                    
                                   EIN : &nbsp;   {{formatCompanyEin(clientDashBoardService.company.company_ein)}}
                            </span> | Reporting Year: &nbsp; {{clientDashBoardService.product.applicable_year}}
                                | Package: &nbsp; {{clientDashBoardService.getProductServiceName(clientDashBoardService.product.product_type)}}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="authorized-main-header">
                        <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">AUTHORIZED USERS</h2>
                        <div class="add-authorised-user-div">
                            <button (click)="createCompanyUser()" class="add-authorised-user btn btn-primary btn-blue"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add User</button>
                        </div>
                    </div>
                    <div class="header-border-btm-blue"></div>
                    <div class="col-md-12 padding-left-0 padding-right-0">
                        <div class="widget col-md-12  authorized-users-block padding-15 comp-dash-divs">
                            <table class="table table-fixed table-hover table-striped table-company-users-dashboard color-ash" [mfData]="clientDashBoardService.company.companyUsers"
                                #users="mfDataTable" [mfRowsOnPage]="clientDashBoardService.userRowsOnPage" [(mfSortBy)]="sortBy"
                                [(mfSortOrder)]="sortOrder">
                                <thead>
                                    <tr>
                                        <th class="fontcolor-blue col-xs-2">
                                            <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
                                        </th>

                                        <th class="fontcolor-blue col-xs-2 ">
                                            <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
                                        </th>
                                        <th class="fontcolor-blue col-xs-6">
                                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                        </th>
                                        <th class="fontcolor-blue col-xs-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="users.data?.length">
                                        <tr class="flex" *ngFor="let companyUserData of users.data">
                                            <td class="col-xs-2" [attr.title]="companyUserData.first_name">{{trimData(companyUserData.first_name)}}</td>
                                            <td class="col-xs-2" [attr.title]="companyUserData.last_name">{{trimData(companyUserData.last_name)}}</td>
                                            <td class="col-xs-6" [attr.title]="companyUserData.email">{{companyUserData.email}}</td>
                                            <td class="col-xs-2"><a (click)="viewCompanyUser(companyUserData)" class="link-blue-underline">Edit</a></td>
                                        </tr>
                                    </ng-container>
                                    <tr class="tr-text-center" *ngIf=!users.data?.length>
                                        <td colspan="2">
                                            No records are found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container padding-bottom-7">
                <h2 class="font-weight-300 fontcolor-blue margin-bottom-5 text-center">PROJECT STEPS & STATUS</h2>
                <div class="header-border-btm-blue"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget col-md-12  padding-15 comp-dash-divs comp-dash-project-steps-divs">
                        <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">1</span></h4>
                        <p class=" setup-text-band">On-boarding</p>
                        <table class="col-xs-12">
                            <tbody>
                                <tr class="steps-tr-class">
                                    <td>Invoice</td>
                                    <td class="padding-5">
                                        <span class="step-status-flag step-failed" [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-not-allowed'"
                                            (click)="toggleInvoicePayment(clientDashBoardService.company);" *ngIf="!clientDashBoardService.company.is_invoice_paid">Not Paid</span>
                                        <span class="step-status-flag step-success" [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-not-allowed'"
                                            (click)="toggleInvoicePayment(clientDashBoardService.company);" *ngIf="clientDashBoardService.company.is_invoice_paid">Paid</span>
                                    </td>
                                </tr>
                                <tr class="steps-tr-class">
                                    <td>Client Agreement</td>
                                    <td class="padding-5">
                                        <span class="step-status-flag step-failed" [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-not-allowed'"
                                            (click)="toggleAgreementSign();" *ngIf="!clientDashBoardService.company.client_agreement">Needed</span>
                                        <span class="step-status-flag step-success" [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-not-allowed'"
                                            (click)="toggleAgreementSign();" *ngIf="clientDashBoardService.company.client_agreement">Completed</span>
                                    </td>
                                </tr>
                                <tr class="steps-tr-class">
                                    <td>Discovery Session</td>
                                    <td class="padding-5">
                                        <span class="step-status-flag step-failed" [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-not-allowed'"
                                            (click)="toggleDiscoveryCallStatus();" *ngIf="!clientDashBoardService.company.discovery_session">Needed</span>
                                        <span class="step-status-flag step-success" [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-not-allowed'"
                                            (click)="toggleDiscoveryCallStatus();" *ngIf="clientDashBoardService.company.discovery_session == 1">Completed</span>
                                        <span class="step-status-flag step-failed cursor-not-allowed" *ngIf="clientDashBoardService.company.discovery_session == 2">Not Purchased</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <span [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-button-not-allowed'" class=" client-dash-project-steps-btns btn step-failed status-btn danger-span"
                            *ngIf="!clientDashBoardService.company.onBoarding_data">Incomplete</span>
                        <span [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-button-not-allowed'" class=" client-dash-project-steps-btns btn btn-success status-btn success-span"
                            *ngIf="clientDashBoardService.company.onBoarding_data">Completed</span>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget col-md-12  padding-15 comp-dash-divs comp-dash-project-steps-divs" [ngClass]='clientDashBoardService.stepTwoDisabled'>
                        <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">2</span></h4>
                        <p class=" setup-text-band">Company Data</p>
                        <table class="col-xs-12">
                            <tbody>
                                <tr>
                                    <td>
                                        <!-- <a (click)="updateCompanyInfo(clientDashBoardService.company)" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li"
                                            [ngClass]="{'disabled': !clientDashBoardService.company.onBoarding_data}">Confirm EIN</a> -->
                                        <a (click)="updateCompanyInfo(clientDashBoardService.company)" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li">Confirm EIN</a>
                                    </td>
                                    <td class="padding-5">
                                        <!-- <span class="step-status-flag link-white" *ngIf="!clientDashBoardService.company.company_ein" [ngClass]="(!clientDashBoardService.company.onBoarding_data) ? 'step-default cursor-not-allowed':'step-failed cursor-not-allowed'"> </span>-->
                                        <span class="step-status-flag link-white step-failed cursor-not-allowed" *ngIf="!clientDashBoardService.company.company_ein">
                                            Required
                                        </span>
                                        <!-- <span class="step-status-flag link-white" *ngIf="clientDashBoardService.company.company_ein" [ngClass]="(!clientDashBoardService.company.onBoarding_data) ? 'step-default cursor-not-allowed':'step-success cursor-not-allowed'"></span> -->
                                        <span class="step-success cursor-not-allowed step-status-flag link-white" *ngIf="clientDashBoardService.company.company_ein">
                                            Completed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- <a (click)="redirectToCompanyData('basicReporting')" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li"
                                            [ngClass]="{'disabled': !clientDashBoardService.company.onBoarding_data || !clientDashBoardService.company.company_ein}">
                                             Basic Plan Information
                                         </a> -->
                                        <a (click)="redirectToCompanyData('basicReporting')" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li"
                                            [ngClass]="{'disabled': !clientDashBoardService.company.company_ein}">
                                            Basic Plan Information
                                        </a>
                                    </td>
                                    <td class="padding-5">
                                        <!-- <span class="step-status-flag link-white" *ngIf="!clientDashBoardService.company.basicReporting" [ngClass]="(!clientDashBoardService.company.onBoarding_data || !clientDashBoardService.company.company_ein) ? 'step-default cursor-not-allowed':'step-failed cursor-not-allowed'"></span> -->
                                        <span class="step-status-flag link-white" *ngIf="!clientDashBoardService.company.basicReporting" [ngClass]="(!clientDashBoardService.company.company_ein) ? 'step-default cursor-not-allowed':'step-failed cursor-not-allowed'">
                                            Required
                                        </span>
                                        <!-- <span class="step-status-flag link-white" *ngIf="clientDashBoardService.company.basicReporting" [ngClass]="(!clientDashBoardService.company.onBoarding_data || !clientDashBoardService.company.company_ein) ? 'step-default cursor-not-allowed':'step-success cursor-not-allowed'"></span> -->
                                        <span class="step-status-flag link-white" *ngIf="clientDashBoardService.company.basicReporting" [ngClass]="(!clientDashBoardService.company.company_ein) ? 'step-default cursor-not-allowed':'step-success cursor-not-allowed'">
                                            Completed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- <a (click)="redirectToCompanyData('benefitPlan')" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li"
                                            [ngClass]="{'disabled': !clientDashBoardService.company.onBoarding_data || !clientDashBoardService.company.basicReporting}">
                                             Benefit Plan & Plan Classes
                                         </a> -->
                                        <a (click)="redirectToCompanyData('benefitPlan')" class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li"
                                            [ngClass]="{'disabled': !clientDashBoardService.company.basicReporting}">
                                            Benefit Plan & Plan Classes
                                        </a>
                                    </td>
                                    <td class=" padding-5">

                                        <!-- <span class="step-status-flag link-white" *ngIf="!clientDashBoardService.company.benefitPlan || !clientDashBoardService.company.planClasses"
                                            [ngClass]="(!clientDashBoardService.company.onBoarding_data || !clientDashBoardService.company.basicReporting) ? 'step-default cursor-not-allowed':'step-failed cursor-not-allowed'">
                                             Required</span> -->

                                        <span class="step-status-flag link-white" *ngIf="!clientDashBoardService.company.benefitPlan || !clientDashBoardService.company.planClasses"
                                            [ngClass]="(!clientDashBoardService.company.basicReporting) ? 'step-default cursor-not-allowed':'step-failed cursor-not-allowed'">
                                            Required</span>

                                        <!-- <span class="step-status-flag link-white" *ngIf="clientDashBoardService.company.benefitPlan && clientDashBoardService.company.planClasses"
                                            [ngClass]="(!clientDashBoardService.company.onBoarding_data || !clientDashBoardService.company.basicReporting) ? 'step-default cursor-not-allowed':'step-success cursor-not-allowed'">
                                            Completed</span> -->

                                        <span class="step-status-flag link-white" *ngIf="clientDashBoardService.company.benefitPlan && clientDashBoardService.company.planClasses"
                                            [ngClass]="(!clientDashBoardService.company.basicReporting) ? 'step-default cursor-not-allowed':'step-success cursor-not-allowed'">
                                            Completed</span>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <button class="btn status-btn client-dash-project-steps-btns danger-span" *ngIf="!clientDashBoardService.company.company_data"
                            [ngClass]="(!clientDashBoardService.company.onBoarding_data) ? 'btn-default cursor-not-allowed':'btn-danger step-failed cursor-not-allowed'">Incomplete</button>
                        <button class="btn status-btn client-dash-project-steps-btns success-span" *ngIf="clientDashBoardService.company.company_data"
                            [ngClass]="(!clientDashBoardService.company.onBoarding_data) ? 'btn-default cursor-not-allowed':'btn-success cursor-not-allowed'">Completed</button> -->

                        <button class="btn-danger step-failed cursor-not-allowed btn status-btn client-dash-project-steps-btns danger-span" *ngIf="!clientDashBoardService.company.company_data">Incomplete</button>
                        <button class="btn-success cursor-not-allowed btn status-btn client-dash-project-steps-btns success-span" *ngIf="clientDashBoardService.company.company_data">Completed</button>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget col-md-12  padding-15 comp-dash-divs comp-dash-project-steps-divs" [ngClass]='clientDashBoardService.stepThreeDisabled'>
                        <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">3</span></h4>
                        <p class=" setup-text-band">Employee Data</p>
                        <table class="col-xs-12">
                            <tbody>
                                <tr>
                                    <td>
                                        <a class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li" (click)="redirectToEmployeeData('payroll')">
                                            Payroll Data</a></td>
                                    <td class="padding-5">
                                        <span class="cursor-allowed step-status-flag link-default cursor-not-allowed">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a class="link-blue-underline company-navigation-link nav-link plan-link dropdown-icon-li"
                                            (click)="redirectToEmployeeData('medicalplan')">Medical Plan Data</a></td>
                                    <td class=" padding-5">
                                        <span class="cursor-allowed step-status-flag link-default cursor-not-allowed">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-button-not-allowed'" class="client-dash-project-steps-btns btn btn-default status-btn default-span">COMPLETE STEP 3</button>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget col-md-12  padding-15 comp-dash-divs comp-dash-project-steps-divs" [ngClass]='clientDashBoardService.stepFourDisabled'>
                        <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">4</span></h4>
                        <p class=" setup-text-band">Request & Review Forms</p>
                        <table class="col-xs-12">
                            <tbody>
                                <tr>
                                    <td>Form 1094</td>
                                    <td class="padding-5">
                                        <span class="cursor-not-allowed step-status-flag link-default">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Form 1095</td>
                                    <td class="padding-5">
                                        <span class="cursor-not-allowed step-status-flag link-default">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-button-not-allowed'" class=" client-dash-project-steps-btns btn btn-default status-btn  margin-top-42 default-span">COMPLETE STEP 4</button>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget col-md-12  padding-15 comp-dash-divs comp-dash-project-steps-divs" [ngClass]='clientDashBoardService.stepFiveDisabled'>
                        <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">5</span></h4>
                        <p class=" setup-text-band">Approval & Print and Mail</p>
                        <table class="col-xs-12">
                            <tbody>
                                <tr>
                                    <td>Final Form Approval</td>
                                    <td class="padding-5">
                                        <span class="cursor-not-allowed step-status-flag link-default">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Print & Mail Requested</td>
                                    <td class="padding-5">
                                        <span class="cursor-not-allowed step-status-flag link-default">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-button-not-allowed'" class=" client-dash-project-steps-btns btn btn-default status-btn margin-top-42 default-span">COMPLETE STEP 5</button>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget col-md-12  padding-15 comp-dash-divs comp-dash-project-steps-divs" [ngClass]='clientDashBoardService.stepSixDisabled'>
                        <h4 class="font-weight-300 text-center dark-blue-text "> STEP <span class="step-circle">6</span></h4>
                        <p class=" setup-text-band">IRS Fillings</p>
                        <table class="col-xs-12">
                            <tbody>
                                <tr>
                                    <td>E-File</td>
                                    <td class="padding-5">
                                        <span class="cursor-not-allowed step-status-flag link-default">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IRS Corrections</td>
                                    <td class=" padding-5">
                                        <span class="cursor-not-allowed step-status-flag link-default">
                                            Pending
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button [ngClass]="(userType == 2 || userType == 1) ? 'cursor-not-allowed':'cursor-button-not-allowed'" class=" client-dash-project-steps-btns btn btn-default status-btn margin-top-42 default-span">COMPLETE STEP 6</button>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Edit Company Details Modal -->

    <div class="modal fade" bsModal #companyModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header modal-header-color">

                    <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="closeModal()">
								X
							</button>
                    <h4 class="modal-title color-white" id="myModalLabel">
                        {{modalTitle}}
                    </h4>
                </div>

                <form [formGroup]="_companyForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="form-control-label">Company Name<span class = "red">*</span></label>
                                <div class="form-group required" [ngClass]="{'has-danger': !_isValid('company_name')}">
                                    <input type="text" class="form-control" maxlength="75" [formControl]="_companyForm.controls['company_name']" [(ngModel)]="companyEdit.company_name"
                                        [ngClass]="{'form-control-danger': !_isValid('company_name')}">
                                    <span class="help-block help-block-error" *ngIf="!_formErrors.company_name.valid">{{_formErrors.company_name.message}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-control-label">Company Name 2</label>
                                <div class="form-group required" [ngClass]="{'has-danger': !_isValid('company_name_2')}">
                                    <input type="text" class="form-control" maxlength="75" [formControl]="_companyForm.controls['company_name_2']" [(ngModel)]="companyEdit.company_name_2"
                                        [ngClass]="{'form-control-danger': !_isValid('company_name_2')}">
                                    <span class="help-block help-block-error" *ngIf="!_formErrors.company_name_2.valid">{{_formErrors.company_name_2.message}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="form-control-label">EIN<span class = "red">*</span></label>
                                    <div class="form-group required" [ngClass]="{'has-danger': !_isValid('company_ein')}">
                                        <input type="text" name="company_ein" [textMask]="{mask: mask,guide: false, modelClean: true}" class="form-control" [formControl]="_companyForm.controls['company_ein']"
                                            [(ngModel)]="companyEdit.company_ein" [ngClass]="{'form-control-danger': !_isValid('company_ein')}"
                                            placeholder="(__)-______">
                                        <span class="help-block help-block-error" *ngIf="!_formErrors.company_ein.valid">{{_formErrors.company_ein.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer footer-background">
                        <button type="submit" class="btn btn-primary btn-blue" [disabled]="!_companyForm.valid || _submitted == true">
				  Save</button>
                        <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ./Edit Company Details Modal -->


    <div class="modal fade" bsModal #companyUserModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-color">

                    <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="closeCompanyUserModal()" aria-hidden="true">×</button>
                    <h4 class="modal-title color-white" id="myModalLabel">
                        {{companyUserModalTitle}}
                    </h4>
                </div>
                <form [formGroup]="_companyUserForm" (ngSubmit)="onCompanyUserSubmit()">
                    <div class="modal-body row">
                        <div class="col-md-12 border-ddd widget padding-15">
                            <div class="col-md-12 padding-0">

                                <div class="col-md-4">
                                    <div class="">
                                        <label class="form-control-label">First Name <span class="red">*</span></label>
                                        <div class="form-group required" [ngClass]="{'has-danger': !_isCompanyUserValid('first_name')}">
                                            <input type="text" class="form-control" [formControl]="_companyUserForm.controls['first_name']" [(ngModel)]="companyUserInformation.first_name"
                                                [ngClass]="{'form-control-danger': !_isCompanyUserValid('first_name')}" maxlength="34">
                                            <span class="help-block help-block-error" *ngIf="!_companyUserFormErrors.first_name.valid">{{_companyUserFormErrors.first_name.message}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="">
                                        <label class="form-control-label">Last Name <span class="red">*</span></label>
                                        <div class="form-group companyuser-last_name required" [ngClass]="{'has-danger': !_isCompanyUserValid('last_name')}">
                                            <input type="text" id="companyuser-last_name" class="form-control" [formControl]="_companyUserForm.controls['last_name']"
                                                [(ngModel)]="companyUserInformation.last_name" [ngClass]="{'form-control-danger': !_isCompanyUserValid('last_name')}"
                                                maxlength="34">
                                            <span class="help-block help-block-error" *ngIf="!_companyUserFormErrors.last_name.valid">{{_companyUserFormErrors.last_name.message}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-control-label" for="companyuser-email">Email Address <span class="red">*</span></label>
                                    <div class="form-group field-companyuser-email" [ngClass]="{'has-danger': !_isCompanyUserValid('email')}">
                                        <input type="text" id="adminusers-email" class="form-control" aria-required="true" [formControl]="_companyUserForm.controls['email']"
                                            [(ngModel)]="companyUserInformation.email" [ngClass]="{'form-control-danger': !_isCompanyUserValid('email')}"
                                            maxlength="34">
                                        <span class="help-block help-block-error" *ngIf="!_companyUserFormErrors.email.valid">{{_companyUserFormErrors.email.message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding-0">

                                <div class="col-md-4">
                                    <label class="form-control-label">Phone <span class="red">*</span></label>
                                    <div class="form-group field-companyuser-phone required" [ngClass]="{'has-danger': !_isCompanyUserValid('phone')}">
                                        <input type="text" [textMask]="{mask: phoneNumberMask,guide: false, modelClean: true}" id="companyuser-phone" class="form-control"
                                            [formControl]="_companyUserForm.controls['phone']" [(ngModel)]="companyUserInformation.phone"
                                            [ngClass]="{'form-control-danger': !_isCompanyUserValid('phone')}" aria-required="true"
                                            placeholder="(___) ___-____" maxlength="34">
                                        <span class="help-block help-block-error" *ngIf="!_companyUserFormErrors.phone.valid">{{_companyUserFormErrors.phone.message}}</span>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <label class="form-control-label">Extension</label>
                                    <div class="form-group field-companyuser-phone-extension" [ngClass]="{'has-danger': !_isCompanyUserValid('phone_extension')}">
                                        <input type="text" id="adminusers-extension" OnlyNumber="true" class="form-control numbers" [formControl]="_companyUserForm.controls['phone_extension']"
                                            [(ngModel)]="companyUserInformation.phone_extension" [ngClass]="{'form-control-danger': !_isCompanyUserValid('phone_extension')}"
                                            value="" maxlength="6">
                                        <span class="help-block help-block-error" *ngIf="!_companyUserFormErrors.phone_extension.valid">{{_companyUserFormErrors.phone_extension.message}}</span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="">
                                        <label class="form-control-label">Status<span class="red">*</span></label>
                                        <div class="form-group field-adminusers-status required" [ngClass]="{'has-danger': !_isCompanyUserValid('status')}">
                                            <select class="form-control" [formControl]="_companyUserForm.controls['status']" [(ngModel)]="companyUserInformation.status"
                                                [ngClass]="{'form-control-danger': !_isCompanyUserValid('status')}">
                                                    <option disabled value='null'>Select</option>
                                                    <option [value]='1'>Active</option>
                                                    <option [value]='0'>Inactive</option>
                                                </select>
                                            <span class="help-block help-block-error" *ngIf="!_companyUserFormErrors.status.valid">{{_companyUserFormErrors.status.message}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer footer-background">
                        <button type="submit" class="btn btn-primary btn-blue" [disabled]="!_companyUserForm.valid || _companyUserSubmitted == true">
                        	<i *ngIf="_companyUserSubmitted" class="fa fa-circle-o-notch fa-spin fa-fw"></i>Save Changes</button>
                        <button type="button" class="btn btn-default" (click)="closeCompanyUserModal()">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" bsModal #companyUploadDataFile="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="upload-file-block modal-dialog modal-lg">
            <div class="modal-content">
                <div class="upload-files-div-header modal-header modal-header-color">
                    <button type="button" class="close-upload-file close-modal modal-opacity close-modal-blue" (click)="closeUploadDataModal()"
                        aria-hidden="true">×</button>
                    <div class="upload-tick-mark-div">
                        <i class="upload-fa-icon fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="modal-body row upload-files-div-content">

                    <!-- <span class="upload-data-date-span">
                            <h6 style="color:white">
                                Open {{ settingsService.payrollDate | date:'longDate'  }}
                            </h6>
                        </span> -->

                    <div class="upload-file-body">
                        <p>
                            Accurate ACA reporting requires payroll and medical enrollment data through the end of the calendar year. For this reason,
                            we will not begin accepting payroll and medical data until closer to the end of the year.
                        </p>
                        In the meantime, you may <a class="link-white-underline" href="../src/assets/temp-files/ACA-Reporting-2017-Data-Packet.xls">download this template</a>                        to prepare for the end of year

                    </div>
                    <div class="upload-file-footer">
                        <a class="upload-file-footer-a" (click)="closeUploadDataModal()">OK</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</ng-container>
<!-- ./Copy Modal -->