<!-- left scroll menu start(in tab size)-->
<nav class="left-menu media-hide" left-menu>
    <!--logo image start -->
    <div class="logo-container">
        <a href="#" class="logo" style="max-width:none;height:auto;">
            <img src="/assets/images/benefits.png" alt="Benefits Client Template" style="height:44px;" />
            <img class="logo-inverse" src="/assets/images/logo-inverse.png" alt="Clean UI Admin Template" />
        </a>
    </div>
    <!--logo image end -->

    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">

            <li class="left-menu-list-color-primary" id="dashboard">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-home2"><!-- --></i> Dashboard
                </a>
            </li>
            <li class="left-menu-list-color-primary hidden" id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Create User
                </a>
            </li>
            <li class="left-menu-list-color-primary " id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Create Admin User
                </a>
            </li>

            <li class="left-menu-list-color-primary" id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Create Firm
                </a>
            </li>

            <li class="left-menu-list-color-primary" id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Add Firm User
                </a>
            </li>

            <li class="left-menu-list-color-primary" id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Create Client
                </a>
            </li>
            <li class="left-menu-list-color-primary" id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Create Client User
                </a>
            </li>
            <li class="left-menu-list-color-primary" id="">
                <a class="left-menu-link" href="#">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i> Reports
                </a>
            </li>
            <li class="left-menu-list-submenu left-menu-list-color-info" id="master_data">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i> MasterData
                </a>
                <ul class="left-menu-list list-unstyled" id="master_data_ul">
                    <li class="billing_li">
                        <a class="left-menu-link billing_a" href="#">
                            System Billing	
                        </a>
                    </li>
                    <li class="pricing_li">
                        <a class="left-menu-link pricing_a" href="#">
                            System Pricing
                        </a>
                    </li>
                    <li class="pricing_li">
                        <a class="left-menu-link pricing_a" href="#">
                            Firm Pricing
                        </a>
                    </li>

                    <li class="pricing_li hide">
                        <a class="left-menu-link pricing_a" href="#">
                           Plans
                        </a>
                    </li>

                    <li class="pricing_li hide">
                        <a class="left-menu-link pricing_a">Manage Plans
                        </a>
                    </li>
                    <li class="lookup_li">
                        <a class="left-menu-link lookup_a" href="#">
                            Lookup Options
                        </a>
                    </li>



                    <li class="element_li hide">
                        <a class="left-menu-link firm_a" href="#">
                            Element Master
                        </a>
                    </li>
                    <li class="left-menu-list-color-primary hide">
                        <a class="left-menu-link" href="#">
                            <i class="left-menu-link-icon icmn-pencil5"></i> Manage Plans
                        </a>
                    </li>
                    <li class="left-menu-list-color-primary" id="">
                        <a class="left-menu-link" href="#">
                            <i class="left-menu-link-icon icmn-pencil5"> </i> Firm Pricing
                        </a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</nav>
<!-- left scroll menu start(in tab size)-->
<!-- left end header start-->

<nav class="top-menu transistion top-nav">
    <div class="menu-icon-container items-class hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
        </div>
    </div>
    <div class="menu-icon-container image-class hidden-md-up margin-15">
        <div class="">
            <img src="/assets/images/benefits.png" class="max-width-140" alt="Benefits Client Template">
        </div>
    </div>
    <div class="menu transistion-menu header-top col-md-10 masterhead padding-left-0  media-hide-header">
        <div class="logo-container col-md-2  media-hide-header">
            <a href="#" class="logo" style="max-width:none;height:auto;">
                <img src="/assets/images/ACA-Reporting-Logo.png" style="height:44px;" class="width-198 img-transistion" alt="Benefits Client Template" />

            </a>
        </div>
        <ul class="actions  media-hide-header">
            <li class="vertical-align-top">
                <a class="disable-hover" href="#"><i class="fa fa-home font-40 marginTop10m color-orange-light" id="home_color"></i></a>
            </li>
            <li>
                <a href="#" class="disable-hover" id="search_link"><b>Search</b></a>
            </li>

            <li>
                <div class="menu-user-block">
                    <div class="dropdown dropdown-avatar">
                        <a href="javascript: void(0);" class="dropdown-toggle disable-hover" id="masterdata_link" data-toggle="dropdown" aria-expanded="false"><b> Master Data</b>
				</a>

                        <ul class="dropdown-menu arrow-icon dropdown-menu-right arrow padding-0" aria-labelledby="" role="menu">
                            <a class="dropdown-item dropdown-a color-white"  routerLink="/admin/master-data/manage-brands" routerLinkActive="active">
                           Manage Brands
                        </a>
                            <a class="dropdown-item dropdown-a color-white" href="#">
                            Products
                        </a>
                            <a class="dropdown-item dropdown-a color-white" href="#">
                            Lookup Options
                        </a>
                            <a class="dropdown-item dropdown-a color-white" href="#">
                           Account Settings
                        </a>
                            <a class="dropdown-item hide">
                           Element Master
                        </a>
                            <a class="dropdown-item dropdown-a color-white" href="#">
                          Form Pricing
                        </a>

                            <a class="dropdown-item dropdown-a color-white" href="#">
                            Email Templates
                        </a>
                            <a class="dropdown-item dropdown-a color-white hide" href="#">
                            Element Master
                        </a>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="menu transistion-menu header-top profile col-md-2 back-color masterhead padding-left-0 pull-right back-color-profile" id="profile_details">
        <div class="menu-user-block col-md-12">
            <div class="dropdown dropdown-avatar pull-right">
                <a href="javascript: void(0);" class="dropdown-toggle profile-icon" data-toggle="dropdown" aria-expanded="false"> <span class="avatar media-hide-img" href="javascript:void(0);"> 
				</span><span class="header-name media-hide-profilename"><span class="font-14">Welcome</span> Admin<span class="font-14"></span></span>
                </a>
                <ul class="dropdown-menu arrow-icon dropdown-menu-right arrow padding-0 margin-0" aria-labelledby="" role="menu" style="margin-top:6px !important;">
                    <a class="dropdown-item dropdown-a color-white" href="#"><i
						class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider margin-0"></div>
                    <a class="dropdown-item dropdown-a color-white" href="#" (click)="onClick()"><i
						class="dropdown-icon fa fa-repeat"></i> Change Password</a>
                    <div class="dropdown-divider margin-0"></div>
                    <a class="dropdown-item dropdown-a color-white" href="#"><i
						class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
            </div>
        </div>
    </div>

</nav>