<div class="page-header-band-breadcrumbs">
    
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i aria-hidden="true" class="fa fa-angle-left"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Actions</a>
            </li>
            <li>
                <a href="javascript: void(0);">Scheduled Jobs</a>
            </li>
        </ul>
    </div>
    
</div>

<div class="section-container">
    <div class="col-md-12 form-pricing-div">
        <tabset>
            <tab heading="Form Validation">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr class="tr-grid-header">
                            <th class="blue-grid-head" style="width:28%;">Company Name</th>
                            <th class="blue-grid-head">Client Name</th>
                            <th class="blue-grid-head" style="width:28%;">Scheduled Time</th>
                            <th class="blue-grid-head">Error Message</th>
                            <!-- 	<th>Update</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="">alpha</td>
                            <td style="">alpha</td>
                            <td style="">2016-10-26 15:00:01</td>
                            <td style="">Element-Trying to get property of non-object</td>

                        </tr>
                        <tr>
                            <td style="">sadgfasd</td>
                            <td style="">sadgfasd</td>
                            <td style="">2016-10-26 21:30:01</td>
                            <td style="">Element-Trying to get property of non-object</td>

                        </tr>
                        <tr>
                            <td style="">Vinod Two</td>
                            <td style="">Vinod Group</td>
                            <td style="">2016-10-27 15:20:02</td>
                            <td style="">Element-Trying to get property of non-object</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Form Creation">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr class="tr-grid-header">
                            <th class="blue-grid-head" style="width:28%;">Client Name</th>
                            <th class="blue-grid-head" style="width:28%;">Company Name</th>
                            <th class="blue-grid-head" style="width:28%;">Scheduled Time</th>
                            <th class="blue-grid-head">Error Message</th>

                            <!-- 	<th>Update</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-order"> No records found </td>
                            <td class="text-order"> No records found </td>
                            <td class="text-order"> No records found </td>
                            <td class="text-order"> No records found </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="PDF Generation">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr class="tr-grid-header">

                            <th class="blue-grid-head">Client Name</th>
                            <th class="blue-grid-head" style="width:28%;">Company Name ( Forms Count )</th>
                            <th class="blue-grid-head" style="width:28%;">Scheduled Time</th>
                            <th class="blue-grid-head">Error Message</th>

                            <!-- 	<th>Update</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="">Ashleys Diamonds </td>
                            <td style="">Ashleys Diamonds(4)</td>
                            <td style="">2017-04-21 12:28:21</td>
                            <td style=""></td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="XML Generation">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr class="tr-grid-header">

                            <th class="blue-grid-head" style="width:28%;">Company Name</th>
                            <th class="blue-grid-head">Client Name</th>
                            <th class="blue-grid-head" style="width:28%;">Scheduled Time</th>
                            <th class="blue-grid-head">Error Message</th>

                            <!-- 	<th>Update</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-order"> No records found </td>
                            <td class="text-order"> No records found </td>
                            <td class="text-order"> No records found </td>
                            <td class="text-order"> No records found </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
</div>