<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="breadcrumb-description">
            <span class="">Master Data &gt; Manage Brands &gt; Add Brand</span>
        </div>
    </div>
    <!-- End For Bread Crumb-->
</div>

<div class="section-container">
    <div class="col-md-12">

        <div class="col-md-12 border-ddd widget padding-15">
            <ul class="nav nav-tabs mb-4 blue-main-nav-admin" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active color-white" id="anchor-pb-1" data-target="#home5" data-toggle="tab" href="javascript: void(0);" role="tab" aria-expanded="true">Add Brand
     <span class="fa fa-info-circle information-icon" title="" data-container="body" data-toggle="popover-hover" data-placement="right" data-content="Enter in the basic details of the brand." data-original-title="Brand details"></span>
    </a>
                </li>
            </ul>

            <div class="tab-content blue-main-nav-content ">
                <form id="w0" method="post" enctype="multipart/form-data">
                    <div class="tab-pane active col-md-12 padding-15 border-ddd" id="home5" role="tabcard" aria-expanded="true" style="border-top:none;">
                        <div class="">
                            <div class="col-md-12 padding-0">
                                <div class="col-md-6">
                                    <div class="">
                                        <label class="form-control-label">Brand Name<span style="color:red">*</span></label>
                                        <div class="form-group field-adminusers-first_name required">

                                            <input type="text" id="adminusers-first_name" class="form-control" name="AdminUsers[first_name]" maxlength="50" aria-required="true">

                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="">

                                        <div class="form-group ">
                                            <label class="form-control-label" for="l0">Logo <span class="fa fa-info-circle information-icon" title="" data-container="body" data-toggle="popover-hover" data-placement="right" data-content="Recommended dimensions are 400x400 pixels." data-original-title="Logo"></span></label>

                                            <div class="form-group field-adminusers-profile_pic">

                                                <input type="hidden" name="AdminUsers[profile_pic]" value=""><input type="file" id="adminusers-profile_pic" class="form-control" name="AdminUsers[profile_pic]" accept="image/x-png,image/gif,image/jpeg,image/tif,image/bmp,image/jpg">

                                                <div class="help-block"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 padding-0">




                                <div class="col-md-6">
                                    <div class="">
                                        <label class="form-control-label">Support Email<span style="color:red">*</span></label>
                                        <div class="form-group required">

                                            <input type="text" class="form-control" maxlength="50" aria-required="true">

                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label class="form-control-label">Support Phone<span style="color:red">*</span></label>
                                        <div class="form-group required">

                                            <input type="text" class="form-control" maxlength="50" aria-required="true">

                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 padding-0">
                                <div class="col-md-6">
                                    <div class="">
                                        <label class="form-control-label">Terms and Conditions URL<span style="color:red">*</span></label>
                                        <div class="form-group required">

                                            <input type="text" class="form-control" maxlength="50" aria-required="true">

                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label class="form-control-label">Status<span style="color:red">*</span></label>
                                        <div class="form-group required">

                                            <select class="form-control">
  <option>Select</option>
  <option>Active</option>
  <option>Inactive</option>
</select>

                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 padding-0 bg-sky-blue border-ddd" align="right" style="border-top:none; margin-top:60px;">

                            <div class="modal-footer-btn padding-15">
                                <button type="submit" class="btn btn-modal-lightblue">Save</button>
                                <a class="btn btn-default">Cancel</a>



                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#new_link').addClass('page-active');
    });
</script>