<!--  View For Pricing screen-->

<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer" [routerLink]="['/admin/summary']">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Manage Brands</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<!--  Container Start-->
<div class="page-content col-md-12 section-page-content">
    <div class="container">
        <div class="col-md-12 padding-0 border-ddd margin-btm34">
            <div class="row " style="padding: 10px 17px;">
                <a class="btn btn-modal-blue pull-right" (click)="newBrand()"><i class="fa fa-plus"></i> Add Brand</a>
            </div>
            <div class="panel panel-primary">
                <div class="table-responsive kv-grid-container" style="overflow: auto">
                    <caption class="datatable-caption">Manage Brands</caption>
                    <div class="form-inline">
                        <div class="form-group pull-right padding-10">
                            <label for="email"><b>Search:</b></label>
                            <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-striped" [mfData]="brands | dataFilter : filterQuery" #brandObj="mfDataTable"
                        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr class="tr-blue-grid-head">
                                <th>
                                    <mfDefaultSorter by="brand_logo">Brand Logo</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="brand_name">Brand Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="support_email">Support Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="support_phone">Support Phone</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="terms_conditions_url">Terms and Conditions URL</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="brand_status">Brand Status</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Actions</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="brandObj.data?.length">
                                <tr *ngFor="let brand of brandObj.data">
                                    <td style="text-align: center;"><img src="{{brandImgPath}}{{brand.brand_logo}}" style="width:100px;height:60px;"></td>
                                    <td><a (click)="updateBrand(brand)" class="tbl-col-link">{{brand.brand_name}}</a></td>
                                    <td>{{brand.support_email}}</td>
                                    <td>{{brand.support_phone}}</td>
                                    <td>{{brand.terms_conditions_url}}</td>
                                    <td><a style="cursor:pointer" (click)="statusChange(brand)">{{(brand.brand_status) == 1 ? "Active" : "Inactive"}}</a></td>
                                    <td class="text-center">
                                        <a *ngIf="!brand.is_default" title="delete" (click)="deleteBrand(brand)" style="cursor: pointer;color:red;">
                                            <i class="fa fa-trash-o" aria-hidden="true">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr class="tr-text-center" *ngIf=!brandObj.data?.length>
                                <td colspan="7">
                                    No records are found
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add modal start-->
<div class="modal fade" bsModal #BrandsModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">
                <h4 class="modal-title pull-left color-white">{{modalTitle}}</h4>
                <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="closeModal()" aria-hidden="true">×</button>
            </div>
            <form [formGroup]="_addBrandForm" (ngSubmit)="onSubmit()">
                <div class="modal-body row">
                    <div class="col-md-12">
                        <div class="col-md-6 required">
                            <label class="form-control-label">Brand Name</label>
                            <div class="form-group required" [ngClass]="{'has-danger': !_isValid('brand_name')}">
                                <input type="text" inputFilter="true" class="form-control" [formControl]="_addBrandForm.controls['brand_name']" [(ngModel)]="brandSelected.brand_name"
                                    [ngClass]="{'form-control-danger': !_isValid('brand_name')}">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.brand_name.valid">{{_formErrors.brand_name.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 required">
                            <label class="form-control-label">Choose logo</label>
                            <div class="form-group required" [ngClass]="{'has-danger': !_isValid('brand_logo')}">
                                <input type="file" #brandLogo (change)="handleFileSelect($event)" [formControl]="_addBrandForm.controls['brand_logo']" class="form-control"
                                    name="image" id="image" accept="image/*">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.brand_logo.valid">{{_formErrors.brand_logo.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 required">
                            <label class="form-control-label">Support Email</label>
                            <div class="form-group  required" [ngClass]="{'has-danger': !_isValid('support_email')}">
                                <input type="text" class="form-control" [formControl]="_addBrandForm.controls['support_email']" [(ngModel)]="brandSelected.support_email"
                                    [ngClass]="{'form-control-danger': !_isValid('support_email')}">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.support_email.valid">{{_formErrors.support_email.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 required">
                            <label class="form-control-label">Support Phone</label>
                            <div class="form-group field-adminusers-last_name required" [ngClass]="{'has-danger': !_isValid('support_phone')}">
                                <input type="text" [textMask]="{mask: mask}" [formControl]="_addBrandForm.controls['support_phone']" class="form-control"
                                    [(ngModel)]="brandSelected.support_phone" placeholder="(___) ___-____" [ngClass]="{'form-control-danger': !_isValid('support_phone')}">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.support_phone.valid">{{_formErrors.support_phone.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 required">
                            <label class="form-control-label">Terms & Condition URL</label>
                            <div class="form-group  required" [ngClass]="{'has-danger': !_isValid('terms_conditions_url')}">
                                <input type="text" class="form-control" [formControl]="_addBrandForm.controls['terms_conditions_url']" [(ngModel)]="brandSelected.terms_conditions_url"
                                    [ngClass]="{'form-control-danger': !_isValid('terms_conditions_url')}">
                                <span class="help-block help-block-error" *ngIf="!_formErrors.terms_conditions_url.valid">{{_formErrors.terms_conditions_url.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-label">Status <span style="color:#a94442;">*</span></label>
                            <div class="form-group field-adminusers-last_name">
                                <label class="radio-inline">
                                      <input type="radio" [checked]="_addBrandForm.controls['brand_status'].value === 1" [(ngModel)]="brandSelected.brand_status" [formControl]="_addBrandForm.controls['brand_status']"  value="1"> Active
                             </label>
                                <label class="radio-inline">
                                  <input type="radio" [checked]="_addBrandForm.controls['brand_status'].value === 0" [(ngModel)]="brandSelected.brand_status" [formControl]="_addBrandForm.controls['brand_status']"   value="0"> Inactive
                             </label>
                            </div>
                            <span class="help-block help-block-error" *ngIf="!_formErrors.brand_status.valid">{{_formErrors.brand_status.message}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <button type="submit" class="btn btn-primary btn-blue" id="chng_pwd_btn" [disabled]="!_addBrandForm.valid || _submitted == true">
                        	Save Changes</button>
                    <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-delete-confirmation #deleteModal (confirmed)="okDelete()"></app-delete-confirmation>