  @media (max-width: 1079px) {
      .page-header-band-search {
          padding-bottom: 0px;
          padding-top: 0px;
      }
  }
  
  @media (max-width: 1200px) {
      .page-header-band-search {
          left: 0px !important;
          z-index: 100;
          width: 100%;
      }
  }

body, body.body-blue .back-lightblue{
    background: #eceff4 !important;
}