  @media (max-width: 1079px) {
      .page-header-band-search {
          padding-bottom: 0px;
          padding-top: 0px;
      }
  }
  
  @media (max-width: 1200px) {
      .page-header-band-search {
          left: 0px !important;
          z-index: 100;
          width: 100%;
      }
  }
  
  body,
  body.body-blue .back-lightblue {
      background: #eceff4 !important;
  }
  
  .search-user-box-new {
      height: 175px;
  }

  .pagination {
    background: #fff;
    padding: 9px;
    float: right;
}

.pagination .current {
    padding: 3px 10px;
    background: #2199e8;
    color: #fefefe;
    cursor: default;
    margin-right: 3px;
}

.pagination li {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
}