<!-- company info -->
<client-company-info [companyData]="companyDetails"></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
<client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<div class="product-container col-md-12">
    <div class="">
        <div class="col-md-12 border-ddd widget padding-0">
            <div class="tab-content clearfix">
                <div aria-expanded="true" class="tab-pane active" id="account_setup_block">
                    <!-- Sub category Tabs -->
                    <div class="col-md-12  padding-10 ul-block">
                        <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs" style="min-width:66%;">
                            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">

                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class', encodedId]" *ngIf="encodedId">
                                    <div class="inner-block-digits pull-left">1</div>
                                    <span class="inner-block-text">Coverage Type and Waiting Period</span></a>

                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class']" *ngIf="!encodedId">
                                    <div class="inner-block-digits pull-left">1</div>
                                    <span class="inner-block-text">Coverage Type and Waiting Period</span></a>

                            </li>
                            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class', encodedId, 'coverage-offered']" *ngIf="encodedId">
                                    <div class="inner-block-digits pull-left">2</div>
                                    <span class="inner-block-text">Type of Coverage Offered</span></a>
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class', 'coverage-offered']" *ngIf="!encodedId">
                                    <div class="inner-block-digits pull-left">2</div>
                                    <span class="inner-block-text">Type of Coverage Offered</span></a>
                            </li>
                            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-3">
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class', encodedId, 'employee-contributions']" *ngIf="encodedId">
                                    <div class="inner-block-digits pull-left">3</div>
                                    <span class="inner-block-text">Employee Contributions</span></a>
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class', 'employee-contributions']" *ngIf="!encodedId">
                                    <div class="inner-block-digits pull-left">3</div>
                                    <span class="inner-block-text">Employee Contributions</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- ./Sub category Tabs -->

                    <div class="tab-content clearfix">
                        <div aria-expanded="true" class="tab-pane active" id="account_setup_block">

                            <div class="col-md-12 padding-0">
                                <div class="tab-content clearfix">
                                    <div class="tab-pane active " id="planbasics" role="tabpanel">

                                        <div class="col-md-12 padding-0">
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane active " id="planbasics" role="tabpanel">
                                                    <form>
                                                        <div class="border-top-bottom-ddd col-md-12 padding-0 emp-info-font" style="margin-bottom:10px;">
                                                            <div id="employer_info_container" [style.width.px]="employer_info_container_width">

                                                                <!-- form content -->
                                                                <div class="col-md-12">
                                                                    <div class="form-group row plan-div-margin">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[0].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[0].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 3px;">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.employee_mv_coverage" name="employee_mv_coverage" value="1"> Yes
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.employee_mv_coverage" (click)="resetValues('employee_mv_coverage')" name="employee_mv_coverage" value="2"> No
                                                                           </label>
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="coverageOfferedData.employee_mv_coverage == '1'" class="form-group row years1 plan-div-margin">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[1].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[1].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="col-sm-12">
                                                                                <input id="entire_year" (ngModelChange)="isEntireYear($event,'entireMvYear')" [(ngModel)]="coverageOfferedData.entireMvYear" name="entireMvYear" type="checkbox" value="1">Entire
                                                                                Year
                                                                            </div>
                                                                            <div class="col-sm-3" style="display:grid;">
                                                                                <div class="checkbox" style="margin-top:5px;">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[1]" name="mv_coverage_months[1]" type="checkbox" value="1"><span  class="control-checkbox">January</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[2]" name="mv_coverage_months[2]" type="checkbox" value="2"><span  class="control-checkbox">February</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[3]" name="mv_coverage_months[3]" type="checkbox" value="3"><span  class="control-checkbox">March</span></label>
                                                                                </div>

                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[4]" name="mv_coverage_months[4]" type="checkbox" value="4"><span  class="control-checkbox">April</span></label>
                                                                                </div>

                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[5]" name="mv_coverage_months[5]" type="checkbox" value="5"><span  class="control-checkbox">May</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[6]" name="mv_coverage_months[6]" type="checkbox" value="6"><span  class="control-checkbox">June</span></label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3" style="display:grid;">
                                                                                <div class="checkbox" style="margin-top:5px;">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[7]" name="mv_coverage_months[7]" type="checkbox" value="7"><span  class="control-checkbox">July</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[8]" name="mv_coverage_months[8]" type="checkbox" value="8"><span  class="control-checkbox">August</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[9]" name="mv_coverage_months[9]" type="checkbox" value="9"><span  class="control-checkbox">September</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[10]" name="mv_coverage_months[10]" type="checkbox" value="10"><span  class="control-checkbox">October</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[11]" name="mv_coverage_months[11]" type="checkbox" value="11"><span  class="control-checkbox">November</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMvYear')" [(ngModel)]="coverageOfferedData.mv_coverage_months[12]" name="mv_coverage_months[12]" type="checkbox" value="12"><span  class="control-checkbox">December</span></label>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row plan-div-margin">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[2].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[2].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 3px;">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.employee_essential_coverage" name="TblAcaPlanCoverageTypeOffered[employee_essential_coverage]" value="1"> Yes
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.employee_essential_coverage" (click)="resetValues('employee_essential_coverage')" name="TblAcaPlanCoverageTypeOffered[employee_essential_coverage]" value="2"> No
                                                                           </label>
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="coverageOfferedData.employee_essential_coverage == '1'" class="form-group row years2 plan-div-margin">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[3].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[3].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="col-sm-12">
                                                                                <input id="entire_year" (ngModelChange)="isEntireYear($event,'entireMeYear')" [(ngModel)]="coverageOfferedData.entireMeYear" name="entireMeYear" type="checkbox" value="1">Entire
                                                                                Year
                                                                            </div>
                                                                            <div class="col-sm-3" style="display:grid;">
                                                                                <div class="checkbox" style="margin-top:5px;">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[1]" name="essential_coverage_months[1]" type="checkbox" value="1"><span  class="control-checkbox">January</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[2]" name="essential_coverage_months[2]" type="checkbox" value="2"><span  class="control-checkbox">February</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[3]" name="essential_coverage_months[3]" type="checkbox" value="3"><span  class="control-checkbox">March</span></label>
                                                                                </div>

                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[4]" name="essential_coverage_months[4]" type="checkbox" value="4"><span  class="control-checkbox">April</span></label>
                                                                                </div>

                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[5]" name="essential_coverage_months[5]" type="checkbox" value="5"><span  class="control-checkbox">May</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[6]" name="essential_coverage_months[6]" type="checkbox" value="6"><span  class="control-checkbox">June</span></label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3" style="display:grid;">
                                                                                <div class="checkbox" style="margin-top:5px;">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[7]" name="essential_coverage_months[7]" type="checkbox" value="7"><span  class="control-checkbox">July</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[8]" name="essential_coverage_months[8]" type="checkbox" value="8"><span  class="control-checkbox">August</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[9]" name="essential_coverage_months[9]" type="checkbox" value="9"><span  class="control-checkbox">September</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[10]" name="essential_coverage_months[10]" type="checkbox" value="10"><span  class="control-checkbox">October</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[11]" name="essential_coverage_months[11]" type="checkbox" value="11"><span  class="control-checkbox">November</span></label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input  class="specific_year" (change)="getMonthsCount('entireMeYear')" [(ngModel)]="coverageOfferedData.essential_coverage_months[12]" name="essential_coverage_months[12]" type="checkbox" value="12"><span  class="control-checkbox">December</span></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row plan-div-margin">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[4].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[4].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 3px;">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.spouse_essential_coverage" name="TblAcaPlanCoverageTypeOffered[spouse_essential_coverage]" value="1"> Yes
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                             <input type="radio" [(ngModel)]="coverageOfferedData.spouse_essential_coverage" (click)="resetValues('spouse_essential_coverage')" name="TblAcaPlanCoverageTypeOffered[spouse_essential_coverage]" value="2"> No
                                                                           </label>
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="coverageOfferedData.spouse_essential_coverage == '1'" class="form-group row plan-div-margin spousediv" id="spouse_conditional_coverage_div" style="display: block;">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[5].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[5].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 3px;">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.spouse_conditional_coverage" name="TblAcaPlanCoverageTypeOffered[spouse_conditional_coverage]" value="1"> Yes
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.spouse_conditional_coverage" name="TblAcaPlanCoverageTypeOffered[spouse_conditional_coverage]" value="2"> No
                                                                           </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row plan-div-margin">
                                                                        <div class="col-md-6 inl-q-a">
                                                                                <div>
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[6].element_serial_id"></label>
                                                                                </div>
                                                                                <div class="tabSpace width-100">
                                                                                    <label class="control-label span-label" [innerHTML]="labelsData[6].element_label"></label>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 3px;">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.dependent_essential_coverage" name="TblAcaPlanCoverageTypeOffered[dependent_essential_coverage]" value="1"> Yes
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="coverageOfferedData.dependent_essential_coverage" name="TblAcaPlanCoverageTypeOffered[dependent_essential_coverage]" value="2"> No
                                                                           </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- ./form content -->
                                                            </div>
                                                        </div>
                                                        <div align="right" class="col-md-12 padding-0 bg-sky-blue" style="border-top: none;">
                                                            <div class="modal-footer-btn padding-15">
                                                                <a class="btn btn-default check-changed" (click)="redirectToDashboard()" type="button">Cancel</a> &nbsp;
                                                                <a class="btn btn-warning check-changed" (click)="redirectToPrevious()" type="button">Previous</a> &nbsp;
                                                                <button class="btn btn-modal-blue" (click)="onSubmit('exit')">Save & Exit</button> &nbsp;
                                                                <button class="btn btn-modal-blue pull-right" (click)="onSubmit('next')">Save & Continue</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>