<!-- company info -->
    <client-company-info></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
    <client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<!-- Sub Tabs -->
    <div class="col-xs-12 client-reporting-subTabs-band-fixed">
        <div class="col-md-12 padding-10 ul-block">
            <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs" style="min-width:66%;">
                <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">
                    <a [routerLink]="['/client/',product,company,'employer-info','benefit-plan-info']">
                        <div class="inner-block-digits pull-left">1</div>
                        <span class="inner-block-text">General Plan Information</span></a>
                </li>
                <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                    <a [routerLink]="['/client/',product,company,'employer-info','benefit-plan-info','mec-coverage']">
                        <div class="inner-block-digits pull-left">2</div>
                        <span class="inner-block-text">MEC Coverage</span></a>
                </li>
            </ul>
        </div>
    </div>
<!-- ./Sub Tabs -->

<div class="product-container-with-sub-tabs col-md-12">
    <div class="col-md-12 padding-0">
        <form action="/firm-plan/save-plan-basics" class="form-vertical" enctype="multipart/form-data" id="planbasics_form" method="post">
            <div class="col-md-12 padding-0">
                <div class="container margin-top-30 margin-bottom-10">

                    <!-- form content -->
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="form-control-label">7.1&nbsp;&nbsp;&nbsp;Is this your first year Offering Coverage ?</label>
                            <div class="padding-left-25">
                                <label class="radio-inline">
                                        <input type="radio" name="TblAcaGeneralPlanInfo[is_first_year]" value="1"> Yes
                                    </label>
                                <label class="radio-inline">
                                        <input type="radio" name="TblAcaGeneralPlanInfo[is_first_year]" value="2"> No
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label">7.2&nbsp;&nbsp;&nbsp;What is your renewal month for your medical plans ? If you have multiple plans/renewals, enter the earliest one of the year. If you did not offer a plan then select "Not Applicable" </label>
                            <div class="col-sm-5 padding-left-25">
                                <select class="form-control form-height" name="TblAcaGeneralPlanInfo[renewal_month]">
                                    <option value="">Select a Value</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                    <option value="13">Not Applicable</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label">7.3&nbsp;&nbsp;&nbsp;Enter a short description of the type of plans you offer, insurance carriers, and any other relevant information</label>
                            <div class="col-sm-5 padding-left-25 field-tblacageneralplaninfo-plan_type_description">
                                <textarea id="tblacageneralplaninfo-plan_type_description" class="form-control form-height" name="TblAcaGeneralPlanInfo[plan_type_description]" maxlength="100" rows="2" cols="4"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label">7.4&nbsp;&nbsp;&nbsp;Do you have multiple waiting periods for different employees ?</label>
                            <div class="padding-left-25">
                                <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="sevenpfour" name="TblAcaGeneralPlanInfo[is_multiple_waiting_periods]" value="1"> Yes
                                    </label>
                                <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="sevenpfour"  name="TblAcaGeneralPlanInfo[is_multiple_waiting_periods]" value="2"> No
                                </label>
                            </div>
                        </div>

                        <!--<div class="form-group row">
                            <div class="col-sm-12">
                                <label class="form-control-label"><div>7.4&nbsp;&nbsp;&nbsp;Do you have multiple waiting periods for different employees ?</div></label>
                                <br>
                                <input type="radio" [(ngModel)]="sevenpfour" name="TblAcaGeneralPlanInfo[is_multiple_waiting_periods]" value="1"><span class="control-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Yes</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" [(ngModel)]="sevenpfour" name="TblAcaGeneralPlanInfo[is_multiple_waiting_periods]" value="2"><span class="control-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;No</span>
                            </div>
                        </div>-->
                        <div class="form-group col-sm-5" *ngIf="sevenpfour == '1'">
                            <label class="form-control-label">7.4.1 If yes, explain</label>
                            <textarea class="form-control"></textarea>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label">7.5&nbsp;&nbsp;&nbsp;Did your company offer a Health Reimbursement Arrangement (HRA) to employees that did NOT require their participation in the medical plan ?</label>
                            <div class="padding-left-25">
                                <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="sevenpfive" name="TblAcaGeneralPlanInfo[is_employees_hra]" value="1"> Yes
                                    </label>
                                <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="sevenpfive"  name="TblAcaGeneralPlanInfo[is_employees_hra]" value="2"> No
                                </label>
                            </div>
                        </div>

                        <!--<div class="form-group row">
                            <div class="col-sm-12">
                                <label class="form-control-label"><div>7.5&nbsp;&nbsp;&nbsp;Did your company offer a Health Reimbursement Arrangement (HRA) to employees that did NOT require their participation in the medical plan ?</div>
                                                <input type="radio" [(ngModel)]="sevenpfive" name="TblAcaGeneralPlanInfo[is_employees_hra]" value="1"><span class="control-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Yes</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" checked [(ngModel)]="sevenpfive" name="TblAcaGeneralPlanInfo[is_employees_hra]" value="2"><span class="control-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;No</span>
                                            </label>
                            </div>
                        </div>-->
                        <div class="form-group text_hra " *ngIf="sevenpfive == '1'">
                            <div class="col-sm-12">
                                <label class="form-control-label"><div>7.5.1&nbsp;&nbsp;&nbsp;Please contact customer service for additional information</div></label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label">7.6&nbsp;&nbsp;&nbsp;Overall as a company, did you have BOTH Self Insured AND Fully Insured Plans During the reporting year ?</label>
                            <div class="padding-left-25">
                                <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="sevenpsix" name="TblAcaGeneralPlanInfo[offer_type]" value="1"> Yes
                                    </label>
                                <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="sevenpsix"  name="TblAcaGeneralPlanInfo[offer_type]" value="2"> No
                                </label>
                            </div>

                            <!--<div class="col-sm-12">
                                <label class="form-control-label"><div>7.6&nbsp;&nbsp;&nbsp;Overall as a company, did you have BOTH Self Insured AND Fully Insured Plans During the reporting year ?</div>
                                                <input type="radio" [(ngModel)]="sevenpsix" name="TblAcaGeneralPlanInfo[offer_type]" value="1"><span class="control-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Yes</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" checked [(ngModel)]="sevenpsix" name="TblAcaGeneralPlanInfo[offer_type]" value="2"><span class="control-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;No</span>
                                            </label>
                            </div>-->

                            <div class="col-sm-12" *ngIf="sevenpsix == '1'" id="combination_div1" style="margin-top: 15px;">
                                <div class="col-xs-12 padding-left-0 padding-right-0" style="border: 1px solid #ddd;">
                                    <div class="col-sm-4">
                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">January</div>

                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][1]">
                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                                
                                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">April</div>
                                            <div class="col-sm-9">



                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][2]">

                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">July</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][3]">
                                                                <option value="0">Select a Plan</option>																					
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">October</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][4]">

                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                                
                                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 padding-left-0">

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">February</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][5]">
                                                                <option value="0">Select a Plan</option>																					
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">May</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][6]">

                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>
                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">August</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][7]">

                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                                
                                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">November</div>
                                            <div class="col-sm-9">



                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][8]">

                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                    <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 padding-left-0">

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">March</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value " name="TblAcaGeneralPlanMonths[plan_value][9]">

                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">June</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][10]">
                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">September</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][11]">
                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>

                                        <div class="row mar-top-bottom">
                                            <div class="col-sm-3">December</div>
                                            <div class="col-sm-9">

                                                <select class="form-control plan_value" name="TblAcaGeneralPlanMonths[plan_value][12]">
                                                                <option value="0">Select a Plan</option>
                                                                                                                                                                <option value="63">Self Insured</option>
                                                                                                                                                                <option value="64">Fully Insured</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- ./form content -->

                </div>
            </div>
            <div align="right" class="col-md-12 padding-0 bg-sky-blue " style="border-top: none;">
                <div class="modal-footer-btn padding-15">
                    <a class="btn btn-default check-changed" type="button">Cancel</a> &nbsp;
                    <a class="btn btn-modal-blue" type="button">Save & Exit</a> &nbsp;
                    <a class="btn btn-modal-blue  pull-right " type="submit">Save & Continue</a>
                </div>
            </div>
        </form>
    </div>
</div>