<!-- company info -->
<client-company-info [companyData]="companyDetails"></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
<client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<!-- Sub Tabs -->
<div class="col-xs-12 client-reporting-subTabs-band-fixed">
    <div class="col-md-12 padding-10 ul-block">
        <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs" style="min-width:66%;">
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">
                <a [routerLink]="['/client/',product,company,'employer-info','benefit-plan-info']">
                    <div class="inner-block-digits pull-left">1</div>
                    <span class="inner-block-text">General Plan Information</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                <a [routerLink]="['/client/',product,company,'employer-info','benefit-plan-info','mec-coverage']">
                    <div class="inner-block-digits pull-left">2</div>
                    <span class="inner-block-text">MEC Coverage</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- ./Sub Tabs -->

<div class="product-container-with-sub-tabs col-md-12">
    <div class="col-md-12 padding-0">
        <form>
            <div class="col-md-12 padding-0 emp-info-font" style="margin-bottom:10px;">
                <div id="employer_info_container" [style.width.px]="employer_info_container_width">
                    <!-- form content -->
                    <div class="col-md-12">
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[0].element_serial_id"></label>
                            </div>
                            <div class="tabSpace width-100">
                                <label class="control-label span-label">{{labelsData[0].element_label}}<span *ngIf="labelsData[0].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[0].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>

                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="generalPlanInfoData.is_first_year" name="is_first_year" value="1"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="generalPlanInfoData.is_first_year" name="is_first_year" value="0"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[1].element_serial_id"></label>
                            </div>
                            <div class="tabSpace width-100">
                                <label class="control-label span-label">{{labelsData[1].element_label}}<span *ngIf="labelsData[1].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[1].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>

                                <select class="form-control form-height" [(ngModel)]="generalPlanInfoData.renewal_month" name="renewal_month" style="width: 50%;">
                                    <option value="">Select a Value</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                    <option value="13">Not Applicable</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[2].element_serial_id"></label>
                            </div>
                            <div class="tabSpace width-100">
                                <label class="control-label span-label">{{labelsData[2].element_label}}<span *ngIf="labelsData[2].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[2].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>

                                <textarea AlphanFewChar="true" class="form-control form-height" [(ngModel)]="generalPlanInfoData.plan_type_description" name="plan_type_description" maxlength="100" rows="2" cols="4" style="width: 50%;"></textarea>
                            </div>
                        </div>
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[3].element_serial_id"></label>
                            </div>
                            <div class="tabSpace width-100">
                                <label class="control-label span-label">{{labelsData[3].element_label}}<span *ngIf="labelsData[3].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[3].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio"  (change)="handleChange(1)" [(ngModel)]="generalPlanInfoData.is_multiple_waiting_periods" name="is_multiple_waiting_periods"  value="1"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"  (change)="handleChange(0)" [(ngModel)]="generalPlanInfoData.is_multiple_waiting_periods" name="is_multiple_waiting_periods"  value="0"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="generalPlanInfoData.is_multiple_waiting_periods == '1'">
                            <div class="form-group inl-q-a">
                                <div>
                                    <label class="control-label span-label" [innerHTML]="labelsData[4].element_serial_id"></label>
                                </div>
                                <div class="tabSpace width-100">
                                    <label class="control-label span-label">{{labelsData[4].element_label}}<span *ngIf="labelsData[4].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[4].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>

                                    <textarea class="form-control" AlphanFewChar="true" [(ngModel)]="generalPlanInfoData.multiple_description" name="multiple_description" maxlength="100" style="width: 50%;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[5].element_serial_id"></label>
                            </div>
                            <div class="tabSpace width-100">
                                <label class="control-label span-label">{{labelsData[5].element_label}}<span *ngIf="labelsData[5].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[5].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" [(ngModel)]="generalPlanInfoData.is_employees_hra" name="is_employees_hra"  value="1"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"  [(ngModel)]="generalPlanInfoData.is_employees_hra" name="is_employees_hra" value="0"> No
                                    </label>
                                </div>

                                <div *ngIf="generalPlanInfoData.is_employees_hra == '1'" style="margin-top:15px;">
                                    <div class="inl-q-a">
                                        <div>
                                            <label class="control-label span-label" [innerHTML]="labelsData[6].element_serial_id"></label>
                                        </div>
                                        <div class="tabSpace width-100">
                                            <label class="control-label span-label">{{labelsData[6].element_label}}<span *ngIf="labelsData[6].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[6].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group inl-q-a">
                            <div>
                                <label class="control-label span-label" [innerHTML]="labelsData[7].element_serial_id"></label>
                            </div>
                            <div class="tabSpace width-100">
                                <label class="control-label span-label">{{labelsData[7].element_label}}<span *ngIf="labelsData[7].element_popup_text" class="fa fa-info-circle information-icon" popover="{{labelsData[7].element_popup_text}}" placement="right" triggers="mouseenter:mouseleave"></span>
                                </label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" (change)="changeOfferType(1)" [(ngModel)]="generalPlanInfoData.offer_type" name="offer_type" value="1"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" (change)="changeOfferType(0)" [(ngModel)]="generalPlanInfoData.offer_type" name="offer_type" value="0"> No
                                    </label>
                                </div>




                                <div class="col-sm-12" *ngIf="generalPlanInfoData.offer_type == '1'" id="combination_div1" style="margin-top: 15px;">
                                    <div class="col-xs-12 padding-left-0 padding-right-0" style="border: 1px solid #ddd;">
                                        <div class="col-sm-4">
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">January</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[1]" name="months[1]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>                                                                                        
                                                         </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">April</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[4]" name="months[4]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">July</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[7]" name="months[7]">
                                                            <option value="">Select a Plan</option>																					
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                         </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">October</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[10]" name="months[10]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 padding-left-0">
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">February</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[2]" name="months[2]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">May</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[5]" name="months[5]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                       </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">August</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[8]" name="months[8]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">November</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[11]" name="months[11]"> 
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                         </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 padding-left-0">
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">March</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[3]" name="months[3]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                       </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">June</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[6]" name="months[6]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">September</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[9]" name="months[9]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row mar-top-bottom">
                                                <div class="col-sm-3">December</div>
                                                <div class="col-sm-9">
                                                    <select class="form-control plan_value" [(ngModel)]="generalPlanInfoData.months[12]" name="months[12]">
                                                            <option value="">Select a Plan</option>
                                                            <option value="1">Self Insured</option>
                                                            <option value="2">Fully Insured</option>
                                                          </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./form content -->
                </div>
            </div>
            <div align="right" class="col-md-12 padding-0 bg-sky-blue " style="border-top: none;">
                <div class="modal-footer-btn padding-15">
                    <a class="btn btn-default check-changed" (click)="redirectToDashboard()" type="button">Cancel</a> &nbsp;
                    <a class="btn btn-warning check-changed" (click)="redirectToPrevious()" type="button">Previous</a> &nbsp;
                    <button class="btn btn-modal-blue" (click)="formSubmit('exit')">Save & Exit</button> &nbsp;
                    <button class="btn btn-modal-blue  pull-right " (click)="formSubmit('next')">Save & Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>