
<div class="section-container" style="top:45px !important">
<div class="col-md-12 ">    
 <app-vht-band ></app-vht-band>
<div class="col-md-9 col-xs-12">
 <app-vht-actions></app-vht-actions>
<!-- Continer starts Here -->
 <div class="col-md-12 widget padding5 ">
                
<div class="col-md-1">
<!--<a class="link-blue-underline"  [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'trends']" >Trends</a>-->
</div>
<div class="col-md-10">

    <div class="form-inline">
                       <div class="col-md-8">  <h4 class="dark-blue-text padding-10">{{type}} Measurement Trending Eligible  |  {{value}}</h4></div>
                        <div class="form-group pull-right padding-10">
                            <label for="email"><b>Search:</b></label>
                            <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
                        </div>
                    </div> 
    
                       <table class="table table-hover table-bordered table-striped " [mfData]="csvData " #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                       <tr class="tr-blue-grid-head">
                            <th> <mfDefaultSorter by="0">First Name</mfDefaultSorter></th>
                              <th> <mfDefaultSorter by="1">Last Name</mfDefaultSorter></th>
                              <th> <mfDefaultSorter by="2">Division</mfDefaultSorter></th>
                               <th> <mfDefaultSorter by="3">ID</mfDefaultSorter></th>                          
                            <th> <mfDefaultSorter by="4">Measurement Start</mfDefaultSorter></th>
                            <th> <mfDefaultSorter by="5">Measurement End</mfDefaultSorter></th>
                            <th> <mfDefaultSorter by="6">Average Hours</mfDefaultSorter></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="mf.data?.length">   
                        <tr *ngFor="let x of mf.data">
                           <td class="link-blue-underline">{{x[0]}}</td>
                            <td class="link-blue-underline">{{x[1]}}</td>                           
                            <td>{{x[2]}}</td>
                            <td>{{x[3]}}</td>
                            <td>{{x[4]}}</td>
                             <td>{{x[5]}}</td>
                            <td>{{x[6]}}</td>
                            <!--<td *ngFor="let y of x">{{ y }}</td>-->
                        </tr>

                    </ng-container>
                      <tr class="tr-text-center" *ngIf=!mf.data?.length>
                            <td colspan="7">
                                No records are found
                            </td>
                        </tr>

                    </tbody>
                     <tfoot>
                            <tr>
                                <td colspan="7">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot> 

                </table>        
                      
</div>


 </div> 
<!-- Continer Ends Here -->
  </div>
  </div>
</div>
