<nav class="col-xs-12 cat__core__top-sidebar cat__core__top-sidebar--bg client-company-info-band-fixed">
    <div class="pull-right">
        <a class="btn btn-sm btn-outline-primary ladda-button" [routerLink]="['/client/',companyData.product,companyData.clientEncodedId,'dashboard']"
            data-style="expand-right"><i class="fa fa-dashboard"></i> <span class="ladda-label">Company<span class="hidden-sm-down"> Dashboard</span></span><span class="ladda-spinner"></span></a>
    </div>
    <h5 class="cat__core__title d-block mb-0 pt-3">
        <span> Name: <span class="text-muted">{{companyData.company_name}}</span></span>
        <span style="padding-left:10px;">EIN: <span class="text-muted">{{companyData.company_ein}}</span></span>
        <span style="padding-left:10px;"> Reporting Year: <span class="text-muted">{{companyData.productYear}}</span></span>
    </h5>
</nav>