<app-admin-dashboard-nav></app-admin-dashboard-nav>

<div class="page-content col-md-12 dashboard-page-content">
    <div class="container">

        <div class="col-md-12 padding-0 border-ddd margin-btm34">
            <div class="panel panel-primary">
                <div class="table-responsive kv-grid-container" style="overflow: auto">
                    <caption class="datatable-caption">Outstanding Invoices</caption>
                    <div class="form-inline">
                        <div class="form-group pull-right padding-10">
                            <label for="email"><b>Search:</b></label>
                            <input class="form-control mr-left-5" [(ngModel)]="invoicesFilterQuery" />
                        </div>
                    </div>

                    <table class="table table-hover table-bordered table-striped" [mfData]="invoicesData | outstadingInvoicesFilter : invoicesFilterQuery"
                        #invoicesObj="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr class="tr-blue-grid-head">
                                <th>
                                    <mfDefaultSorter by="invoice_created_at">Invoice Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="invoice_no">Invoice Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="client_name">Client</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="brand_name">Brand</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="product_name">Product</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="account_manager">Account Manager</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="amount">Balance Amount</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="invoicesObj.data?.length">
                                <tr *ngFor="let invoice of invoicesObj.data">
                                    <td class="text-center">{{invoice.invoice_created_at | date: 'MM/dd/yyyy'}}</td>
                                    <td class="text-center">{{invoice.invoice_no}}</td>
                                    <td class="text-center"><a (click)="redirectToClientDashBoard(invoice)" class="tbl-col-link">{{invoice.client_name}}</a></td>
                                    <td class="text-center">{{invoice.brand_name}}</td>
                                    <td class="text-center">{{invoice.product_full_name}}</td>
                                    <td class="text-center">{{invoice.account_manager}}</td>
                                    <td class="text-center">{{invoice.amount}}</td>
                                    <td class="text-center"><a class="link-blue-underline" *ngIf=globalService.financial_permission (click)="toggleStatus('Outstanding Invoices', invoice)">{{(invoice.is_invoice_paid ==1)?"Paid":"Unpaid"}}</a>
                                        <span *ngIf='!globalService.financial_permission'>{{(invoice.is_invoice_paid ==1)?"Paid":"Unpaid"}}</span></td>
                                </tr>
                            </ng-container>
                            <tr class="tr-text-center" *ngIf=!invoicesObj.data?.length>
                                <td colspan="8">
                                    No records are found
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 padding-0 border-ddd margin-btm34">
            <div class="panel panel-primary">
                <div class="table-responsive kv-grid-container" style="overflow: auto">
                    <caption class="datatable-caption">Outstanding Contracts</caption>
                    <div class="form-inline">
                        <div class="form-group pull-right padding-10">
                            <label for="email"><b>Search:</b></label>
                            <input class="form-control mr-left-5" [(ngModel)]="outstandingContractsFilterQuery" />
                        </div>
                    </div>

                    <table class="table table-hover table-bordered table-striped" [mfData]="outstandingContractsData | outstadingInvoicesFilter : outstandingContractsFilterQuery"
                        #outstandingContractsObj="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr class="tr-blue-grid-head">
                                <th>
                                    <mfDefaultSorter by="purchase_date">Purchase Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="client_name">Client</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="brand_name">Brand</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="product_name">Product</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="account_manager">Account Manager</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="outstandingContractsObj.data?.length">
                                <tr *ngFor="let contract of outstandingContractsObj.data">
                                    <td class="text-center">{{contract.purchase_date | date: 'MM/dd/yyyy'}}</td>
                                    <td class="text-center"><a (click)="redirectToClientDashBoard(contract)" class="tbl-col-link">{{contract.client_name}}</a></td>
                                    <td class="text-center">{{contract.brand_name}}</td>
                                    <td class="text-center">{{contract.product_full_name}}</td>
                                    <td class="text-center">{{contract.account_manager}}</td>
                                    <td class="text-center">
                                        <a class="link-blue-underline" (click)="toggleStatus('Client Agreements', contract)">
                                            {{(contract.client_agreement ==1)?"Completed":"Pending"}}
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr class="tr-text-center" *ngIf=!outstandingContractsObj.data?.length>
                                <td colspan="8">
                                    No records are found
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 padding-0 border-ddd margin-btm34">
            <div class="panel panel-primary">
                <div class="table-responsive kv-grid-container" style="overflow: auto">
                    <caption class="datatable-caption">Discovery Calls Due</caption>
                    <div class="form-inline">
                        <div class="form-group pull-right padding-10">
                            <label for="email"><b>Search:</b></label>
                            <input class="form-control mr-left-5" [(ngModel)]="discoveryCallsFilterQuery" />
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-striped" [mfData]="discoverySessionData | outstadingInvoicesFilter : discoveryCallsFilterQuery"
                        #discoverySessionDataObj="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr class="tr-blue-grid-head">
                                <th>
                                    <mfDefaultSorter by="purchase_date">Purchase Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="client_name">Client</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="brand_name">Brand</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="product_name">Product</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="account_manager">Account Manager</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="discoverySessionDataObj.data?.length">
                                <tr *ngFor="let discovery of discoverySessionDataObj.data">
                                    <td class="text-center">{{discovery.purchase_date | date: 'MM/dd/yyyy'}}</td>
                                    <td class="text-center"><a (click)="redirectToClientDashBoard(discovery)" class="tbl-col-link">{{discovery.client_name}}</a></td>
                                    <td class="text-center">{{discovery.brand_name}}</td>
                                    <td class="text-center">{{discovery.product_full_name}}</td>
                                    <td class="text-center">{{discovery.account_manager}}</td>
                                    <td class="text-center">
                                        <a class="link-blue-underline" (click)="toggleStatus('Discovery Session', discovery)">
                                            {{(discovery.discovery_session ==1)?"Completed":"Pending"}}
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr class="tr-text-center" *ngIf=!discoverySessionDataObj.data?.length>
                                <td colspan="8">
                                    No records are found
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>