<app-admin-dashboard-nav></app-admin-dashboard-nav>

<div class="page-content col-md-12 dashboard-page-content">
    <div class="container summary-container">
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right text-float-right"> # of Clients</h5>
                        <a [routerLink]="['/admin/orders']">
                            <i class="counter-icon fa fa-user-plus" aria-hidden="true"></i></a>
                        <span class="counter-count">
                            <span class="counter-init" data-from="25" data-to="942">{{clientsCount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right text-float-right"> # of Admin Users</h5>
                        <i class="counter-icon fa fa-users" aria-hidden="true"></i>
                        <span class="counter-count">
                            <span class="counter-init" data-from="25" data-to="942">{{adminUsersCount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> # of Companies</h5>
                        <i class="counter-icon fa fa-building-o"></i>
                        <span class="counter-count">
                                <span class="counter-init" data-from="0" data-to="99">{{companiesCount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> # of Forms Purchased</h5>
                        <i class="counter-icon fa fa-file-text-o"></i>
                        <span class="counter-count">
                                <span class="counter-init" data-from="0" data-to="67">{{formsPurchased}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> Amount Invoiced</h5>
                        <i class="counter-icon fa fa-money"></i>
                        <span class="counter-count">
                                $<span class="counter-init" data-from="0" data-to="356">{{invoicedAmount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> Amount Received</h5>
                        <i class="counter-icon  fa fa-money" aria-hidden="true"></i>
                        <span class="counter-count">
                        $<span class="counter-init" data-from="25" data-to="942">{{recievedAmount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right">Signed Contracts</h5>
                        <i class="counter-icon fa fa-check-square-o" aria-hidden="true"></i>
                        <span class="counter-count">
                        <span class="counter-init" data-from="25" data-to="942">{{countOfSignedContracts}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> # of Purchases</h5>
                        <i class="counter-icon fa fa-shopping-cart"></i>
                        <span class="counter-count">
                                <span class="counter-init" data-from="0" data-to="99">{{purchasesCount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> # of Brokers</h5>
                        <i class="counter-icon fa fa-user"></i>
                        <span class="counter-count">
                                <span class="counter-init" data-from="0" data-to="67">{{brokersCount}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="widget widget-seven background-blue">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase text-float-right"> # of Self Insured Plans</h5>
                        <i class="counter-icon fa fa-sellsy"></i>
                        <span class="counter-count">
                                <span class="counter-init" data-from="0" data-to="356">{{selfInsuredPlans}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>