<!--  View For Lookup screen-->
<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Lookup Options</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<!--  Container Start-->
<div class="section-container">
    <div class="col-md-12 border-ddd  width-100">
        <div class="row" style="padding: 10px 17px;">
            <div class="pull-right">
                <!--<a class="btn  btn-modal-blue" href="#add_lookup_name_modal" role="button" data-toggle="modal">Add Lookup Name</a>-->
                <a class="btn  btn-modal-blue" href="#add_lookup_options_modal" role="button" data-toggle="modal">Add Lookup Options</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="blue-grid-head">Lookup Name</th>
                        <th class="blue-grid-head">Lookup Options</th>
                        <th class="blue-grid-head">Status</th>
                        <th class="blue-grid-head">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="link-blue-underline" href="#add_lookup_options_modal" role="button" data-toggle="modal">Element Section</td>
                        <td>Basic information</td>
                        <td class="text-center"><a data-toggle="modal" class="color-blue"><u>Active</u></a></td>
                        <td class="text-center">

                            <a class="cursor-pointer" (click)="confirm()"><span class="fa fa-trash-o" tooltip="Update" placement="top"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="link-blue-underline" href="#add_lookup_options_modal" role="button" data-toggle="modal">Element Section</td>
                        <td>Large Employer Status</td>
                        <td class="text-center"><a data-toggle="modal" class="color-blue"><u>Active</u></a></td>
                        <td class="text-center">

                            <a class="cursor-pointer" (click)="confirm()"><span class="fa fa-trash-o" tooltip="Update" placement="top"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="link-blue-underline" href="#add_lookup_options_modal" role="button" data-toggle="modal">Element Section</td>
                        <td>Plan Offering Criteria</td>
                        <td class="text-center"><a data-toggle="modal" class="color-blue"><u>Active</u></a></td>
                        <td class="text-center">

                            <a class="cursor-pointer" (click)="confirm()"><span class="fa fa-trash-o" tooltip="Update" placement="top"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="link-blue-underline" href="#add_lookup_options_modal" role="button" data-toggle="modal">Element Section</td>
                        <td>Designated Government Entity</td>
                        <td class="text-center"><a data-toggle="modal" class="color-blue"><u>Active</u></a></td>
                        <td class="text-center">

                            <a class="cursor-pointer" (click)="confirm()"><span class="fa fa-trash-o" tooltip="Update" placement="top"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 padding10">
                <div class="dataTables_info" id="example3_info" role="status" aria-live="polite">Showing 1 to 4 of 48 entries</div>
            </div>
            <div class="col-md-9 text-right">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <span>First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <span aria-hidden="true">
                                            <i class="fa fa-arrow-left"></i>
                                        </span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <span aria-hidden="true">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <span>Last</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  Container End-->

<!-- Add Lookup Name Modal -->
<!--<div class="modal fade" id="add_lookup_name_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Add Lookup Option
                </h4>
            </div>
            <div class="modal-body row">

                <form>
                    <div class="col-md-12 padding-0">
                        <div class="col-md-12">
                            <div class="">
                                <div class=" form-group ">
                                    <label class="form-control-label" for="l0">Lookup Name *</label>

                                    <input type="text" class="form-control" placeholder="Lookup Name" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Save  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>

            </div>
        </div>

    </div>

</div>-->
<!-- ./Add Lookup Name Modal -->
<!-- Add Lookup options Modal -->
<div class="modal fade" id="add_lookup_options_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Add Lookup Option
                </h4>
            </div>
            <div class="modal-body row">

                <form>
                    <div class="col-md-12 padding-0">
                        <div class="col-md-12">
                            <div *ngIf="dropdownActive" class=" form-group ">
                                <div class="col-md-10">
                                    <label class="form-control-label" for="l0">Lookup Name *</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control">
                                             <option value="">Select</option>
                                            <option value="0">Package Type</option> 
                                            <option value="1">Element Section</option> 
                                           <option value="2">Product</option> 
                                            <option value="3">Person Suffix</option> 
                                     </select>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-sm btn-success" (click)="addOption()"> <i class="fa fa-plus"></i>   Add</button>
                                </div>
                            </div>

                            <div *ngIf="textboxActive" class=" form-group ">
                                <div class="col-md-10">
                                    <label class="form-control-label" for="l0">Lookup Name *</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Lookup Name" value="">
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-sm btn-success" (click)="saveOption()">Save</button>
                                    <button type="button" class="btn btn-sm btn-default" (click)="cancelOption()"><i class="fa fa-times"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class=" form-group ">
                            <div class="col-md-10">
                                <label class="form-control-label">Options *</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Options" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Save  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>

            </div>
        </div>

    </div>

</div>
<!-- ./Add Lookup options Modal -->