<!--  View For Lookup screen-->
<div class="page-header-band-breadcrumbs">
    <!--  For Bread Crumb-->
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Home</a>
            </li>
            <li>
                <a href="javascript: void(0);">Activity Log</a>
            </li>
        </ul>
    </div>
    <!-- End For Bread Crumb-->
</div>

<!--  Container Start-->
<div class="section-container">
    <div class="col-md-12 border-ddd  width-100">
        <div class="row">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="blue-grid-head">User Name</th>
                        <th class="blue-grid-head">Visited Url</th>
                        <th class="blue-grid-head">Visited Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-text-center">
                        <td>Mark Combs</td>
                        <td>www.acareporting.com/admin/master-data/products</td>
                        <td>08-02-2017 10:25:34 A.M.</td>
                    </tr>
                    <tr class="tr-text-center">
                        <td>Mark Combs</td>
                        <td>www.acareporting.com/admin/manage-e-files</td>
                        <td>08-02-2017 11:16:52 A.M.</td>
                    </tr>
                    <tr class="tr-text-center">
                        <td>Mark Combs</td>
                        <td>www.acareporting.com/admin/jobs</td>
                        <td>08-02-2017 12:35:16 P.M.</td>
                    </tr>
                    <tr class="tr-text-center">
                        <td>Mark Combs</td>
                        <td>www.acareporting.com/admin/search/search-results?key=Q</td>
                        <td>08-02-2017 05:43:02 P.M.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 padding10">
                <div class="dataTables_info" id="example3_info" role="status" aria-live="polite">Showing 1 to 4 of 48 entries</div>
            </div>
            <div class="col-md-9 text-right">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <span>First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <span aria-hidden="true">
                                            <i class="fa fa-arrow-left"></i>
                                        </span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <span aria-hidden="true">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <span>Last</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  Container End-->
