   <div class="col-md-12 pull-left">  
          <nav class="col-xs-12 cat__core__top-sidebar cat__core__top-sidebar--bg "style="padding: 10px;">
              <h5  class="pull-right cat__core__title d-block mb-0 pt-3">
            <span>Cargo Force &nbsp;&nbsp;<small><span class="text-muted">(EIN: 15-90010)</span></small></span>
        </h5>
    </nav>
    </div>

<div class="hidden-xs col-lg-3 col-md-3">


   
                <h3 class="fontcolor-blue margin-bottom-5 text-center">SUPPORT</h3>
                <div class="header-border-btm-blue"></div>               

                <div class="col-md-12">
                   <div class="widget col-md-12  padding-15 ">
                        <h4 class="text-center dark-blue-text ">
                             <img  class = "avatari" src="assets/images/client/contact us-icon.png"> &nbsp; CONTACT US</h4>
                        <p class=" setup-text-band">Managed Account - Assigned Agent</p>
                        <div class="addres-block">
                            <p><b>Amanda Combs</b></p>
                            <i>Account Manager</i>
                            <div class="padding-top-5">
                                <p>Direct: <span>888-663-6503</span></p>
                                <p>Email: <span>amanda@skyinsurancetech.com</span></p>
                                <p>Support Line: <span>888-663-6503</span></p>                               
                                <a class="link-blue" href = "mailto: amanda@skyinsurancetech.com"> Contact My Manager</a>
                            </div>
                        </div>
                    </div>
                </div>
           

</div> 








<!-- Edit Company Details Modal -->
<div class="modal fade" id="edit_company_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Edit Company Details
                </h4>
            </div>
            <div class="modal-body row">
                <form id="w0" method="post" enctype="multipart/form-data">
                    <div class="col-md-12 border-ddd widget padding-15">
                        <div class="col-md-12 padding-0">
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-control-label">Company Name <span class="red">*</span></label>
                                    <div class="form-group field-adminusers-first_name required">

                                        <input type="text" id="adminusers-first_name" class="form-control" name="AdminUsers[first_name]" value="Cargo Force">

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-control-label">EIN <span class="red">*</span></label>
                                    <div class="form-group field-adminusers-last_name required">
                                        <input type="text" id="adminusers-last_name" class="form-control" name="AdminUsers[last_name]" value="15-90010">

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Save  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>

            </div>
        </div>

    </div>

</div>

<!-- ./Edit Company Details Modal -->

<!-- CopyModal -->
<div class="modal fade" id="copy_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" data-dismiss="modal" aria-hidden="true">
								X
							</button>
                <h4 class="modal-title color-white" id="myModalLabel">
                    Copy
                </h4>
            </div>
            <div class="modal-body row">
                <form id="w0" method="post" enctype="multipart/form-data">
                    <div class="col-md-12 border-ddd widget padding-15">
                        <div class="col-md-12 padding-0">
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-control-label">Company Name <span class="red">*</span></label>
                                    <div class="form-group field-adminusers-first_name required">
                                        <select class="form-control">
                                            <option>-Select-</option>
                                           <option>Cargo 2</option>
                                           <option>Cargo force</option>
                                           <option>Company 1</option>
                                        </select>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-control-label">Companies <span class="red">*</span></label>
                                    <div class="form-group field-adminusers-last_name required">
                                        <select class="form-control" id="companies" multiple="multiple">
                                           <option value="1">Cargo 2</option>
                                           <option value="2">Cargo force</option>
                                           <option value="3">Company 1</option>
                                        </select>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer footer-background">

                <a href="" class="btn btn-modal-blue">
								Copy  
							</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">
								Cancel
							</a>

            </div>
        </div>

    </div>

</div>

<!-- ./Copy Modal -->


