<section class="page-content page-content-0 padding-0 back-lightblue">
    <div class="page-content-inner single-page-login-alpha" style="background-image: url(/assets/images/Login_bg2.jpg)">

        <!-- Login Alpha Page -->
        <div class="col-md-11 margin-top-20 alert-div">

        </div>
        <div class="single-page-block login padding-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-md-12 padding-left-30 padding-top-10">
                            <img class="sir-logo" src="./assets/images/acars_logo.png" alt="Benefit Client Template">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-page-desc">
            <span class="single-page-desc-text">ACA Reporting and Tracking Made Simple</span>
        </div>
        <div class="single-page-block-footer text-center">
            <ul class="list-unstyled list-inline">
                <li><a href="javascript: void(0);">18 Interchange Blvd, Greenville SC 29615</a></li>
                <li><a href="javascript: void(0);">User Agreement</a></li>
                <li><a href="javascript: void(0);">Privacy Policy</a></li>
                <li><a href="javascript: void(0);">Contact Us</a></li>
                <li><a href="javascript: void(0);">Help</a></li>
                <li><a href="javascript: void(0);">Subscribe</a></li>
            </ul>
            <div class="single-page-copyright">
                Copyright © 2017 Sky Tech Analytics
            </div>
        </div>
    </div>

    <!-- End Login Alpha Page -->
    <!-- End Page Scripts -->
</section>