<div class="section-container" style="top:45px !important">
<div class="col-md-12 ">    
 <app-vht-band ></app-vht-band>
<div class="col-md-9 col-xs-12">
 <app-vht-actions></app-vht-actions>
<!-- Continer starts Here -->
 <div class="col-md-12 widget padding-0 ">

   <div class="col-md-12 padding-0">
				<div class="nav-tabs-horizontal" style="
				background-color: rgba(19, 169, 204, 0.51);">
                    <ul class=" col-md-offset-2 nav nav-tabs border-bottom display-inblock" style="background: None !important;" role="tablist">
                    
                        <li class="nav-item hover">
                            <a class="nav-link plan-link color-white no-wrap " ng-reflect-klass="nav-link plan-link color-white no-wrap " [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','companydetails']">Company Details</a></li>
                        <li class="nav-item hover">
                            <a class="nav-link plan-link color-white no-wrap " ng-reflect-klass="nav-link plan-link color-white no-wrap "  [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','users']">Users</a>
                        </li>
                      
                    </ul>
                </div>   
				<div class="col-md-12 padding-10">
					<form id="w0" method="post" >

                    <div class="col-md-12 border-ddd widget padding-15">
						<div  class="col-md-12 padding-0">                        
                                  <label class="form-control-label col-md-3">Type of Employer <span class="red">*</span></label>
                                    <div  class="col-md-3 form-group field-adminusers-first_name required">
                                      <select class="form-control"><option value="">Regular</option>
									  <option value=""></option>
									  <option value=""></option></select>
							 <div class="help-block"></div>
                                    </div>
                        </div>
                   
						<div  class="col-md-12 padding-0">                        
                                  <label class="form-control-label col-md-3">Standard Measurement Period <span class="red">*</span></label>
                                    <div  class="col-md-3 form-group field-adminusers-first_name required">
                                       <input  aria-required="true" value="12" class="form-control" maxlength="15" name="AdminUsers[first_name]"  type="text"> 
							 <div class="help-block"></div>
                                    </div><div class="col-md-3">Months</div>
                        </div>
                   
						<div  class="col-md-12 padding-0">                        
                                  <label class="form-control-label col-md-3">Administrative Period <span class="red">*</span></label>
                                    <div  class="col-md-3 form-group field-adminusers-first_name required">
                                       <input  aria-required="true" value="1" class="form-control" maxlength="15" name="AdminUsers[first_name]"  type="text"> 
							 <div class="help-block"></div>
                                    </div><div class="col-md-3">Months</div>
                        </div>
                  
						<div  class="col-md-12 padding-0">                        
                                  <label class="form-control-label col-md-3">Stability Period <span class="red">*</span></label>
                                    <div  class="col-md-3 form-group field-adminusers-first_name required">
                                       <input  aria-required="true"  value="12" class="form-control" maxlength="15" name="AdminUsers[first_name]"  type="text"> 
							 <div class="help-block"></div>
                                    </div><div class="col-md-3">Months</div>
                        </div>
                 
						<div  class="col-md-12 padding-0">                        
                                  <label class="form-control-label col-md-3">First Standard Measurement  <span class="red">*</span></label>
                                    <div  class="col-md-3 form-group field-adminusers-first_name required">
                                       <input  aria-required="true" class="form-control" value="1/1/2015" maxlength="15" name="AdminUsers[first_name]"  type="text">
							 <div class="help-block"></div>
                                    </div><div class="col-md-3"> 1st of any month.</div>
                        </div>
                        <div style="float: right;" >
                            <a class="btn btn-modal-blue" role="button"> Save Changes</a>
                        </div>
                    </div>

                    

                </form>
				</div>

             
</div>  
 </div> 
<!-- Continer Ends Here -->
  </div>
  </div>
</div>
