<div class="product-container col-md-12 pull-left width-100">

	<!-- company info -->
	<nav class="col-xs-12 cat__core__top-sidebar cat__core__top-sidebar--bg" style="margin-bottom: 12px;">
		<div class="pull-right">
			<a class="btn btn-sm btn-outline-primary ladda-button" [routerLink]="['/client/',product,company,'reporting-check-list']" data-style="expand-right"><i class="fa fa-dashboard"></i> <span class="ladda-label">Company<span class="hidden-sm-down"> Dashboard</span></span><span class="ladda-spinner"></span></a>
		</div>
		<h5 class="cat__core__title d-block mb-0 pt-3">
			<span> Name: <span class="text-muted">Cargo Force</span></span>
			<span style="padding-left:10px;">EIN: <span class="text-muted">15-90010</span></span>
			<span style="padding-left:10px;"> Reporting Year: <span class="text-muted">2016</span></span>
		</h5>
	</nav>
	<!-- ./company info -->

    <div class="">
        <div class="col-md-12 border-ddd widget padding-0">

            <!-- Main Tabs -->
            <div class="search-header padding-10">
                <ul class="nav nav-pills col-md-12 main-pills" id="main_tab">
                    <li class="col-md-1"></li>
                    <li align="center" aria-expanded="true" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info']"><img class="avatar" id="main-anchor-1" src="assets/images/client/employer-info/account_setup_sel.png">
                        <p class="font-white margin-0">Basic Reporting Info</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','benefit-plan-info']"><img class="avatar" id="main-anchor-2" src="assets/images/client/employer-info/cost_projectionsl.png">
                        <p class="font-white margin-0">Benefit Plan Info</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','plan-classes']"><img class="avatar" id="main-anchor-3" src="assets/images/client/employer-info/monthly_inputs.png">
                        <p class="font-white margin-0">Plan Classes</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','payroll']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Payroll</p>
                    </li>
                    <li align="center" class="col-md-2 check-changed" [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'employer-info','enrollments']"><img class="avatar" id="main-anchor-4" src="assets/images/client/employer-info/reports.png">
                        <p class="font-white margin-0 ">Enrollments</p>
                    </li>
                    <li class="col-md-1"></li>
                </ul>
            </div>
            <!-- ./Main Tabs -->


            <div class="tab-content clearfix">
                <div aria-expanded="true" class="tab-pane active" id="account_setup_block">
                    <!-- Sub category Tabs -->
                    <div class="col-md-12  padding-10 ul-block">
                        <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs" style="min-width:66%;">
                            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','add-plan-class']">
                                    <div class="inner-block-digits pull-left">1</div>
                                    <span class="inner-block-text">Coverage Type and Waiting Period</span></a>
                            </li>
                            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','add-plan-class','coverage-offered']">
                                    <div class="inner-block-digits pull-left">2</div>
                                    <span class="inner-block-text">Type of Coverage Offered</span></a>
                            </li>
                            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-3">
                                <a [routerLink]="['/client/',product,company,'employer-info','plan-classes','add-plan-class','employee-contributions']">
                                    <div class="inner-block-digits pull-left">3</div>
                                    <span class="inner-block-text">Employee Contributions</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- ./Sub category Tabs -->

                    <div class="tab-content clearfix">
                        <div aria-expanded="true" class="tab-pane active" id="account_setup_block">

                            <div class="col-md-12 padding-0">
                                <div class="tab-content clearfix">
                                    <div class="tab-pane active " id="planbasics" role="tabpanel">

                                        <div class="col-md-12 padding-0">
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane active " id="planbasics" role="tabpanel">

                                                    <form action="/firm-plan/save-plan-basics" class="form-vertical" enctype="multipart/form-data" id="planbasics_form" method="post">
                                                        <div class="border-top-bottom-ddd col-md-12 padding-0">
                                                            <div class="container margin-top-30 margin-bottom-10">

                                                                <!-- form content -->
                                                                <div class="col-md-12">
                                                                    <div>

                                                                        <div class="form-group">
                                                                            <div class="col-sm-12">
                                                                                <span class="form-control-label">
															<span>"Pay or Play" rule require employees to offer
																coverage that is affordable based upon a percentage of
																each employee's household income. Employers would rarely
																know this number, so the IRS allows for assumptions to
																be made called "safe harbors"</span>
                                                                                <label style="margin-top:5px;">11.1&nbsp;&nbsp;&nbsp;Please choose a safe harbor for reporting purposes. This safe harbor will apply for this specific plan class only.</label>

                                                                                <div>
                                                                                    <input name="TblAcaEmpContributions[safe_harbor]" id="lock-back-method" type="radio" value="1">&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                    <span class="control-checkbox">Assume W2 earnings is
																	household earnings (W2 safe harbor)</span> &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                </div>

                                                                                <div>
                                                                                    <input name="TblAcaEmpContributions[safe_harbor]" type="radio" value="2">&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                    <span class="control-checkbox">Assume household earnings
																	meets federal poverty line (federal poverty line safe
																	harbor)</span>
                                                                                </div>

                                                                                <div>
                                                                                    <input name="TblAcaEmpContributions[safe_harbor]" type="radio" value="3">&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                    <span class="control-checkbox">Use employee's rate of
																	pay to determine household earnings (rate of pay safe
																	harbor)</span>
                                                                                </div>

                                                                                <div>
                                                                                    <input name="TblAcaEmpContributions[safe_harbor]" type="radio" value="4">&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                    <span class="control-checkbox">Do not apply a safe
																	harbor to this plan class</span>
                                                                                </div>

                                                                                </span>

                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group" style="margin-top:5px; ">
                                                                            <div class="col-sm-12">
                                                                                <label class="form-control-label">11.2&nbsp;&nbsp;&nbsp;Were employee plan contributions for this class consistent across all employees, versus specific to each employee based upon age, salary or other criteria?</label>
                                                                            </div>
                                                                            <div class="col-sm-12 padding-left-25">
                                                                                <label class="radio-inline">
                                                                                <input type="radio" [(ngModel)]="elevenptwo" name="TblAcaEmpContributions[employee_plan_contribution]" value="1"> Yes
                                                                            </label>
                                                                                <label class="radio-inline">
                                                                             <input type="radio" [(ngModel)]="elevenptwo"  name="TblAcaEmpContributions[employee_plan_contribution]" value="2"> No
                                                                           </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12" *ngIf="elevenptwo == '1'">
                                                                            <span class="form-control-label">11.2.1&nbsp;&nbsp;&nbsp;What were the lowest cost employee-only premiums each month for all employees in the class?
															<div class="col-sm-12 padding-left-10 paddingTopBottom10">
																<div class="col-sm-6 padding-left-10 paddingTopBottom10">
																	<span>January</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>

                                                                                <input type="text" name="TblAcaEmpContributionsPremium[premium_value][1]" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>February</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>March</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>April</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10 ">
                                                                            <span>May</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>June</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>July</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>August</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>September</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>October</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>November</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6 padding-left-10 paddingTopBottom10">
                                                                            <span>December</span>
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">$ </span>
                                                                                <input type="text" class="form-control form-height price reset-emp-contribution" placeholder="0.00" maxlength="10">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- ./form content -->
                                                </div>
                                            </div>
                                            <div align="right" class="col-md-12 padding-0 bg-sky-blue " style="border-top: none;">
                                                <div class="modal-footer-btn padding-15">
                                                    <a class="btn btn-default check-changed" type="button">Cancel</a> &nbsp;
                                                    <a class="btn btn-modal-blue" type="button">Save & Exit</a> &nbsp;
                                                    <a class="btn btn-modal-blue  pull-right " type="submit">Save & Continue</a>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>