<div class="row section-container">
    <div class="col-md-12 widget widget-two no-padding">
        <div class="widget-header-11">
            <strong>Acitivity Log</strong>
        </div>
        <div class="clearfix1">
            <table class="table table-bordered table-hover" id="">
                <thead>
                    <tr class="tr-grid-header">
                        <th class="blue-grid-head">User Name</th>
                        <th class="blue-grid-head">Visited URL</th>
                        <th class="blue-grid-head">Visited Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alex Mark</td>
                        <td>www.acareporting.com/admin/manage-e-files</td>
                        <td>08-02-2017 10:25:34 A.M</td>
                    </tr>
                    <tr>
                        <td>Alex Mark</td>
                        <td>www.acareporting.com/client/dashboard</td>
                        <td>08-02-2017 10:25:34 A.M</td>
                    </tr>
                    <tr>
                        <td>Alex Mark</td>
                        <td>www.acareporting.com/admin/manage-e-files</td>
                        <td>08-02-2017 10:25:34 A.M</td>
                    </tr>
                    <tr>
                        <td>Alex Mark</td>
                        <td>www.acareporting.com/admin/manage-e-files</td>
                        <td>08-02-2017 10:25:34 A.M</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 padding10">
                <div aria-live="polite" class="dataTables_info" id="example3_info" role="status">Showing 1 to 4 of 48 entries</div>
            </div>
            <div class="col-md-9 text-right">

                <ul class="pagination">
                    <li class="first disabled"><span>first</span></li>
                    <li class="prev disabled"><span>previous</span></li>
                    <li class="active"><a data-page="0">1</a></li>
                    <li><a data-page="1">2</a></li>
                    <li><a data-page="2">3</a></li>
                    <li><a data-page="3">4</a></li>
                    <li><a data-page="4">5</a></li>
                    <li class="next"><a data-page="1">next</a></li>
                    <li class="last"><a data-page="8">last</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>