<div class="row client-section-container">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="fontcolor-blue margin-bottom-5 text-center">WELCOME</h3>
        <div class="row header-border-btm-blue"></div>
        <div class="row border-ddd widget box-shadow widget-six">
            <img src='../src/assets/images/3-primary-contact.png' class="setupImg">
            <p class="setup-text-band">Please help us setup your account:</p>
            <div align="center">
                <p class="gray-text">Will you be signing the primary contact completing the report?</p>
            </div>
            <div class="padding-15">
                <ul class="ul-inline">
                    <li class="previous-link">
                        <a [routerLink]="" (click)="backToContractSignStep()">&nbsp;<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Previous</a>
                    </li>
                    <li style="padding-left: 23%;">
                        <a [routerLink]="" (click)="nextAgreementStep()" class="btn btn-primary btn-blue">Yes</a>
                        <a (click)="setup()" class="btn btn-default">No</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 margin-bottom-35" *ngIf="isSetup">
        <div class="modal-content setup-no-option-div">
            <div class="modal-header modal-header-color">
                <button aria-hidden="true" class="close-modal modal-opacity close-modal-blue" (click)="close()">
                                                        X
                                                    </button>
                <h5 class="modal-title color-white" id="myModalLabel">
                    Please Enter the Primay Contact Information
                </h5>
            </div>
            <form [formGroup]="primaryContractForm" (ngSubmit)="onSubmit()">
                <div class="modal-body row">
                    <div class="col-md-12 padding-0">
                        <div class="col-md-4">
                            <div class="">
                                <label class="form-control-label">First Name <span class="red">*</span></label>
                                <div class="form-group required" [ngClass]="{'has-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'first_name')}">
                                    <input type="text" class="form-control" [formControl]="primaryContractForm.controls['first_name']" [(ngModel)]="clientDashBoardService.primaryContractModel.first_name"
                                        [ngClass]="{'form-control-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'first_name')}"
                                        maxlength="34">
                                    <span class="help-block help-block-error" *ngIf="!primaryContractFormErrors.first_name.valid">{{primaryContractFormErrors.first_name.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="">
                                <label class="form-control-label">Last Name <span class="red">*</span></label>
                                <div class="form-group field-adminusers-last_name required" [ngClass]="{'has-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'last_name')}">
                                    <input type="text" class="form-control" [formControl]="primaryContractForm.controls['last_name']" [(ngModel)]="clientDashBoardService.primaryContractModel.last_name"
                                        [ngClass]="{'form-control-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'last_name')}"
                                        maxlength="34">
                                    <span class="help-block help-block-error" *ngIf="!primaryContractFormErrors.last_name.valid">{{primaryContractFormErrors.last_name.message}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 padding-0 ">
                        <div class="col-md-4">
                            <label class="form-control-label" for="user-username">Email Address <span class="red">*</span></label>
                            <div class="form-group field-user-username" [ngClass]="{'has-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'email_id')}">
                                <input type="text" id="adminusers-email" class="form-control" aria-required="true" [formControl]="primaryContractForm.controls['email_id']"
                                    [(ngModel)]="clientDashBoardService.primaryContractModel.email_id" [ngClass]="{'form-control-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'email_id')}"
                                    maxlength="34">
                                <span class="help-block help-block-error" *ngIf="!primaryContractFormErrors.email_id.valid">{{primaryContractFormErrors.email_id.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label">Phone <span class="red">*</span></label>
                            <div class="form-group field-adminusers-phone required" [ngClass]="{'has-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'mobile_number')}">
                                <input type="text" [textMask]="{mask: mask}" id="adminusers-phone" class="form-control" [formControl]="primaryContractForm.controls['mobile_number']"
                                    [(ngModel)]="clientDashBoardService.primaryContractModel.mobile_number" [ngClass]="{'form-control-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'mobile_number')}"
                                    aria-required="true" placeholder="(___) ___-____" maxlength="34">
                                <span class="help-block help-block-error" *ngIf="!primaryContractFormErrors.mobile_number.valid">{{primaryContractFormErrors.mobile_number.message}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label">Extension</label>
                            <div class="form-group field-adminusers-extension" [ngClass]="{'has-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'phone_extension')}">
                                <input type="text" id="adminusers-extension" OnlyNumber="true" class="form-control numbers" [formControl]="primaryContractForm.controls['phone_extension']"
                                    [(ngModel)]="clientDashBoardService.primaryContractModel.phone_extension" [ngClass]="{'form-control-danger': !clientDashBoardService.isValid(primaryContractForm,primaryContractFormErrors,'phone_extension')}"
                                    value="" maxlength="6">
                                <span class="help-block help-block-error" *ngIf="!primaryContractFormErrors.phone_extension.valid">{{primaryContractFormErrors.phone_extension.message}}</span>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-modal-blue" [disabled]="!primaryContractForm.valid || submitted == true">
                        	Save </button>
                        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>