<div class="col-sm-12 page-header-band-search">
    <div class="col-xs-12 dashboard-links">
        <ul class="top-sub-navigation">
            <li [routerLink]="['/admin/summary']" [routerLinkActive]="['active']"><a>Summary</a></li>
            <li [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']"><a>Outstandings</a></li>
            <li [routerLink]="['/admin/financials']" [routerLinkActive]="['active']"><a>New Purchases</a></li>
            <li [routerLink]="['/admin/new-sales']" [routerLinkActive]="['active']"><a>New Sales</a></li>
            <li [routerLink]="['/admin/admin-users']" [routerLinkActive]="['active']"><a>Admin Users</a></li>
            <li [routerLink]="['/admin/processing']" [routerLinkActive]="['active']"><a>Processing</a></li>
            <li [routerLink]="['/admin/aca-forms']" [routerLinkActive]="['active']"><a>ACA Forms</a></li>
        </ul>
    </div>
</div>