<!-- <div class="page-header-band-breadcrumbs">
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Videos</a>
            </li>
        </ul>
    </div>
</div> -->
<app-admin-masterData-nav></app-admin-masterData-nav>

<!--  Container Start-->
<!-- <div class="page-content col-md-12 section-page-content"> -->
<div class="page-content col-md-12 dashboard-page-content">
    <div class="container">
        <div class="col-md-12 width-100 border-ddd">
            <div class="table-caption-div">
            </div>
            <div class="row">
                <caption class="datatable-caption">Videos</caption>
                <table id="exampleCompany" class="table table-bordered table-hover">
                    <thead>
                        <tr class="tr-grid-header">
                            <th class="blue-grid-head">S.NO.</th>
                            <th class="blue-grid-head">Screen</th>
                            <th class="blue-grid-head">URL</th>
                            <th class="blue-grid-head">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 9%;text-align: center;">1</td>
                            <td>Company List</td>
                            <td style="width: 50%;"><input id="link_1" type="text" class="form-control" value="https://www.youtube.com/embed/J-ycHpJAVsc" style="width: 93%;"></td>
                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(1);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">2</td>
                            <td>Company Users</td>
                            <td style="width: 50%;"><input id="link_2" type="text" class="form-control" value="https://www.youtube.com/embed/W7dvkeZdqNs" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(2);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">3</td>
                            <td>Basic Reporting Info</td>
                            <td style="width: 50%;"><input id="link_3" type="text" class="form-control" value="https://www.youtube.com/embed/4ROjdwfai-U" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(3);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">4</td>
                            <td>Benefit Plan Info</td>
                            <td style="width: 50%;"><input id="link_4" type="text" class="form-control" value="https://www.youtube.com/embed/ZZhgFu9D5Vc" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(4);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">5</td>
                            <td>Payroll Data</td>
                            <td style="width: 50%;"><input id="link_5" type="text" class="form-control" value="https://www.youtube.com/embed/nblUGPsVD-g" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(5);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">6</td>
                            <td>Medical Plan Enrollment &nbsp;Data</td>
                            <td style="width: 50%;"><input id="link_6" type="text" class="form-control" value="https://www.youtube.com/embed/D3kfHrPBy2s" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(6);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">7</td>
                            <td>Validate Company Data</td>
                            <td style="width: 50%;"><input id="link_7" type="text" class="form-control" value="https://www.youtube.com/embed/D3kfHrPBy2sdfdfdf" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(7);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                        <tr>
                            <td style="width: 9%;text-align: center;">8</td>
                            <td>Managa ACA Reporting Forms</td>
                            <td style="width: 50%;"><input id="link_8" type="text" class="form-control" value="https://www.youtube.com/embed/D3kfHrPBy2s" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(8);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>

                        <tr>
                            <td style="width: 9%;text-align: center;">9</td>
                            <td>Client Dashboard</td>
                            <td style="width: 50%;"><input id="link_9" type="text" class="form-control" value="https://www.youtube.com/embed/vFIy7wSAnHg" style="width: 93%;"></td>

                            <td style="text-align: center;"><a data-toggle="tooltip" data-placement="bottom" title="Click to update video links" onclick="Updatevideolink(9);"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                            <!-- 		<td style="text-align: center;"><a
                  href="/admin/company/editform"><i
                    class="fa fa-edit" style="cursor: pointer;"></i></a></td>
                -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>