<div class="section-container" style="top:45px !important">
<div class="col-md-12 ">    
 <app-vht-band ></app-vht-band>
<div class="col-md-9 col-xs-12">
 <app-vht-actions></app-vht-actions>
<!-- Continer starts Here -->
 <div class="col-md-12 widget padding-0 ">

   <div class="col-md-12 padding-0">
    <div class="nav-tabs-horizontal" style="
    background-color: rgba(19, 169, 204, 0.51);">
                    <ul class=" col-md-offset-2 nav nav-tabs border-bottom display-inblock" style="background: None !important;" role="tablist">
                       
                        <li class="nav-item hover">
                            <a class="nav-link plan-link color-white no-wrap " ng-reflect-klass="nav-link plan-link color-white no-wrap " [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','companydetails']">Company Details</a></li>

                         <li class="nav-item hover">
                            <a class="nav-link plan-link color-white no-wrap " ng-reflect-klass="nav-link plan-link color-white no-wrap "  [routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','users']">Users</a>
                        </li>
                        <!--<li class="nav-item hover">
                            <a class="nav-link plan-link color-white dropdown-icon-li no-wrap " ng-reflect-klass="nav-link plan-link color-white dropdown-icon-li no-wrap"[routerLinkActive]="['active']" [routerLink]="['/client/',product,company,'setup','aboutvht']">About Hourly Tracking</a>
                        </li>-->
                    </ul>
                </div>            
</div>  
 </div> 
<!-- Continer Ends Here -->
  </div>
  </div>
</div>
