<!-- <div class="page-header-band-breadcrumbs">
    <div class="blue-breadcrumb col-md-12 padding-0">
        <a class="breadcrumb-back-btn cursor-pointer">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <ul class="list-unstyled breadcrumb header-breadcrumb">
            <li>
                <a href="javascript: void(0);">Master Data</a>
            </li>
            <li>
                <a href="javascript: void(0);">Form Pricing</a>
            </li>
        </ul>
    </div>
</div> -->
<app-admin-masterData-nav></app-admin-masterData-nav>

<!--  Container Start-->
<!-- <div class="page-content col-md-12 section-page-content"> -->
<div class="page-content col-md-12 dashboard-page-content">
    <div class="container">
        <div class="col-md-12 width-100">
            <div class="col-md-12 form-pricing-div border-ddd  width-100">
                <div class="table-caption-div">
                </div>
                <div class="row">
                    <caption class="datatable-caption">Form Pricing</caption>
                    <tabset>
                        <tab heading="Employee">
                            <table id="exampleCompany" class="table table-bordered table-hover">
                                <thead>
                                    <tr class="tr-grid-header">

                                        <th class="blue-grid-head">S.No</th>
                                        <th class="blue-grid-head">Details</th>
                                        <th class="blue-grid-head">Current Value</th>
                                        <th class="blue-grid-head">Revised Value</th>
                                        <th class="blue-grid-head">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>0-1000 then charge per form </td>
                                        <td>0</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_10"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>1001-5000 then charge per form </td>
                                        <td>2342230</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_11"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>5001-10,000 then charge per form </td>
                                        <td>1.7</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_12"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>10,001-25,000 then charge per form </td>
                                        <td>1.65</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_13"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>25,001-50,000 then charge per form</td>
                                        <td>1.6</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_14"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>50,001-75,000 then charge per form </td>
                                        <td>1.55</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_15"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>75,001-100,000 then charge per form </td>
                                        <td>1.5</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_16"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>&gt;100,001 then charge per form</td>
                                        <td>1.35</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_17"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Bulk Mailing fee</td>
                                        <td>0</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" style="width:91%;" id="price_19"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Employer">
                            <table id="exampleCompany" class="table table-bordered table-hover">
                                <thead>
                                    <tr class="tr-grid-header">
                                        <th class="blue-grid-head">S.No</th>
                                        <th class="blue-grid-head">Details</th>
                                        <th class="blue-grid-head">Current Value</th>
                                        <th class="blue-grid-head">Revised Value</th>
                                        <th class="blue-grid-head">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>0-1000 then charge per form</td>
                                        <td>1.1</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_1"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>1001-5000 then charge per form </td>
                                        <td>1.25</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_2"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>5001-10,000 then charge per form </td>
                                        <td>1.5</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_3"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>10,001-25,000 then charge per form </td>
                                        <td>1.15</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_4"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>25,001-50,000 then charge per form </td>
                                        <td>1.1</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_5"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>50,001-75,000 then charge per form </td>
                                        <td>1.05</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_6"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>75,001-100,000 then charge per form </td>
                                        <td>1</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_7"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>&gt;100,001 then charge per form </td>
                                        <td>0.85</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_8"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>packaging and shipping cost </td>
                                        <td>50</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_9"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Bulk Mailing fee</td>
                                        <td>25</td>
                                        <td>
                                            <div class="currencyinput col-md-1 price-symbol">$</div><input type="text" class="form-control no-padding price" maxlength="10" style="width:91%;" id="price_18"></td>
                                        <td style="text-align: center;"><a placement="bottom" tooltip="Click to update Form Pricing"><i class="fa fa-floppy-o" style="cursor: pointer;"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>