<!-- company info -->
<client-company-info [companyData]="companyDetails"></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
<client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<!-- Sub Tabs -->
<div class="col-xs-12 client-reporting-subTabs-band-fixed">
    <div class="col-md-12 padding-10 ul-block">
        <ul class="nav nav-pills nav-wizard inner-block-ul" id="manage-plan-tabs">
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-1">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info']">
                    <div class="inner-block-digits pull-left">1</div>
                    <span class="inner-block-text">Basic Info</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-2">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','emp-status-tracking']">
                    <div class="inner-block-digits pull-left">2</div>
                    <span class="inner-block-text">Large Emp. Status & Tracking</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-3">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','plan-offering-criteria']">
                    <div class="inner-block-digits pull-left ">3</div>
                    <span class="inner-block-text">Plan Offering Criteria
                    </span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-4">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','designated-govt-entity']">
                    <div class="inner-block-digits pull-left ">4</div>
                    <span class="inner-block-text">Designated Govt. Entity </span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-5">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','aggregated-group']">
                    <div class="inner-block-digits pull-left ">5</div>
                    <span class="inner-block-text">Aggregated Group</span></a>
            </li>
            <li class="inner-block-li" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="anchor-pb-5">
                <a [routerLink]="['/client/',product,company,'employer-info','basic-reporting-info','anything-else']">
                    <div class="inner-block-digits pull-left ">6</div>
                    <span class="inner-block-text">Anything Else</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- ./Sub Tabs -->

<div class="product-container-with-sub-tabs col-md-12">
    <div class="col-md-12 padding-0">
        <form class="form-vertical">
            <div class="col-md-12 padding-0 emp-info-font" style="margin-bottom:10px;">
                <div id="employer_info_container" [style.width.px]="employer_info_container_width">
                    <!-- form content -->
                    <div class="row">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-6">
                                <div class="form-group inl-q-a">
                                    <div>
                                        <label class="control-label span-label" [innerHTML]="labelsData[0].element_serial_id"></label>
                                    </div>
                                    <div class="tabSpace">
                                        <label class="control-label span-label" [innerHTML]="labelsData[0].element_label"></label>
                                        <div>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="empStatusData.ale_applicable" name="ale_applicable" value="1"> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="empStatusData.ale_applicable" name="ale_applicable" value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group inl-q-a">
                                    <div>
                                        <label class="control-label span-label" [innerHTML]="labelsData[1].element_serial_id"></label>
                                    </div>
                                    <div class="tabSpace">
                                        <label class="control-label span-label" [innerHTML]="labelsData[1].element_label"></label>
                                        <div>
                                            <label class="radio-inline">
                                                        <input type="radio" [(ngModel)]="empStatusData.ale_first_applicable" name="ale_first_applicable" value="1"> Yes
                                                    </label>
                                            <label class="radio-inline">
                                                        <input type="radio" [(ngModel)]="empStatusData.ale_first_applicable" name="ale_first_applicable" value="0"> No
                                                </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-12">
                                <div class="form-group inl-q-a">
                                    <div>
                                        <label class="control-label span-label" [innerHTML]="labelsData[2].element_serial_id"></label>
                                    </div>
                                    <div class="tabSpace">
                                        <label class="control-label span-label" [innerHTML]="labelsData[2].element_label"></label>
                                        <div style="margin-bottom: 0px;">
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="empStatusData.ale_category" name="ale_category" value="1">An ALE
                                                    with fewer than 100 full time employees (including full
                                                    time equivalent employees).
                                                </label>
                                        </div>
                                        <div style="margin-top: 0px;">
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="empStatusData.ale_category" name="ale_category" value="2">An ALE
                                                    with more than 100 full time employees (including full
                                                    time equivalent employees).
                                                </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./form content -->
                </div>
            </div>
            <div align="right" class="col-md-12 padding-0 bg-sky-blue " style="border-top: none;">
                <div class="modal-footer-btn padding-15">
                    <a class="btn btn-default check-changed" (click)="redirectToDashboard()" type="button">Cancel</a> &nbsp;
                    <a class="btn btn-warning check-changed" (click)="redirectToPrevious()" type="button">Previous</a> &nbsp;
                    <button class="btn btn-modal-blue" (click)="formSubmit('exit')">Save & Exit</button> &nbsp;
                    <button class="btn btn-modal-blue  pull-right " (click)="formSubmit('next')">Save & Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>