<!-- company info -->
<client-company-info [companyData]="companyDetails"></client-company-info>
<!-- ./company info -->
<!-- Main Tabs -->
<client-reporting-band></client-reporting-band>
<!-- ./Main Tabs -->

<div class="product-container col-md-12">
    <div class="">
        <div class="col-md-12 border-ddd widget padding-0">
            <div class="tab-content clearfix">
                <div aria-expanded="true" class="tab-pane active" id="account_setup_block">

                    <div class="col-md-12 padding-0">
                        <div class="tab-content clearfix">
                            <div class="tab-pane active " id="planbasics" role="tabpanel">

                                <!-- Page Content -->
                                <div class="container padding-0">
                                    <div class="row " style="padding: 10px 17px;">
                                        <a class="btn btn-modal-blue pull-right" [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class']"><i class="fa fa-plus"></i> Add Plan Class</a>
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="table-responsive kv-grid-container" style="overflow: auto">

                                            <table class="table table-hover table-bordered table-striped" [mfData]="planClasses" #pcData="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

                                                <thead>
                                                    <tr class="tr-blue-grid-head">
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="plan_class_number">Plan Class #</mfDefaultSorter>
                                                        </th>
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="plan_class_name">Plan Class Name</mfDefaultSorter>
                                                        </th>
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="plan_type">Plan Type</mfDefaultSorter>
                                                        </th>
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="waiting_period">Waiting Period</mfDefaultSorter>
                                                        </th>
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="mv_coverage">MV Coverage</mfDefaultSorter>
                                                        </th>
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="mv_months">MV Months</mfDefaultSorter>
                                                        </th>
                                                        <th class="text-center">
                                                            <mfDefaultSorter by="mec">MEC</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngIf="pcData.data?.length">
                                                        <tr *ngFor="let item of pcData.data">
                                                            <td class="text-center">{{item.plan_class_number}}</td>
                                                            <td class="text-center"><a class="link-blue-underline" [routerLink]="['/client/',product,company,'employer-info','plan-classes','plan-class', globalService.encode(item.plan_class_id)]">{{item.plan_class_name}}</a></td>
                                                            <td class="text-center">{{getItemName("plan_type", item.plan_offer_type)}}</td>
                                                            <td class="text-center">{{item.plan_type_doh ? getItemName("waiting_period", item.plan_type_doh) : '-'}}</td>
                                                            <td class="text-center">{{item.coverageOffered?.employee_mv_coverage ? ((item.coverageOffered.employee_mv_coverage == 1) ? 'Yes': 'No') : '-'}}</td>
                                                            <td class="text-center">{{item.coverageOffered?.mv_coverage_months ? getItemName("months", item.coverageOffered.mv_coverage_months) : '-'}}</td>
                                                            <td class="text-center">{{item.coverageOffered ? getItemName("MEC", item.coverageOffered) : '-'}}</td>
                                                        </tr>
                                                    </ng-container>
                                                    <tr class="tr-text-center" *ngIf=!pcData.data?.length>
                                                        <td colspan="10">
                                                            No records are found
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="10">
                                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Page Content -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>